.schedule-floating-item {
	position: absolute;
	background-color: white;
	box-sizing: border-box;
	padding: 13px 20px 20px;
	top: 50%;
	left: 50%;
	z-index: 200;
	border: 1px solid #c8c8c8;
	border-top: 3px solid #64b8df;
	-webkit-box-shadow: 0 0 3px 0 rgba(86, 180, 239, 0.7);
	-moz-box-shadow: 0 0 3px 0 rgba(86, 180, 239, 0.7);
	box-shadow: 0 0 3px 0 rgba(86, 180, 239, 0.7);
}

.schedule-floating-item .scheduler-item-caption {
	text-align: left;
	margin-bottom: 6px;
}

.schedule-floating-item .scheduler-item-caption label {
	overflow: hidden;
	text-overflow: ellipsis;
	color: #779bce;
	font-size: 1.1em;
}
