.content-mjgroup-wrap {
	display: table-cell;
	vertical-align: top;
	position: relative;

	.content-mjgroup {
		display: table;
		table-layout: fixed;
		position: relative;
		margin: 0;
		padding: 0;
		width: 100%;
	}
}
