.content-button-element-wrap {
	position: relative;
	width: 100%;

	img {
		width: 100%;
		height: 100%;
	}
}

.content-button-align-wrap {
	.inline-text-edit-wrap .inline-text-edit-el {
		overflow: hidden;
		min-height: auto;
		padding: 0;

		br[type="_moz"] {
			display: none;
		}
	}
}