.text-element-wrap {
	width: 100%;
	.inline-text-edit-wrap .inline-text-edit-el {
		min-height: 26px;
		padding: 0;
		overflow: visible;
		z-index: auto;
		p {
			display: block;
			margin: 13px 0; 
		}
	}
	.inline-text-edit-wrap a {
		pointer-events: none;
	}
}