.content-navbar-link-wrap {
    display: inline-block;

    .inline-text-edit-wrap .inline-text-edit-el {
        min-height: auto;
        min-width: 10px;
        padding: 0;
        overflow: initial;
    }
}