.t-label-nowordwrap {
	white-space: nowrap;
}
.t-label {
	overflow: hidden;
	display: inline-block;
	width: 100%;
	font-size: 1.4em;
}
.t-label-is-required:after {
	content: "*";
	color: #f15440;
	margin-left: 1px;
	font-size: 11px;
}
.grid-layout .control-width-15 .t-label {
	font-size: 1.3em;
	font-family: "Segoe UI";
}