.account-mini-page-container {
	width: 380px;

	.header-mini-wrap {
		display: block;

		.t-btn-wrapper {
			margin-top: 0;
		}
	}

	.account-photo-container {
		display: flex;

		.ts-image-edit-inner-container {
			width: auto;
			height: auto;
		}

		.ts-image-edit-wrap {
			width: 100% !important;
			height: 44px !important;
			order: -1;
		}

		img {
			width: 40px;
			height: 40px;
			border-radius: 0;
			margin-top: 4px;
		}
	}

	.show-map-button-image-wrap {
		margin-top: -10px;

		.show-map-button-image {
			border: none;
			width: 32px;
			height: 32px;
			background-repeat: no-repeat;
			background-position: center;
		}
	}
}

.account-header-buttons {
	display: flex;
}

.show-overlay {
	.header-mini-wrap {
		display: flex;
	}
}