.account-relationship.detail {

	.relationship-mode-button {
		border-top-right-radius: 1px;
		border-bottom-right-radius: 1px;
	}

	.datagrid-mode-button {
		border-top-left-radius: 1px;
		border-bottom-left-radius: 1px;
	}

	.relationship-mode-button, .datagrid-mode-button {
		padding-left: 0.308em;
		padding-right: 0.462em;
	}

	.mode-button-pressed {
		background: #e4eaf9;
	}

	.account-relationship-chart {
		height: 450px;
	}
}
