.grid .participant-name-container {	
	.name-label {
		display: inline;
		font-family: "bpmonline UI", serif;
		font-size: inherit;
	}
	.invitation-state {
		padding: 0px;
		margin-right: 8px;
		margin-top: 2px;
		cursor: default;
		float: left;
	}
	.invitation-state .t-btn-image {
		width: 16px;
		height: 16px; 
	}
}