@backgroundcolor: #e7e7e7;
@footeritemcolor: #757575;
@iconsize: 16px;
.flexcontainer {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

.dcm-actions-dashboard-module .dashboard-item-clickable,
.actions-dashboard-module .dashboard-item-clickable {
	cursor: pointer;
}

.dashboard-item-content {
	color: #181818;
	.dashboard-item {
		width: auto;
		max-width: 100%;
	}
}

.dcm-actions-dashboard-module .dashboard-item-clickable:hover,
.actions-dashboard-module .dashboard-item-clickable:hover {
	text-decoration: underline;
}

.center-main-container div.dcm-actions-dashboard-module,
.center-main-container div.actions-dashboard-module {
	background-color: @backgroundcolor;
}

.dcm-actions-dashboard-module .ts-tabpanel-items .ts-tabpanel-active-item-arrow:after,
.actions-dashboard-module .ts-tabpanel-items .ts-tabpanel-active-item-arrow:after {
	border-bottom-color: @backgroundcolor;
}

.dcm-actions-dashboard-module .schema-wrap.one-el,
.actions-dashboard-module .schema-wrap.one-el {
	min-width: 0;
}

.stage-wrapper div:before {
	border-left-color: @backgroundcolor;
}

.actions-dashboard-container .dashboard-container:empty {
	display: none;
}

.actions-dashboard-container {
	.actions-dashboard-content {
		.ts-tabpanel-items {
			li:not(.ts-tab-image) {
				color: #0D2E4E;
				&.ts-tabpanel-active-item-arrow {
					color: #004FD6;
				}
			}
		}
	}

	.dashboard-container {
		padding-top: 14px;
		margin: 0 -3px 0 0;
		.flexcontainer;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		.section-wrap {
			flex-grow: 1;
		}
		.dashboard-container-item {
			.t-label {
				text-overflow: ellipsis;
				white-space: nowrap;
				max-height: 3em;
				&.t-label-is-required:after {
					display: none;
				}
				&.t-label-is-required:before {
					content: "*";
					color: #f15440;
					position: absolute;
					left: 8px;
					top: 7px;
				}
			}
		}
		.dashboard-container-item {
			position: relative;
			display: inline-block;
			padding: 14px 14px 14px 14px;
			min-height: 104px;
			background-color: rgb(255, 255, 255);
			border: rgb(225, 225, 225) solid 1px;
			box-shadow: 3px 3px 3px rgba(225, 225, 225, 0.2);
			margin: 6px 3px 0 3px;
			width: calc(~'50% - 6px');
			transition: box-shadow 0.2s ease;
			&:hover {
				box-shadow: 3px 3px 3px rgba(225, 225, 225, 0.6);
			}
		}
	}
}

#DashboardTab {
	min-height: 124px;
}

.actions-dashboard-blankslate {
	display: flex;
	justify-content: center;
	min-height: 124px;

	.actions-dashboard-blankslate-inner {
		display: flex;
		align-items: center;
		padding-top: 25px;

		.ts-image-edit-wrap {
			margin-right: 20px;

			img {
				height: 80px;
				width: 84px;
			}
		}
		.description-label {
			font-size: 18px;
			font-family: "Bpmonline Open Sans Light", serif;
			white-space: nowrap;

			img {
				height: 16px;
				width: 16px;
				margin-bottom: -3px;
			}
			p {
				margin: 20px 0 0;
			}
		}
	}
}

// Chrome only
@media all and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: .001dpcm) {
	.actions-dashboard-container .dashboard-container .dashboard-container-item .t-label {
		white-space: normal;
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
	}
}

html[dir="rtl"] {
	.dashboard-container-item .dashboard-item-icon {
		transform: scaleX(-1);
	}
}

body[OldUI=false] {
	.center-panel {
		.card-content-container {
			.action-dashboard-container,
			.dcm-actions-dashboard-container {
				background-color: @backgroundcolor;
				.ts-tabpanel {
					.ts-tabpanel-wrap {
						.ts-tabpanel-items {
							li:first-child {
								margin-left: 22px;
							}
						}
					}
				}
			}
		}
	}

}

.actions-dashboard-container {
	.ts-tabpanel-wrap {
		> ul.ts-tabpanel-items {
			li {
				&:first-child {
					padding-left: 0;
					padding-right: 0;
					margin-right: 30px;
				}

				margin: 0 7px 2px 0;
			}
		}
	}
}

.actions-dashboard-header {
	position: relative;
	
	.stage-wrapper {
		min-height: 25px;
		flex-basis: 100%;
	}

	.right-header-action-container {
		position: absolute;
		right: 40px;
		z-index: 1;
		top: 26px;
		display: flex;
		flex-direction: row-reverse;

		.new-dcm-schema-available-info-btn {
			padding: 7px;

			.t-btn-image {
				left: 5px;
			}
		}
	}
}

.dashboard-container-item {
	.dashboard-item-footer {
		position: absolute;
		font-size: 0.8em;
		color: @footeritemcolor;
		bottom: 18px;
		background-color: inherit;
		width: calc(~'100% - 28px');
		display: flex;

		> * {
			display: inline-block;
			width: auto;
			max-width: 50%;
			vertical-align: middle;
		}

		.dashboard-item-right {
			margin-left: auto;
		}
	}
	.dashboard-item-actions {
		overflow: hidden;
		position: absolute;
		width: calc(~'100% - 28px');
		bottom: 14px;
		background-color: transparent;
		display: flex;
		justify-content: flex-end;
		> * {
			margin-left: 0.7em;
		}
		> *:first-child {
			margin-left: 0px;
		}
		&:before {
			content: "";
			min-width: 25px;
			margin-left: -25px;
			background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 70%);
		}
	}
	.dashboard-item-icon {
		margin: 0;
		width: @iconsize;
		height: @iconsize;
	}
	.dashboard-item-right {
		float: right;
	}
	.dashboard-footer-item-border-left {
		padding-left: 5px;
		margin-left: 5px;
		border-left: 1px solid;
	}
	&:hover {
		.on-hover-visible {
			visibility: visible;
		}
		.on-hover-hidden {
			visibility: hidden;
		}
	}
	.on-hover-visible {
		visibility: hidden;
		background-color: transparent;
	}
}

@media screen and (min-width: 1440px) {
	.actions-dashboard-container .dashboard-container .dashboard-container-item {
		width: calc(~'33.3% - 6px');
	}

	.actions-dashboard-container .dashboard-container .dashboard-container-item:nth-child(1):nth-last-child(2),
	.actions-dashboard-container .dashboard-container .dashboard-container-item:nth-child(2):nth-last-child(1) {
		width: calc(~'50% - 6px');
	}
}

.actions-dashboard-container .dashboard-container .dashboard-container-item:only-child {
	width: calc(~'100% - 6px');
}

.toggle-item-list-view-btn {
	float: right;
	color: #4e7bd8;
	padding-right: 1px;
	margin-bottom: -17px;

	&:after {
		clear: both;
		content: ""
	}
}

.x-safari {
	.actions-dashboard-content {
		.social-message-module,
		.call-message-module {
			.html-editor {
				display: block;

				> .html-edit-textarea {
					display: block;
				}
			}
		}
	}
}

.dashboard-container-item {
	.approval-dashboard-item-actions {
		opacity: 0;
		bottom: 0px;
		transition: all 0.1s ease;

		.t-btn-wrapper {
			display: flex;
			justify-content: center;
			flex-direction: column;
			padding-left: 0px !important;
			padding-right: 0px;
			background-color: white;

			.t-btn-image {
				background-position: center;
				background-repeat: no-repeat;
				width: 26px;
				height: 26px;
				max-width: 26px;
				left: 0px;
			}

			.t-btn-text {
				padding-left: 35px;
				padding-right: 0;
				text-align: left;
				overflow: hidden;
				white-space: nowrap;
			}
		}
	}

	&:hover {
		.approval-dashboard-item-actions {
			opacity: 1;
			bottom: 14px;
		}
	}

	&.buttons-without-text {
		.approval-dashboard-item-actions {

			.t-btn-wrapper {
				width: 26px;
				height: 26px;
				margin-left: 20px;

				&:first-child {
					margin-left: 0px;
				}
			}

			.t-btn-text {
				display: none;
			}
		}
	}
}

.approve-minipage-container {
	&[status='positive'] {
		.header-container, .base-minipage-save-button {
			background-color: #94cb59;
		}
	}

	&[status='negative'] {
		.header-container, .base-minipage-save-button {
			background-color: #e07452;
		}
	}

	.alignable-container {
		padding: 0;

		.header-container {

			.header-caption-container {
				padding: 18px;
				color: white;
				position: relative;
			}

			.background-img {
				margin: 0;
				position: absolute;
				right: 0;
				top: 0;

				img {
					height: 99px;
				}
			}

			.header-actions-container {
				display: flex;
				justify-content: flex-end;
				padding: 0 20px 15px 0;

				.t-btn-wrapper {
					display: flex;
					justify-content: center;
					flex-direction: column;

					.t-btn-image {
						background-size: 26px 78px;
						background-repeat: no-repeat;
						width: 100%;
						height: 26px;
						background-position-y: -26px;
					}

					&:hover {
						.t-btn-image {
							background-position-y: -52px;
						}
					}

					.t-btn-text {
						padding-left: 20px;
						text-align: left;
						color: white;
					}
				}

				.t-btn-pressed {
					.t-btn-image {
						background-position-y: 0;
					}

					&:hover {
						.t-btn-image {
							background-position-y: 0;
						}
					}
				}
			}
		}

		.body-container {
			padding: 18px 18px 21px;

			.memo-edit-area {
				padding-left: 0;
			}
		}
	}
}

@keyframes ActionsDashboardMask {
	from {
		opacity: 0.4;
	}
	to {
		opacity: 0.7;
	}
}

#DcmActionsDashboardMask {
	opacity: 0;
	pointer-events: none;
}

#DcmActionsDashboardContainer, #ActionDashboardContainer {

	#DcmActionsDashboardMask {
		animation: ActionsDashboardMask 1s linear infinite;
		animation-direction: alternate;
	}

	.stage-item-blank {
		width: 65%;
		height: 8px;
		background: lightgrey;
		margin-top: 5px;
	}

	.dashboard-item-content-blank {
		margin-top: 10px;
		background: lightgray;
		height: 8px;
	}

	.ts-tabpanel-items-next-steps-blank {
		width: 90px;
		background: lightgray;
		height: 10px;
		margin-top: 8px;
	}
}
