.select-year-container {
	margin: 0.9em 0 0;
	.t-label {
		max-width: 8em;
	}
	.label-wrap + .control-wrap {
		margin: 0;
		padding: 0;
	}
	.label-wrap {
		width: auto;
	}
	.base-edit-with-right-icon{
		width: 90px;
	}
}
