.fontStyles(@font-family, @font-family-light, @font-family-bold) {

	font-family: @font-family;

	.font-preload-open-sans {
		font-family: @font-family;
	}
	.font-preload-open-sans-light {
		font-family: @font-family-light;
	}
	.font-preload-open-sans-bold {
		font-family: @font-family-bold;
	}

	.grid-settings .preview-data-container .preview-caption {
		font-family: @font-family-light;
	}

	.view-model-schema-designer-item-content-text-wrap {
		font-family: @font-family;
	}

	.main-header .page-header-container {
		font-family: @font-family-light;
	}
	.grid {
		font-family: @font-family;
	}

	.grid-header {
		font-family: @font-family-light;
	}

	.grid-layout .control-width-15 .t-label {
		font-family: @font-family;
	}

	.ts-messagebox-caption, .ts-inputbox-caption {
		font-family: @font-family-light;
	}

	.ts-component-tooltip:hover:after {
		font-family: @font-family;
	}

	.scheduleritem,
	.multi-day-item {
		font-family: @font-family;
	}

	.ts-tabpanel-items > li {
		font-family: @font-family;
	}

	.drag-element {
		font-family: @font-family;
	}

	.t-btn-style-default,
	.t-btn-style-green,
	.t-btn-style-blue,
	.t-btn-style-red,
	.t-btn-style-grey {
		font-family: @font-family;
	}

	.ts-controlgroup-caption-wrap > span {
		font-family: @font-family;
	}

	.ts-datepicker-container {
		font-family: @font-family-light;
	}

	.filteredit-group-type {
		font-family: @font-family-light;
	}

	.center-panel {
		.card-content-container {
			.page-header-container {
				font-family: @font-family-light;
			}
		}
	}

	.empty-grid-message {
		font-family: @font-family-light;
	}

	.wizard-container {
		.header > .header-label {
			font-family: @font-family-light;
		}
	}

	.top-control-group-label {
		font-family: @font-family-light, @font-family;
	}

	#header-name {
		font-family: @font-family-light;
	}

	.ts-controlDetail-wrap > label,
	.ts-controlgroup-wrap > label {
		font-family: @font-family-light;
	}

	#usertask-recommendation-label {
		font-family: @font-family-light;
	}

	.user-question-text {
		font-family: @font-family-light;
	}

	.new-record-header-caption-label {
		font-family: @font-family-light;
	}

	.schema-wrap.two-el .section.left-el .grid .grid-module span {
		font-family: @font-family;
	}

	.section-header-container-wrapClass {
		font-family: @font-family-light;
	}

	.tile .tile-caption {
		font-family: @font-family;
	}

	.items-container .tile-item {
		font-family: @font-family-light;
	}

	.items-container .tile-item .t-label {
		font-family: @font-family;
	}

	.mobile-apps-container .t-label {
		font-family: @font-family-light;
	}

	.links-container {
		.menu-link {
			label, span {
				font-family: @font-family;
			}
		}
		.menu-caption {
			font-family: @font-family-light;
		}
	}

	.video-container .video-link {
		font-family: @font-family;
	}

	.sdk-container .sdk-caption.t-label {
		font-family: @font-family-light;
	}

	.sdk-container .sdk-hint.t-label {
		font-family: @font-family;
	}

	.image-list-header-caption-label {
		font-family: @font-family-light;
	}

	.graph-header-name {
		font-family: @font-family-light;
	}

	.email-settings-main-container {
		.server-container-list {
			.server-list-item-label {
				font-family: @font-family;
			}
		}
	}

	.communication-panel {
		.content {
			.t-btn-text {
				font-family: @font-family;
			}
		}
	}

	#CenterNotificationModule_WrapContainer {
		.empty-grid-message {
			font-family: @font-family-light;
		}
		.ts-tabpanel {
			li {
				span {
					font-family: @font-family;
				}
			}
		}
	}

	*[data-item-marker="HeaderMessage"] {
		font-family: @font-family-light, @font-family;
	}

	.change-dates-header {
		font-family: @font-family-light;
	}

	.formula-modal-box {
		.header {
			.header-name-container {
				.t-label {
					font-family: "Open Sans Light";
				}
			}
		}
	}

	.modal-page-fixed-container.process-lookup-page {
		.header-name-container .t-label {
			font-family: "Open Sans Light";
		}
	}

	.modal-header-inline .t-label {
		font-family: @font-family-light;
	}

	.header-label {
		font-family: @font-family-light;
	}

	#caption-label {
		font-family: @font-family-light;
	}

	#itemEditInnerButtonsContainer .page-type-button {
		font-family: @font-family;
	}

	.dashboard-grid-container {
		font-family: @font-family;
	}

	.dashboard-grid-container .dashboard-grid-list .grid-layout-column .t-label {
		font-family: @font-family;
	}

	.supply-payment-products-modal-box .header-name-container .t-label {
		font-family: @font-family-light;
	}

	.funnel-buttons-settings {
		font-family: @font-family;
	}

	.funnel-buttons-settings-container .t-btn-pressed {
		font-family: @font-family;
	}

	.ts-visamodule-container {
		.showNewVisaButton-class {
			font-family: @font-family;
		}
	}

	#head-score-digit {
		font-family: @font-family-light;
	}

	.t-label.account-name {
		font-family: @font-family-light;
	}

	.controlGroupLabel {
		font-family: @font-family-light;
	}

	.page-caption-label {
		font-family: @font-family-light;
	}

	.summary-item-container {
		font-family: @font-family;
	}

	.summary-item-label(@color, @size, @family) {
		color: @color;
		font-size: @size;
		font-family: @family;
	}

	.summary-item-caption {
		.summary-item-label(#999, 1.3em, @font-family);
	}

	.summary-item-value {
		.summary-item-label(#8ecb60, 1.6em, @font-family);
	}

	.header-name {
		font-family: @font-family-light;
	}

	.object-name {
		font-family: @font-family-light;
	}

	.schema-wrap.two-el .section.left-el .grid .grid-module span {
		font-family: @font-family;
	}

	.section-tab-list .t-btn-text {
		font-family: @font-family-light;
	}

	.captionContainerSearchDuplicatesSettings .t-label {
		font-family: @font-family-light;
	}

	.rights-title-lbl {
		font-family: @font-family-light;
	}

	.report-caption {
		font-family: @font-family-light;
	}

	.ts-rect-progress-bar-wrap {
		.overlay {
			font-family: @font-family;
		}
	}

	.custom-filter-container .t-btn-text {
		font-family: @font-family;
	}

	.graph-header-name {
		font-family: @font-family-light;
	}

	.header-button-text {
		font-family: @font-family-light;
	}

	#reminderContainer {
		#stepsCaption-caption {
			font-family: @font-family-light;
		}
	}

	.commentary {
		font-family: @font-family-light;
	}

	.ts-notifications-container {
		.showNewNotificationButton-class {
			font-family: @font-family;
		}
	}

	#MultiDeleteResultPageV2ByConstraintsContainerContainer,
	#MultiDeleteResultPageV2ByRightsContainerContainer {
		.container-multi-delete-caption-labelClass {
			font-family: @font-family-light;
		}
	}

	.modal-box-schema-module-header .modal-box-title {
		font-family: @font-family-light;
	}

	.modal-box-schema-module-content {
		.lookup-view-label {
			font-family: @font-family;
		}
	}

	.grid-mini-wrap .base-minipage-save-button-wrapper, .grid-mini-wrap .base-minipage-cancel-button-wrapper {
		font-family: "Open Sans";
	}

	#captionLabel {
		font-family: @font-family-light;
	}

	#descriptionLabel {
		font-family: @font-family-light;
	}

	.btn-user-class {
		font-family: @font-family-light;
	}

	.btn-lbl-user-class {
		font-family: @font-family-light;
	}

	.lbl-user-class {
		font-family: @font-family-light;
	}

	.settings-btn-wrapperClass {
		font-family: @font-family-light;
	}

	.caption-class {
		font-family: @font-family-light;
	}

	.label-page-caption {
		font-family: @font-family-light;
	}

	.header-name-container {
		.t-label {
			font-family: @font-family-light;
		}
	}

	.captionContainer .t-label {
		font-family: @font-family-light;
	}

	#menu-workplace-button-textEl {
		font-family: @font-family;
	}

	[id*='tags-button-'] .t-btn-text {
		font-family: @font-family-light;
	}

	.folder-manager-header-name {
		font-family: @font-family-light;
	}

	.title-lbl {
		font-family: @font-family-light;
	}

	.feature-item-label {
		font-family: @font-family-light;
	}

	.header-button-text .t-btn-text {
		font-family: @font-family-light;
	}

	.invalid-dashboard-manager-item-title, .invalid-dashboard-manager-item-hint {
		font-family: @font-family;
	}
	.default-widget-header {
		font-family: @font-family;
	}
	span.highcharts-title {
		font-family: @font-family;
	}
	.control-width-15 {
		.t-label.text-size-caption {
			font-family: @font-family-light;
		}
	}
	.information {
		font-family: @font-family-light;
	}

	.file-list-item-container {
		font-family: @font-family-light;
	}
	.new-record-header-caption-label {
		font-family: @font-family-light;
	}
	.ts-progress-bar-caption {
		font-family: @font-family;
	}

	.center-panel {
		.card-content-container {
			.page-header-container {
				font-family: @font-family-light;
			}
		}
	}
	.ts-designer-tab-label-container .t-label,
	.tab-label-panel-draggable-item-grabbed {
		font-family: @font-family;
	}

	.empty-container-list-message {
		font-family: @font-family-light;
	}

	.dashboard-grid-container {
		font-family: @font-family;
		.dashboard-grid-list {
			.grid-layout-column {
				.t-label {
					font-family: @font-family;
				}
			}
		}
	}

	.graph-header-name {
		font-family: @font-family-light;
	}

	.header-button-text {
		font-family: @font-family-light;
	}

	.topinfolabel-header {
		font-family: @font-family-light;
	}

	.inlinetextedit-expandable {
		.item-control {
			.inline-text-edit-placeholder:after {
				font-family: @font-family;
			}
		}
	}

	.default-widget-caption, .chart-caption {
		font-family: @font-family;
	}

	span.highcharts-title {
		font-family: @font-family;
	}

	.indicator-module-wraper {
		font-family: @font-family;
	}

	.indicator-value, .default-indicator-font-size, .big-indicator-font-size {
		font-family: @font-family;
	}

	.wizard-steps .step-item {
		font-family: 'Open Sans';
	}

	.main-container .head-label-user-class {
		font-family: @font-family-light;
	}

	.bubble:after {
		font-family: @font-family;
	}

	.bulk-email-blank-slates-container .label-content-container {
		font-family: @font-family-light;
	}

	.planning-container.schema-wrap.two-el {
		.info-caption-label {
			font-family: @font-family;
		}
	}

	.tracking-merge-container {
		.header {
			.header-label {
				font-family: @font-family-light;
			}
		}
	}

	.setuptracking-merge-container {
		.header {
			.header-label {
				font-family: @font-family-light;
			}
		}
	}

	.wizard-container {
		.header > .header-label {
			font-family: @font-family-light;
		}
	}

	.cti-process-action-container {
		.cti-process-action-button-text {
			font-family: @font-family;
		}
	}

	.estimate-caption-label {
		font-family: @font-family;
	}

	#RightContainerTab {
		font-family: @font-family;
	}
	.grid-layout-column > .caseNumberContainer > label {
		font-family: @font-family;
	}
	.grid-layout-column > .caseStatusContainer > label {
		font-family: @font-family;
	}
	.profile-estimate-caption-container > label {
		font-family: @font-family;
	}
	.tools-caption {
		font-family: @font-family;
	}
	.tools-name {
		font-family: @font-family;
	}
	.group-label {
		font-family: @font-family;
	}

	.main-container {
		.header-container {
			.header-label {
				font-family: @font-family-light;
			}
			&.results {
				.description-label {
					font-family: @font-family-light;
				}
			}
		}
		.center-container {
			&.results {
				.description-wrapper {
					.status-label {
						font-family: @font-family;
					}
				}
				.button {
					font-family: @font-family;
				}
			}
		}
		.dropzone {
			.excel-file-caption {
				font-family: @font-family;
			}
			.excel-file-name-wrapper {
				.excel-file-name-caption {
					font-family: @font-family;
				}
			}
		}
		.import-object-wrap {
			.import-object-button {
				font-family: @font-family-light;
			}
		}
	}

	.welcome-screen-modal-box {
		.welcome-text-wrapper {
			font-family: @font-family-light;
		}
		.academy-wrapper {
			font-family: @font-family;
		}
	}

	.ts-font-light {
		font-family: @font-family-light;
	}

	.global-search-wrapper {
		.result-container-list {
			.result-container {
				b {
					font-family: @font-family-bold, sans-serif;
				}
			}
		}
	}

	.global-search-wrapper {
		> .left-container {
			.global-search-filter-module {
				.sections-group-container {
					> a {
						&[selected="true"] {
							font-weight: 600;
							font-family: @font-family;
						}
					}

					.container-list {
						.section-group-item {
							&[selected="true"] {
								font-weight: 600;
								font-family: @font-family;
							}
						}
					}
				}
			}
		}
	}

	.page-wizard {
		.page-header-container {
			.base-edit-input {
				font-family: @font-family-light;
			}
		}
	}

	.actions-dashboard-blankslate {
		.actions-dashboard-blankslate-inner {
			.description-label {
				font-family: @font-family-light;
			}
		}
	}

	.page-settings-container {
		.blank-slate-container {
			.description-label {
				font-family: @font-family-light;
			}
		}
	}

	.content-builder-container {
		.content-builder-caption-label {
			font-family: @font-family-light;
		}
		.subject-page-content-builder-caption-label {
			font-family: @font-family-light;
		}
	}
}

body[OldUI=false] {
	.fontStyles("Bpmonline Open Sans", "Bpmonline Open Sans Light", "Bpmonline Open Sans Bold");
}

html[culture="ar-SA"] {
	body[OldUI=false] {
		.fontStyles("Bpmonline Cairo", "Bpmonline Cairo Light", "Bpmonline Cairo Bold");
	}
}

html[culture="he-IL"] {
	body[OldUI=false] {
		.fontStyles("Bpmonline Rubik", "Bpmonline Rubik Light", "Bpmonline Rubik Bold");
	}
}

html[culture="fa-IR"] {
	body[OldUI=false] {
		.fontStyles("IranSans", "IranSans Light", "IranSans Bold");
	}
}

.font-preload-base-open-sans {
	font-family: "Open Sans";
}

.font-preload-montserrat-thin {
	font-family: "Montserrat";
	font-weight: 100;
}

.font-preload-montserrat-extra-light {
	font-family: "Montserrat";
	font-weight: 200;
}

.font-preload-montserrat-light {
	font-family: "Montserrat";
	font-weight: 300;
}

.font-preload-montserrat-normal {
	font-family: "Montserrat";
	font-weight: 400;
}

.font-preload-montserrat-medium {
	font-family: "Montserrat";
	font-weight: 500;
}

.font-preload-montserrat-semi-bold {
	font-family: "Montserrat";
	font-weight: 600;
}

.font-preload-montserrat-bold {
	font-family: "Montserrat";
	font-weight: 700;
}

.font-preload-montserrat-extra-bold {
	font-family: "Montserrat";
	font-weight: 800;
}

.font-preload-montserrat-black {
	font-family: "Montserrat";
	font-weight: 900;
}
