.schema-wrap.one-el .section-wrap, .schema-wrap.one-el .card-content-container.card-content-container-with-right-detail {
	min-width: 886px;
	max-width: 1410px;
}

.card-content-container.card-content-container-with-right-detail > .actions-container {
	min-width: 88.6em;
	max-width: 141em;
}

.card-content-container-with-right-detail {
	.left-card-content-container {
		margin-right: 366px;
	}
	
	.right-card-content-container {
		position: absolute;
		top: 0px;
		right: 0px;
		width: 336px;
		padding-left: 20px;
		.ts-controlgroup-container .grid-layout {
			padding-left: 1em;
		}
		
		.schema-wrap.one-el {
			min-width: 0;
		}
	}
}
