.crt-section {
  .main-content-wrapper {
    .main-header {
      .left-header-container-class {
        border-radius: 8px 0 0 0;
      }

      .right-header-container-class {
        border-radius: 0 8px 0 0;
      }
    }

    .center-panel {
      padding-left: 0;
    }
  }
}
