.tracing-process-property-container {
  width: 220px;
  display: inline-flex;
  .tracing-info-button{
    float: right;
    margin: 0.3em;
    .t-btn-image {
      width: 26px;
      height:26px;
    }
  }
}

