.display-flex-row {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
}

.case-condition-container-wrap {
	.display-flex-row;
	.case-condition-item-wrap {
		border-left: 2px solid #004FD6;
		padding-left: 20px;
		flex-basis: auto;
		align-self: center;

		& > div {
			padding-right: 1.8em;
			margin-bottom: 5px;
			.display-flex-row;
			position: relative;

			.expression-edit-inner-wrap {
				.expression-inner-type {
					text-align: right;
				}
			}

			& > div:first-child {
				.display-flex-row;
				flex-basis: auto;
				align-self: center;
			}

			& > div:last-child {
				position: absolute;
				right: 0;
				top: 6px;
				display: block;
				padding: 0;
				width: 1.45em;
				height: 1.45em;
			}

			.case-condition-remove-button {
				display: none;
				padding: 0;
				width: 1.15em;
				height: 1.15em;
			}

			&:hover {
				.case-condition-remove-button {
					display: block;
				}
			}
		}
	}
	.case-condition-operation-type-wrap {
		font-family: "Bpmonline Open Sans", serif;
		font-size: 1.4em;
		color: #999;
		user-select: none;

		.case-condition-operation-type {
			display: inline-block;
			width: 35px;
			cursor: pointer;
			text-transform: uppercase;

			&:hover {
				color: #10a0e3;
			}
		}
	}
}
