#BulkEmailHyperlinkDetailV2Container {
	.simple-filter-edit-container:last-child {
		margin-right: 10px;
	}
}

.replica-filter-container {
	.custom-filter-button-container {
		.t-btn-image:not(:only-child) {
			margin-top: 2px;
		}

		.t-btn-text {
			margin-top: 2px;
		}
	}

	.simple-filter-edit-container {
		.base-edit-input:first-child {
			width: 100% !important;
		}
	}
}

#BulkEmailHyperlinkDetailV2DetailControlGroup-tools {
	flex: auto;
}

.grouping-ckeckbox-label {
	width: auto;
	padding-left: 5px;
	line-height: 2em;
	font-size: 13px;
	border-right: 1px solid lightgray;
	margin-right: 10px;
	padding-right: 10px;
}

.checkbox-control-item {
	width: auto;
	margin-right: 4px;
	margin-top: 3px;
	margin-left: 4px;
}
