.wizard-wrap {

	.headers-container {
		height: 100%;
		position: inherit;
		background: white;

		.main-headers-container {
			height: 100%;
			position: relative;
		}

		.left-side-container {
			float: left;
			height: 100%;
			width: 265px;
			overflow-x: hidden;
			border-right: 1px solid #dbdbdb;

			.replica-caption-container-border {
				padding: 0 0 15px 0;
				width: 235px;
				margin-left: 15px;
				border-bottom: 1px solid #E0E0E0;
			}

			.replica-caption-container {
				width: 265px;
				text-align: left;

				.t-label {
					font-size: 14px;
					color: #4E7BD8;
				}

				.replica-caption-item-container {
					height: 24px;
					padding: 15px 15px 0 15px ;

					.t-label {
						font-size: 13px;
						color: #999999;
					}
				}

				.t-information-btn {
					margin: 0;
					top: -2px;
				}
			}

			.replica-caption-container:last-child .replica-container-list {
				padding-bottom: 70px;
			}

			.replica-container-list {

				.label-wrap {
					width: 100%;
				}

				.t-information-btn {
					margin: 0;
					top: -2px;
				}
				.replica-item-wrapper-status{
					height: 24px;
				}

				.replica-item-wrapper-container {
					width: 265px;
					padding: 5px 11px 5px 15px;
					display: grid !important;
					grid-template-columns: 26px auto 24px !important;

					.right-arrow-icon-wrapper {
						padding: 3px 0 0 8px;
					}
				}
			}

			.t-label[replica-item-has-errors="true"] {
				color: #ff7043;
			}
		}

		.preview-center-container {
			display: flex;
			flex-direction: column;
			height: 100%;

			.email-headers-container {
				padding-top: 20px;
				padding-bottom: 21px;

				.email-sender-buttons-container {
					display: flex;
					min-width: 75px;
					.t-btn-no-text-padding {
						padding: 5px 5px 0 10px;
						margin: 0 0 0 0;
					}
					.t-information-btn.t-btn-wrapper {
						padding: 2px 0 0 0;
					}
				}
			}

			.preview-navigation-buttons-container {
				border-bottom: 1px solid #dbdbdb;
				margin-right: 15px;
				margin-left: 15px;

				.header-preview-container {
					box-shadow: none;
					padding-bottom: 0;
					position: inherit;

					.header-buttons-container{
						position: inherit;
					}
				}
			}

			.template-content-container {
				height: 100%;
				overflow: auto;
				text-align: center;

				.center-container {
					height: 100%;
					margin-top: 0 !important;
					margin-bottom: 0;

					.outsider-container {
						height: 100%;

						.inside-container {
							height: 100%;

							.preview-document-iframe {
								border: none;
								height: calc(~"100%" - 4px);
								width: 100%;
							}
						}
					}
				}
			}
		}
	}

	.toggle-list-button {
		position: absolute;
		top: -1px;
		left:0;
		padding: 0;
		margin: 0;
		z-index: 100;
	}
	.toggle-list-button .t-btn-image {
		width: 25px;
		height: 44px;
		background-repeat: no-repeat;
		background-position: -10px -131px;
		background-size: 40px 175px;
	}
	.toggle-list-button.toggle-list-button-pressed {
		left: 255px !important;
	}
	.toggle-list-button.toggle-list-button-pressed .t-btn-image {
		background-position: -10px 0px;
	}
}
