@add-condition-button-background-color: #00adee;
@add-action-button-background-color: #9bb3e8;

.business-rule-designer-container {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	min-height: 100vh;
	width: 100%;
	background-color: #ebeeef;
	padding: 0.6em;
	box-sizing: border-box;

	.business-rule-designer-main-container {
		width: 100%;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		overflow-y: auto;
		max-height: calc(~'100vh - 126px');
	}

	.business-rule-island {
		background-color: #ffffff;
		box-sizing: border-box;
		border-radius: 3px;
		margin-bottom: 0.6em;
		border: 1px solid #e6e6e6;
	}

	.business-rule-island-container {
		.business-rule-island;
		padding: 14px 18px;

		&:last-child {
			margin-bottom: 0;
		}

		.reorderable-container {
			padding-top: 0px;
			max-width: 1400px;
		}
	}

	.business-rule-designer-header-container {
		.business-rule-island;
		padding: 14px 20px;
		position: relative;

		& > label {
			font-size: 2.6em;
			font-family: "Bpmonline Open Sans Light", serif;
			color: #444;
			margin-bottom: 15px;
			line-height: 1em;
		}

		.business-rule-buttons-container {
			.t-btn-wrapper {
				margin-right: 10px;
			}
		}

		.main-header-logo-container-class {
			padding-top: 15px;
			padding-right: 18px;
			position: absolute;
			top: 0;
			right: 0;
			& > img {
				max-width: 127px;
				max-height: 27px;
			}
		}
	}

	.business-rule-box-container {
		box-sizing: border-box;
		float: left;
		padding: 0;
	}

	.business-rule-general-container {
		display: table;
		flex-grow: 0;

		.business-rule-island-container {
			width: 29.8em;
			margin-right: 0.6em;
		}
	}

	.business-rule-switch-container {
		display: flex;
		flex-direction: column;
		min-width: 43em;
		max-width: none;
		flex-grow: 1;

		.business-rule-island-container {
			padding-left: 2em;
			padding-top: 2em;
			height: 100%;
			overflow-y: auto;
			min-height: calc(~'100vh - 126px');
		}

		.business-rule-case {
			position: relative;
			margin-left: 0.7em;
			margin-bottom: 45px;

			& > div {
				border-left: 1px solid #ccc;
			}

			& > div > div {
				position: relative;
			}

			.business-rule-case-condition-header,
			.business-rule-case-action-header {
				padding-left: 1.8em;

				label {
					text-transform: uppercase;
					font-size: 1.5em;
					line-height: 1em;
					position: relative;
					top: -0.2em;
				}

				span {
					position: absolute;
					left: -0.8em;
					background: #fff;
					display: inline-block;
					height: 1.1em;

					img {
						width: 1.5em;
						height: 1.5em;
						margin-top: -0.2em;
					}
				}
			}

			.business-rule-case-condition-header {
				label {
					color: #00adee;
				}
			}

			.business-rule-case-action-header {
				margin-top: 3.3em;

				label {
					color: #8ba6e1;
				}
			}

			.business-rule-case-condition-container {
				.reorderable-container {
					margin-top: 11px;
					padding-left: 1.7em;
				}
			}

			.business-rule-case-action-container {
				margin-top: -0.3em;
				margin-bottom: 2em;
				height: 0;
				padding-bottom: 10px;

				.reorderable-container {
					margin-top: 1.1em;
					padding-left: 4.4em;
				}
			}

			.business-rule-case-add-condition-button-wrapper,
			.business-rule-case-add-action-button-wrapper {
				margin-top: -0.7em;

				label {
					display: inline-block;
					cursor: pointer;
					padding-right: 2.5em;

					& > span {
						top: 7px;
						padding: 0.16em 1.5em 0 0;
					}

					.t-btn-menu {
						width: 0;
						margin: 0;
					}

					.t-btn-marker {
						border: none;
					}

					.t-btn-text {
						font-size: 1em;
						color: #4e7bd8;
					}

					.t-btn-image {
						width: 15px;
						height: 15px;
						position: absolute;
						top: 0.3em;
						right: 0em;
					}
				}

				&:before {
					content: "";
					position: absolute;
					width: 2.6em;
					border-bottom: 1px solid #ccc;
					bottom: 0;
				}

				&:after {
					content: "";
					position: absolute;
					width: 0.5em;
					height: 0.5em;
					border-radius: 0.25em;
					left: 25px;
					bottom: -2px;
				}
			}

			.business-rule-case-add-condition-button-wrapper {
				margin-top: 2px;

				&:after {
					background: @add-condition-button-background-color;
				}
			}

			.business-rule-case-add-action-button-wrapper {
				&:after {
					background: @add-action-button-background-color;
				}
			}

			.business-rule-case-element-tagger {
				margin-left: 4.4em;
			}
		}
	}

	.business-rule-general-container > div {
		&.grid-layout .grid-layout-row .grid-layout-column > *:not(.grid-layout-spacer) {
			padding-bottom: 0.8em;
			display: inline-block;
		}

		.business-rule-caption-control {
			color: #444444;
		}

		.label-wrap {
			justify-content: flex-start;
			margin: 0;
			width: 100%;
			min-width: 100%;
			max-width: 100%;

			label {
				text-align: left;
				padding-left: 1px;
				padding-top: 1px;
				margin: 0;
			}
		}

		.control-wrap {
			margin: 0;
			padding: 0;
			width: 100%;
			max-width: none;
			min-width: 100%;
			.base-edit {
				padding-left: 1px;
			}
		}
	}

	.t-btn-wrapper {
		.t-btn-marker {
			display: none;
		}
		&:hover {
			.t-btn-marker {
				display: block;
			}
		}
	}

	.base-edit {
		border: 1px solid white;
		border-bottom: 1px dotted #c8c8c8;

		&:not(.base-edit-focus):hover {
			border-bottom-style: solid;
		}

		&.base-edit-focus {
			outline: none;
			border-color:#fff;
			border-bottom: 1px solid #00aeef;
			box-shadow: none;
		}

		.base-edit-right-icon{
			display: none;
		}
		&:hover {
			.base-edit-right-icon{
				display: block;
			}
		}
	}
}

html[dir="rtl"] body {
	& .business-rule-designer-header-container .t-label {
		direction: rtl !important;
	}
}



