.bindable-action-wrap {
	.business-rule-case-action-header-container,
	.business-rule-case-action-content-container {
		& > div {
			flex-basis: 40%;
			min-width: 35%;
			&:first-child {
				flex-basis: 60%;
			}
		}
	}
}
