.business-rules-filter-action-condition {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	flex-basis: auto;
	align-self: center;
	width: 100%;

	.case-condition-comparison-type-container {
		align-self: baseline;
	}

	& > div {
		flex-basis: 5%;
	}

	& > div:last-child {
		flex-basis: 57%;
	}

	& > div:first-child {
		flex-basis: 38%;
	}
}
