#CampaignTemplateGalleryPageContainer {
	.mat-tab-header {
		display: none !important;
	}

	.actions-container {
		.search-container .search-field {
			width: 385px;
		}

		.tab-actions-container {
			padding-right: 10px;
		}
	}
	
	.tab-container {
		min-height: 395px;
	}

	.button-container {
		padding-right: 5px;
	}

	.mat-radio-group {
		flex-direction: row !important;
	}

	.mat-grid-list-container {
		min-height: 350px;
	}

	.preview-image-wrapper {
		min-height: 320px;

		img {
			padding: 24px 0;
		}
	}

	.table-list-container .grid-column {
		flex-grow: 1;

		.mat-selection-list {
			height: auto;
		}
	}
	
	.preview-list-container {
		.grid-column {
			flex-grow: 1;
		}
	}


	.list-cell-preview-container {
		.image-container {
			padding: 3px 0;
		}
	}
	
	.preview-container {
		width: 400px;
	}
}

