.schema-viewer-filters-container {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	width: auto;
	.show-all-badge .t-checkboxedit-wrap.t-checkboxedit-checked {
		background-image: url('../../img/source-code/hash/CampaignSchemaViewerFiltersCSS/checkbox_all_checked');
	}
	.show-complete-badge .t-checkboxedit-wrap.t-checkboxedit-checked {
		background-image: url('../../img/source-code/hash/CampaignSchemaViewerFiltersCSS/checkbox_checked_svg');
	}
	.show-processing-badge .t-checkboxedit-wrap.t-checkboxedit-checked {
		background-image: url('../../img/source-code/hash/CampaignSchemaViewerFiltersCSS/checkbox_processing_checked');
	}
	.show-error-badge .t-checkboxedit-wrap.t-checkboxedit-checked {
		background-image: url('../../img/source-code/hash/CampaignSchemaViewerFiltersCSS/checkbox_error_checked');
	}
	.show-suspended-badge .t-checkboxedit-wrap.t-checkboxedit-checked {
		background-image: url('../../img/source-code/hash/CampaignSchemaViewerFiltersCSS/checkbox_suspended_checked');
	}
	.show-badge .t-checkboxedit-wrap.t-checkboxedit-checked {
		background-image: url('../../img/source-code/hash/CampaignSchemaViewerFiltersCSS/checkbox_incompleted_cheked');
	}
	.show-history-badge .t-checkboxedit-wrap.t-checkboxedit-checked {
		background-image: url('../../img/source-code/hash/CampaignSchemaViewerFiltersCSS/checkbox_history_checked');
	}
	.show-badge,
	.show-all-badge,
	.show-complete-badge,
	.show-processing-badge,
	.show-error-badge,
	.show-suspended-badge,
	.show-history-badge {
		margin-right: 9px;
		margin-top: 7px;
	}
	.show-badge-label {
		white-space: nowrap;
    	overflow: visible;
		width: auto;
		margin-right: 35px;
		margin-top: 7px;
	}
}
