.change-password-save-button {
	margin-right: 9px;
}

.change-password-container {
	width: 100%;
	display: inline-block;
}

.main-buttons {
	display: inline-block;
	vertical-align: top;
	width: 50%;
	padding-right: 15px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	overflow: hidden;
}

.leftPanelContainer {
	margin-bottom: 28px;
	float:left;
	width: 45%;
}

.password-caption {
	width: auto;
	float: left;
	margin-right: 3px;
}

.incorrect-password-container {
	margin-bottom: 20px;
}

.no-match-password-caption {
	float: right;
	color: red;
	width: 140px;
}

.match-password-caption {
	float: right;
	color: green;
	width: 140px;
}