.default-chart-wrapper {
	&.breadCrumbsExist[chart-provider="chart-js"] {
		.highcharts-wrapper {
			height: calc(~"100%" - 62px);
			padding-top: 0;
		}

		.breadcrumbs-module-container {
			height: 22px;
			overflow: hidden;
		}
	}
}