.right-panel-container *[data-item-type="mjbutton"] {
	.properties-header, .properties-content .ts-tabpanel {
		background-color: #3b82c7;
	}
	.ts-controlgroup-caption-wrap > span {
		color: #3b82c7;
	}
	.background-label-wrapper > label {
		color: #3b82c7;
	}
	.ts-controlgroup-container {
		display: flex;

		.link {
			width: 100%
		}

		*[data-item-marker="Link"] {
			padding-left: 0;
		}

		*[data-item-marker="MacrosButton"] {
			 padding: 5px;
	 	}
	}

	.border-settings-control-group {
		.ts-controlgroup-container {
			display: block;
		}
	}
}
