.right-panel-container *[data-item-type="mjdivider"] {
  .properties-header, .properties-content .ts-tabpanel {
    background-color: #ff943e;
  }
  .ts-controlgroup-caption-wrap > span {
    color: #ff943e;
  }
  .background-label-wrapper > label {
    color: #ff943e;
  }
  .divider-width-wrap {
    padding-bottom: 16px;
  }
}
