.right-panel-container *[data-item-type="navbar"] {
	.properties-header,
	.properties-content .ts-tabpanel {
		background-color: #3ed685;
	}

	.content-styles-editor-wrapper .ts-controlgroup {
		margin-top: 10px;
	}
	.content-styles-editor-wrapper .navbar-styles-container .t-properties-label {
		margin-top: 10px;
	}
	.content-navbar-properties .main-checkbox-wrap {
		margin-top: 10px;
	}
}
