#SmartHtmlEditPageContainer {
	width: 1120px;
	height: 580px;
	display: flex;
	flex-direction: column;
	padding-left: 10px;
	padding-right: 10px;

	.smart-html-header-container {
		height: 50px;

		.t-title-label-smart-html-edit-page {
			font-size: 22px;
			line-height: 30px;
			color: #00aeef;
			width: auto;
		}
	}

	.smart-html-main-container {
		height: 100%;
		display: flex;
		flex-direction: row;

		.t-btn-no-text-padding {
			align-self: center;
			min-height: fit-content;

			.t-btn-image-left {
				height: 12px;
			}
		}

		.button-background-no-repeat {
			background-repeat: no-repeat;
			background-position-x: center;
			background-position-y: center;
		}

		.smart-html-editor-container {
			width: 100%;
			padding: 0 14px;
		}

		.smart-html-macros-container {
			width: 400px;
			height: 493px;
			display: flex;
			flex-direction: column;

			.t-title-label-macro-container {
				line-height: 20px;
				font-size: 15px;
				color: #006ce0;
				flex: 0 1 auto;
			}

			.macros-list-label {
				font-size: 12px;
				line-height: 18px;
				color: #999999;
				padding-top: 18px;
			}
		}

		.macro-item-container {
			margin-right: 1px;

			.macro-input-container {
				display: flex;
				flex-direction: row;
				line-height: 32px;
				-webkit-touch-callout: none;
				-webkit-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;
			}
			:hover, .selected {
				background: #e4ebfa;
				line-height: 32px;
				background-position-y: center;
			}
			:active {
				background: #ced7e6;
				line-height: 32px;
				background-position-y: center;
			}
		}

		.macro-type-logo .t-btn-image-left {
			background-size: contain;
			background-repeat: no-repeat;
			background-position-x: center;
		}

		.macro-type-image {
			background-size: contain;
			background-repeat: no-repeat;
			background-position-x: center;
			height: 12px;
			min-width: 15px;
			margin: 10px;
		}

		.blank-slate-container {
			.not-selected-image {
				margin: 10px 0;
				text-align: center;
			}

			.label-content-container {
				overflow: visible;
				font-size: 12px;
				color: #999999;

				.description-label {
					p {
						padding-left: 12px;
					}
					p.info {
						border-left: 2px solid #66B9DF;
						padding-left: 10px;
					}
				}
			}
		}

		.smart-html-macros-list-container {
			flex: 1 1;
			overflow-y: auto;

			.selected {
				background: #e4ebfa;
				line-height: 32px;
				background-position-y: center;
			}
		}

		.concrete-macro-editor-container {
			display: flex;
			flex-direction: row;
			border-color: #99c4f3;
			border-style: solid;
			border-width: 1px;
			padding: 5px 0 10px 0;
			margin-top: 1px;

			.macro-editor-main-container {
				padding-right: 10px;
				width: 100%;

				.style-input.control-width-15 {
					display: flex;
					flex-direction: column;

					.t-label {
						text-align: left;
					}

					.control-wrap {
						padding-left: 0;
						margin-left: 0;
						padding-right: 0;
					}
				}
			}
		}
	}

	.smart-html-annotations-container {
		float: left;
		line-height: 30px;
		padding-left: 14px;
		padding-right: 14px;
		display: flex;
		.t-annotations-count {
			display: inline;
			color: #fc5555;
		}
		.tip-label-wrap {
			padding-right: 20px;
		}
	}

	.smart-html-footer-container {
		height: 50px;
		padding-top: 10px;
		text-align: right;
	}
}

.smart-html-macros-menu {
	.menu-item {
		.menu-item-image {
			background-repeat: no-repeat;
			background-position-x: center;
			background-position-y: center;
			top: 6px;
		}
	}
	.macro-menu-item-text, .macro-menu-item-image {
		background-color: aliceblue;
	}
	.menu-item-selected {
		background-color: #e4ebfa;
	}
}
