.custom-column-settings-container:not(:empty) {
	margin-left: -10px;
	.column-settings-container {
		margin-left: 0;
		.top-settings-container {
			margin-left: 0;
		}
	}
	+ .grid-designer-container {
		display: none;
	}
}
.widget-designer-container {
	&.grid-designer-container {
		.label-wrap + .control-wrap {
			width: 50%;
		}
		.center-main-container:not(.grid-settings) {
			> div:first-child {
				padding-bottom: 22px;
			}
		}
		.ts-controlgroup-container {
			padding-bottom: 2.1em;
		}
		.grid-designer-header-container {
			margin-left: -29px;
			padding: 20px;
			margin-top: -55px;
		}
		.grid-column-settings-container {
			.schema-wrap.one-el {
				.card-content-container {
					margin-top: 0;
					padding-top: 0;
					background: none;
					margin-left: 0;
					width: 100%;
					min-height: 0;
					&:before {
						display: none;
					}
					.actions-container {
						display: none;
					}
					.grid-settings.center-main-container {
						> div {
							border: none;
							padding-left: 0;
							padding-right: 0;
							padding-bottom: 0;
						}
					}
				}
			}
			.open-grid-settings-button {
				margin-left: 0;
				margin-top: 10px;
			}
			> #WidgetModule.module-container {
				position: static;
				width: auto;
				height: auto;
				.dashboard-grid-list {
					position: static;
					width: auto;
					height: auto;
				}
			}
		}
		.grid-view-settings-container {
			.ts-controlgroup:not(.grid-detail) {
				max-width: none;
			}
			> .ts-controlgroup {
				> .ts-controlgroup-container {
					> div {
						margin-top: 5px;
					}
				}
			}
		}
	}
}