.datasource-properties-page {
	max-width: 294px;

	.grid-layout .control-width-15 {
		flex-direction: column;

		.control-wrap {
			min-height: 28px;
		}
	}

	.label-wrap {
		max-width: none;
	}

	.bottom-buttons-wrapper {
		margin-top: 16px;

		.right-button {
			margin-right: 9px;
		}
	}
}