.date-time-modal-box {
  display: block;

  .ts-modalbox-innerbox {
    width: 100%;
    height: 100%;
    display: block;

    & > .schema-wrap.one-el {
      width: 100%;
      height: 100%;
      padding-left: 19px;
      padding-right: 19px;
      padding-bottom: 15px;
    }
  }
  .modal-page-fixed-container {
    width: 100%;
    height: 100%;
    position: relative;
    padding-top: 83px;

    .header {
      position: absolute;
      top: 4px;

      .header-name-container {
        width: 100%;

        .t-label {
          color: #00aeef;
          font-size: 20px;
          letter-spacing: inherit;
        }
      }
    }

    .close-btn-user-class {
      position: absolute;
      right: -12px;
      top: 9px;
    }

    .utils-container-modal-page {
      position: absolute;
      top: 53px;
      left: 0;
    }

    .utils-buttons {
      margin: 0 9px 0 0;
      height: 30px;

      &.t-btn-style-blue {
        line-height: 18px;
      }
    }

    .controls-container-modal-page {
      width: 100%;
      height: 100%;
      position: relative;
      padding-top: 32px;
      .base-edit.datetime-timecontrol {
        width: 88px;
      }
      .label-wrap {
        float: left;
        width: 23%;
        min-width: 4em;
      }
      .date-time-container-modal-page{
        .label-wrap {
          float: left;
          width: 10%;
          min-width: 4em;
        }
        .base-edit {
          width: 60%;
        }
      }
    }
  }
}
