
.dcm-schema-stage-properties-page {
	display: block;
	.base-edit-input[readonly="readonly"], .base-edit-readonly {
		background-color: white;
		color: #444444;
	}
	.t-title-label-stage {
		color: #8ecb60;
		font-size: 15px;
		padding-top: 20px;
	}
	.color-button-label {
		font-size: 14px;
		color: #444444;
		padding-top: 4px;
	}
	.group-information-btn {
		margin-top: 10px;
	}
}