.base-dc-template-viewer-control-group {
	margin-top: 10px;

	.email-empty-template-container{
		height: 350px;
		border: 1px solid #dedede;

		.email-template-blank-slates-container {
			width: 650px;
			margin-left: auto;
			margin-right: auto;

			.email-template-blank-slates-image-container{
				width: 100%;
				height: 229px;

				.not-selected-image {
					width: 134px;
					height: 139px;
					text-align: center;
					margin-left: auto;
					margin-right: auto;
					padding-top: 50px;
					padding-bottom: 40px;
				}
			}

			.description-label {
				font-family: "Bpmonline Open Sans Light";
				font-size: 20px;
				color: #999999;
				text-align: center;
			}
		}
	}
}