.duplicates-merge-container {
	height: 100%;
	width: 740px;
	.grid-layout-row {
		>.grid-layout-column {
			float: none;
			display: none;
			min-width: 120px;
		}
		>.grid-layout-column[id] {
			display: inline-block;
		}
	}
	.header {
		width: 100%;
		margin-left: 10px;
		padding-right: 10px;
		.header-label {
			color: #64B8DF;
			font-size: 2.2em;
			letter-spacing: -0.01em;
			margin-bottom: 5px;
		}
		.description-label {
			color: #999999;
			font-size: 15px;
		}
		.close-btn {
			position: absolute;
			right: 0.5em;
			top: 11px;
		}
	}
	.content {
		white-space: nowrap;
		margin: 20px 10px 0 10px;
		height: 230px;
		overflow-x: auto;
		.grid-layout-row {
			padding-top: 3px;
		}
		.grid-layout-row div[id*='-odd'] {
			background-color: #F7F7F7;
		}
		.column-header {
			border-bottom: 1px solid #E1E8D2;
			.t-label {
				margin-left: 5px;
				width: 115px;
				color: #999999;
				font-size: 13px;
				text-overflow: ellipsis;
			}
		}
		.radio-button-container {
			margin-left: 5px;
			.t-label {
				max-width: 90px;
				padding-top: 0;
				padding-left: 5px;
				display: inline-block;
				white-space: normal;
				vertical-align: top;
				
				&[style*='url'] {
					background-repeat: no-repeat;
					background-size: contain;
					width: 32px;
					height: 32px;
					padding: 0;
					margin-left: 5px;
				}
			}
		}
	}
	.description {
		display: flex;
	}
	.footer {
		bottom: 25px;
		position: absolute;
		width: 100%;
		padding-right: 10px;
		.t-btn-wrapper {
			float: right;
			margin: 0 9px 0 0;
		}
	}
	.right-padding {
		padding-right: 7px;
	}
}
