.duplicate-rules-settings {
	padding-top: 47px;
	position: relative;

	.button-tools {
		margin-bottom: 20px;
		position: absolute;
		top: 0;
		left: 0;

		.t-btn-wrapper {
			padding: 0;
			margin-left: 10px;
			&.t-information-btn {
				margin: 0;
			}
			&.menu-button {
				margin-top: 3px;
			}
			&.add-button {
				margin-top: 5px;
			}
		}

		.grid-caption {
			display: inline-block;
			width: auto;
			line-height: 24px;
			font-size: 1.5em;
			color: #4e7bd8;
			padding-right: 0.75em;
		}

		.t-btn-marker {
			display: none;
		}
	}

	.grid-listed-row .grid-fixed-col {
		margin-left: 5px;
	}
}