.content-block-group-wrap {
	padding: 0;
	margin: 2px 0;

	.content-mjblock-wrap,
	.content-block-wrap {
		border: dotted 1px #999;

		.content-block-label {
			display: inline-block;
			font-size: 1.6em;
			color: #fff;
			background-color: #00aeef;
			padding: 2px 5px;
			margin: 3px 2px;
			border-radius: 5px;
			max-width: 85%;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}
	}
}

.content-block-group-wrap.t-content-block-focus .content-mjblock-wrap,
.content-block-group-wrap.t-content-block-focus .content-block-wrap {
	border-color: transparent;
}

.t-content-block-hide {
	display: none;
}

.block-group-menu-button {
	margin: 5px;
	padding: 4px;
	width: 36px;
	height: 24px;
	border: 1px solid #999;
	border-radius: 4px;
	
	.t-btn-menu {
		right: 2px;
	}
}
.block-group-menu-button:hover,
.block-group-menu-button.t-btn-focus {
	background-color: #ddd;
}

.dynamic-content-group-menu {
	max-width: 360px;

	.menu-item {
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
	.menu-item-disabled {
		background: #eee;
	}
}
