.email-message-module {
	padding: 14px;
	.header-container-margin-bottom {
		margin-bottom: 12px;
		.t-label {
			text-align: left;
			margin-left: 1px;
		}
		.label-wrap {
			min-width: 6.2em;
			max-width: 9em;
		}
	}
	.layout-container {
		padding-bottom: 10px;
	}
	.bcc-button-text {
		margin-left: 5px;
	}

	.inline-text-edit-wrap {
		.inline-text-edit-el {
			p {
				margin: revert;
			}
		}
	}
}
.email-message-content {
	height: 20px;
}