.visibilityContainer {
  margin-right: 0;
  margin-left: auto;
  width: max-content;
  padding-top: 10px;
  float: right;
  display: inline-block;
  .visibilityIcon, .delete-email-icon {
    width: 16px;
    height: 16px;
    margin-right: 8px;
    vertical-align: bottom;
    display: inline-block;
    img {
      width: 16px;
      height: 16px;
      margin: 0;
    }
  }

  .delete-email-icon {
    cursor: pointer;
  }
}