.historyV2-container-wrap {
  .email-link-image {
    width: 16px !important;
    min-width: 16px;
    height: 16px;
    margin-left: 8px;
  }
  .email-subject {
    font-size: 14px;
    opacity: .5;
    overflow: hidden;
    display: inline-block;
    max-width: calc(~"100% - 200px");
    vertical-align: bottom;
    white-space: nowrap;
  }
  .draft-label {
    font-size: 14px;
    color: #444444;
  }
  .draft-content-container {
    margin-bottom: 12px;
  }
  .multiline-label-wrap iframe {
    height: 30px;
  }
  .historyV2-message-header-container .email-message-actions-button-menu {
    display: none;
  }
  .historyV2-message-header-container .email-message-actions-button-wrapper {
    padding-top: 0;
    padding-left: 0;
    margin-left: 10px;
    .t-btn-image {
      height: 16px;
      width: 16px;
      background-repeat: no-repeat;
      background-position: bottom;
    }
  }
  .email-link-image-wrap {
	  padding: 3px 4px 0 0;
  }
}
