@lineHeight: 18px;

@keyframes animation-select-item {
	0% {
		background-color: rgba(238, 242, 250, 0);
	}
	5% {
		background-color: rgba(238, 242, 250, 1);
	}
	75% {
		background-color: rgba(238, 242, 250, 1);
	}
	100% {
		background-color: rgba(238, 242, 250, 0);
	}
}

[id$="_esnFeedHeader"] {
	margin-bottom: 17px;
}

.feedWidth {
	max-width: 77.8em;
}

.postContainer {
	border-top: solid 1px #e0e0e0;
	padding-top: 8px;
	margin-bottom: 9px;

	&:first-of-type {
		border-top: 0;
		padding-top: 0;
	}
	
	table {
		table-layout: fixed;
    	width: 100%;
		
		td {
			white-space: pre-line;
		}
	}
}

.parentPostContainer, .commentsContainer {
	.actions-right {
		.t-btn-wrapper {
			padding-left: 0.86em !important;
			padding-right: 0;
			padding-top: 0;
		}

		.t-btn-image {
			display: none;
		}
	}
}

.animation-select-item {
	animation: animation-select-item 3s;
}

.right-panel, .operator-window-center-container {
	.postContainer {
		padding-top: 5px;
		margin-bottom: 0;

		&:first-of-type {
			padding-top: 0;
		}
	}

	.parentPostContainer, .commentsContainer {
		border-left-style: none;
	}

	.parentPostContainer {
		padding-top: 7px;
		padding-left: 6px;
	}

	.commentsContainer {
		padding-top: 6px;
	}

	.commentContainer {
		padding-top: 12px;

		&:first-of-type {
			padding-top: 6px;
			border-top: 0;
		}

		.createdByImage {
			margin-top: 0;
		}

		.createdBy, .multiline-label-wrap.message .label-content-container {
			padding-left: 3px;
		}
	}

	.commentPublish {
		.t-btn-wrapper {
			margin-top: 6px;
			margin-bottom: 7px;
		}
	}

	.feedWidth {
		width: 31.9em;
		display: flex;
		flex-direction: column;
		position: absolute;
		height: 100%;
		padding-bottom: 10px;
	}

	.createdByImage {
		margin-top: 5px;
		margin-right: 9px;
	}

	.message {
		padding-top: 9px;
	}

	.actions {
		line-height: @lineHeight;
		margin-bottom: 10px;

		.createdByDate {
			margin-right: 19px;
		}
	}

	.comment-actions {
		margin-bottom: 11px;

		.createdByDate {
			margin-right: 17px;
		}
	}

	.actions-right {
		.t-btn-wrapper {
			padding-left: 2.53em !important;
			padding-top: 0.77em;
		}

		.t-btn-image {
			display: inline-block;
			margin: 0;
		}

		.t-btn-text {
			display: none;
		}
	}

	.editedCommentMessage {
		padding-top: 2px;
	}

	.actionsButtonWrap {
		margin-right: 18px;
	}

	.likeButtonImageConfig {
		margin-right: 4px;
	}

	.commentRemainsWrap {
		margin-bottom: 13px;
		text-align: center;
	}
}

.feedMaxWidth {
	max-width: 72.4em;
}

.floatLeft {
	float: left;
}

.floatRight {
	float: right;
}

.wide {
	width: 100%;
}

.flex {
	display: flex;
}

.inlineBlock {
	display: inline-block;
}

.inlineTable {
	display: inline-table;
}

.noBorder {
	border: none;
}

.image32 {
	width: 32px !important;
	height: 32px !important;
}

.unimportant {
	color: #999999;
}

.label-link {
	cursor: pointer;
	color: #4e7bd8;
}

.label-link:hover {
	text-decoration: underline;
}

.label-ulr {
	word-break: break-all;
}

.actionsColor {
	color: #8aa0cf;
}

[id^="commentsList-container"] .commentContainer:first-of-type {
	border-top: 0;
}

.parentPostContainer {
	padding: 14px 12px 1px 12px;
	border-left: 3px solid #64B8DF;

	&:hover .postCommentEditDeleteOpacity {
		opacity: 1;
	}
}

.commentContainer {
	margin-right: 12px;
	padding-top: 9px;
	border-top: solid 1px #d9d9d9;
	position: relative;

	&:hover .actionsEditDelete {
		opacity: 1;
	}

	.createdBy {
		margin-right: 4px;
	}

	.createdByDate {
		padding-left: 44px;
	}

	.message {
		padding-top: 0;
		display: inline;
	}

	.multiline-label-wrap .label-content-container:after {
		background: linear-gradient(to right, rgba(247, 247, 247, 0), rgba(247, 247, 247, 1) 7%);
	}
}

.postMessage, .editedCommentMessage {
	.cke_inner {
		position: relative;
	}
}

.placeholderOpacity ::-webkit-input-placeholder {
	opacity: 1;
}

.placeholderOpacity :-moz-placeholder {
	opacity: 1;
}

.placeholderOpacity ::-moz-placeholder {
	opacity: 1;
}

.placeholderOpacity :-ms-input-placeholder {
	opacity: 1;
}

.postListSort {
	padding-right: 0;
}

.postSort {
	padding-bottom: 35px;
}

.postCommentEditDelete {
	padding: 2px 0 0 0 !important;
	margin-right: 20px;
}

.postPublish {
	margin-top: 1px;
}

.postPublishActions {
	margin-bottom: 9px;
}

.postPublish-container-margin {
	margin-bottom: 9px;
	white-space: nowrap;
}

.createdBy {
	display: inline;
	line-height: @lineHeight;
	margin-right: 5px;
}

.createdByImage {
	margin-right: 11px;
	border-radius: 50%;
	float: left;
}

.createdByToEntity {
	display: inline;
	margin-right: 5px;
}

.createdByToEntity label {
	display: inline;
}

.entity-container {
	display: inline;
	margin-right: 5px;
}

.entity {
	display: inline;
}

.entityImage {
	margin-left: 13px;
}

.message {
	padding-top: 16px;
}

.x-gecko .message {
	padding-top: 15px;
}

.multiline-label-wrap.message {
	line-height: @lineHeight;
}

.multiline-label-wrap.message .label-content-container {
	max-height: @lineHeight * 8;
}

.multiline-label-wrap.message .label-content-container:after {
	height: @lineHeight;
}

.channelImage {
	margin-top: 0 !important;
	margin-right: 9px !important;
}
.channelButton {
	padding-left: 0;
	margin-top: 1px;
	margin-left: -1px;
	margin-bottom: -2px;
}

.channel {
	border: 1px solid white;
	border-bottom: 1px dotted #c8c8c8;

	&:hover {
		border: 1px solid #c8c8c8;
	}
}

.messageHeader {
	display: inline-block;
	margin-right: 5px;

	.createdByTo-wraper {
		display: table;
	}
}

.createdByDate {
	display: inline;
	margin-right: 20px;
}

.actions {
	margin-top: 11px;
	margin-bottom: 9px;
	line-height: @lineHeight;
}

.x-safari .actions {
	margin-top: 12px;
}

.comment-actions {
	margin-top: -1px;
	margin-bottom: 10px;
}

.actions .t-label,
.actions .t-btn-wrapper,
.comment-actions .t-label,
.comment-actions .t-btn-wrapper {
	font-size: 1.3em;
}

.actions .t-btn-image,
.comment-actions .t-btn-image {
	width: 16px;
	height: 16px;
}

.commentsContainer {
	padding: 0 12px 0 12px;
	background-color: #f7f7f7;
	border-left: 3px solid #64B8DF;

	.link-preview-wrap {
		margin-left: 40px;
	}
}

.actionsButtonWrap {
	padding: 0 !important;
	margin-right: 18px;
	margin-top: 1px;
}

.actionsButtonImage {
	position: relative !important;
	float: left !important;
	left: 0;
}

.commentPublishContainer {
	margin-top: 0;
	margin-bottom: 40px;
}

.commentPublish {
	.t-btn-wrapper {
		margin-top: 7px;
		margin-bottom: 4px;
	}
}

.postListSortContainer {
	height: 30px;
}

.postListSortContainer-newMessage {
	margin-top: 35px;
}

.likedUserConfig {
	z-index: 1999;
	width: 100%;
	display: inline-block;
	text-align: left;
	margin-bottom: 7px;
}

.image64 {
	width: 64px !important;
	height: 64px !important;
	margin-right: 5px;
}

.likedUserNameLabel32 {
	display: initial;
	font-family: Segoe UI;
	font-size: 16px;
	height: 32px;
	line-height: 32px;
	width: 150px;
	margin-left: 9px;
}

.likedUserNameLabel32:hover {
	color: #4e7bd8 !important;
	cursor: pointer;
}

.showLikedUsers {
	margin: 1px 5px 0 0;
	padding: 0;
}

.likeCaption {
	margin: 0;
	padding: 1px 0 0 0;
}

.actions-right {
	display: inline;
	float: right;
}

.editCaption {
	margin: 0 12px 0 0;
	padding: 0;
}

.deleteCaption {
	margin: 0;
	padding: 0;
}

#maskContainer {
	width: 100%;
	z-index: -1;
	position: fixed;
	height: 100%;
	top: 0;
	left: 0;
}

.closeModalWindow {
	height: 100%;
	width: 100%;
}

#closeModalWindowContainer .t-btn-image {
	width: 1.50em;
	height: 1.50em;
}

#closeModalWindowContainer {
	position: absolute;
	top: 10px;
	right: 20px;
}

.closeModalWindowContainer {
	padding-right: 10px;
	width: 1.5em;
	height: 1.5em;
}

.closeModalWindowButton {
	position: absolute;
	right: 0;
	top: 12px;
}

.likedUsersContainer {
	width: 340px;
	position: absolute;
	height: 293px;
	overflow-y: scroll;
	margin-right: 25px;
	margin-left: 25px;
	margin-top: 20px;
}

.likedUsersModalBoxTopContainerLabel {
	font-family: Segoe UI Light;
	font-size: 22px;
	color: #64b8df;
}

.likedUsersModalBoxTopContainer {
	margin-top: 7px;
	margin-left: 25px;
}

.likedUsersModalBoxContainer {
	margin-top: -10px;
}

.likeButtonImageConfig {
	padding-right: 0 !important;
	margin-top: 0;
}

.postCommentEditDeleteOpacity {
	opacity: 0;
}

.actionsEditDelete {
	opacity: 0;
}

.editedCommentMessage {
	background-color: inherit;
	padding-top: 12px;
}

.showNewMessageContainer {
	position: relative;
	margin-top: 10px;
	left: 0;
	top: 0;
	margin-left: 0;
	right: 0;
	background: #edf1f8;
	max-width: 724px;
	height: 32px;
	display: block;
	text-align: center;
}

.showNewMessageContainerTop {
	top: 14.1em;
}

.left-panel-collapsed .showNewMessageContainer-scroll {
	left: 7.2em;
}

.showNewMessageContainer-scroll {
	position: fixed;
	top: 68px;
	margin-left: 30px;
	left: 19.7em;
	z-index: 999;
}

.showNewMessageButton {
	font-size: 14px;
	font-family: Segoe UI;
	color: #5c7faf;
}

.sortButtonMarker {
	padding-left: 0.78em;
	top: -2.63em;
}

.showNewMessagePadding {
	margin-top: 0;
}

.showNewSocialMessagesContainer {
	width: 240px;
	margin: auto;
}

.showNewMessagePadding-scroll {
	width: 72.4em;
	margin-top: 0;
	background-color: #ffffff;
	position: fixed;
	top: 68px;
	margin-left: 30px;
	left: 19.7em;
	z-index: 999;
	height: 52px;
	padding-bottom: 10px;
	padding-top: 10px;
}

.esnFeedSection-container-margin {
	margin-left: 3em;
	margin-top: -3.851em;
}

.x-gecko .esnFeedSection-container-margin {
	margin-left: 3em;
	margin-top: -3em;
}

.relativePosition {
	position: relative;
}

.absolutePosition {
	position: absolute;
}

.comboBoxWrap {
	margin-right: 15em;
	position: relative;
	margin-bottom: 2.2em;
}

.publishButtonWrap {
	width: 11.5em;
	position: absolute;
	top: 0;
	right: 0;
}

.listview[data-item-marker='postMessageMemoEdit'],
.listview[data-item-marker='commentToEditESNHtmlEdit'],
.listview[data-item-marker='postToEditESNHtmlEdit'] {
	min-width: 300px !important;
	max-width: 600px;

	ul {
		padding: 2px;
	}

	li {
		padding-left: 0;
		padding-right: 0;
		border-width: 2px;

		&.listview-selected {
			background-color: #f4f7f8;
			border-color: #ffffff;
		}

		img {
			width: 32px;
			height: 32px;
			border-radius: 50%;
		}
	}

	.listview-item {
		height: 42px;

		display: flex;
		flex-direction: row;

		&:hover {
			background-color: #f4f7f8;
		}

		.listview-item-image {
			margin-top: 5px;
			margin-right: 5px;
			margin-left: 5px;
			flex-shrink: 0;
		}

		label:hover {
			cursor: pointer;
		}

		.listview-item-info {
			display:flex;
			flex-direction: column;
			flex-wrap: wrap;
			justify-content: center;

			&> label {
				line-height: normal;
			}

			.listview-item-secondaryInfo {
				color: #999999;
			}
		}
	}
}

.html-edit-focus .html-edit-textarea {
	outline: none;
	border-color: rgba(86, 180, 239, 0.7);
	border-color: #56b4ef;
	-webkit-box-shadow: 0 0 3px 0 rgba(86, 180, 239, 0.7);
	-moz-box-shadow: 0 0 3px 0 rgba(86, 180, 239, 0.7);
	box-shadow: 0 0 3px 0 rgba(86, 180, 239, 0.7);
}

.social-feed {

	.social-feed-sort-button-wrapper {
		padding-left: 0.786em;
	}

	.social-feed-sort-button-marker {
		display: none;
	}

	.social-feed-sort-button-image {
		margin-top: 0.071em;
	}

	.social-message-edit-container {
		display: inline-block;
		width: 100%;
		max-width: 72.4em;
	}

	.social-feed-messages {
		width: 100%;
	}

	.actionsButtonText {
		padding-left: 5px;
	}

	.link-preview-wrap {
		margin-top: 5px;
	}
}

.right-panel {

	.social-message-edit-container {
		max-width: 28.5em;
	}

	.rightSideBarModulePostList {
		width: 100%;
		z-index: 712;
	}

	.social-feed-header {
		flex-shrink: 0;
		z-index: 1000;
		background-color: white;
	}

	.social-feed-messages {
		width: 33.9em;
		overflow-x: hidden;
		overflow-y: auto;

		.label-content-container {
			.multiline-label {
				max-width: 22em;
			}
		}
	}

	.likeCaption {
		display: none;
	}
}

.right-panel-modules-container {
	&> div[id*="ESNFeedModule"] {
		overflow: hidden;
		padding-left: 2px;
		padding-top: 0;
	}
}
.comment-like-actions-actions-right {
	display: inline-block;
}

.esn-html-editor {
	.html-edit-textarea {
		.base-edit-voice-to-text-wrapper {
			top: 15px;
		}
	}
}
