.expression-edit-inner-wrap {
	min-height: 1.6em;
	display: flex;
	position: relative;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;

	.expression-inner-type {
		margin-right: 0;
		padding-right: 0;
		position: relative;
		flex-basis: auto;
		flex-grow: 1;

		.t-btn-text {
			white-space: nowrap;
		}
	}

	.expression-inner-type:empty,
	.expression-inner-value:empty,
	.expression-inner-reference-schema:empty {
		display: none;
	}

	.expression-inner-reference-schema {
		margin-right: 0.5em;
	}

	.expression-inner-values-ct {
		display: flex;
		flex-direction: column;

		.expression-inner-tools {
			margin-top: 8px;

			.tool-item-ct {
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: flex-start;
				padding-left: 12px;

				.tool-item {
					flex-shrink: 0;
					margin-right: 14px;
				}
			}
		}

		.expression-inner-tools:empty {
			display: none;
		}
	}

	.expression-inner-values-ct,
	.expression-inner-value,
	.expression-inner-reference-schema {
		flex-basis: auto;
		flex-grow: 4;
	}

	.expression-inner-values-ct,
	.expression-inner-value,
	.expression-inner-reference-schema {
		& > div {
			flex-shrink: 0;
		}

		.base-edit {
			&:not(.base-edit-focus) {
				border: 1px solid white;
				border-bottom: 1px dotted #c8c8c8;

				&:hover {
					border-bottom: 1px solid #c8c8c8;
				}
			}
			&.base-edit-focus {
				.base-edit-right-icon {
					display: block;
				}

				.base-edit-input {
					cursor: text;
				}
			}

			&:not(.base-edit-disabled) {
				&:hover {
					.base-edit-right-icon {
						display: block;
					}
				}
			}
			&.base-edit-disabled {
				background-color: white;

				.base-edit-input {
					background-color: white;
				}
			}

			&.base-edit-error {
				box-shadow: none;
				-webkit-box-shadow: none;
			}

			&:hover {
				cursor: text;

				&.base-edit-disabled {
					cursor: default;
				}
			}
		}
		& .base-edit-with-clear-icon:not(.clear-icon-not-visible):hover {
			.base-edit-input {
				padding-right: 0;
			}
			.base-edit-clear-icon {
				background-color: #fff;
			}
		}
	}
}
