.info-label {
  font-size: 1.25em;
  margin: 0 0 4px 0;
}
.external-access-mini-page-container {
  width: 460px;

  .container-mini-wrap.single-row-boolean-wrap {
    display: flex;

    .tip-label-wrap {
      text-align: left;
    }
  }

  .grid-layout-column[data-colspan="12"]:first-of-type {
    margin-right: 20px;
  }
}
