.feature-item-label {
	font-size: 2em;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	word-wrap: break-word;
	height: 100%;
	font-family: "Bpmonline Open Sans Light", serif;
	color: #444167;
	float: left;
	line-height: 40px;
	width: 380px;

	&.feature-description {
		font-size: 1.8em;
		white-space: normal;
		width: 520px;
		color: #8a8a8a;
		line-height: 25px;
	}
}

.feature-item-label-wrap {
	margin-bottom: 5px;
	width: 100%;
	max-width: 100%;
	display: inline-block;

	.feature-state-switch-wrap {
		width: 15%;
		margin-top: 6px;
	}

	.feature-hint-button {
		float:right;
	}
	.feature-hint-image {
		float: right;
	}
}

.feature-state-switch-wrap {
	margin-top: 10px;
	float: right;
	display: flex;
}

.feature-item-wrap {
	flex: 1 0 950px;
	align-self: stretch;
	max-width: 600px;
	padding-bottom: 15px;
	margin: 5px;
	border-bottom: 1px solid #e6e6e6;

	&:hover {
		border-bottom: 1px solid #e6e6e6;
	}
}

.features-container-list {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	overflow-y: scroll;
	margin-top: 225px;
}

.add-feature-container {
	position: fixed;
	top: 64px;
	padding-right: calc(~"100%" - 850px);
	padding-bottom: 14px;
	border-bottom: 1px solid #e6e6e6;
	margin-right: 280px;
	background-color: white;
	z-index: 15;

	.t-btn-wrapper {
		margin-left: 20px;
	}
	label {
		margin-right: 5px;
	}
}

.forall-wrap-class {
	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-end;
	margin-left: 25px;

	.label-wrap {
		display: flex;
		width: 80%;
		max-width: 80%;
		align-items: center;

		.t-label {
			text-align: left;
			padding: 5px 0 0 10px;
		}
	}

	.control-wrap {
		margin-left: 0;
		padding-left: 0;
		width: 35px;
		height: 30px;
		display: flex;
	}
}

