.file-import-wizard-wrap {
	.wizard-header-container {
		border: none;
	}
	.wizard-header {
		border: none;
		left: 0px;
		right: 0px;
		border-radius: 0px;
	}
	&.wizard-container .center-panel {
		padding-left: 30px ;
	}
}

#centerPanel {
	margin-top: 132px;
}