.ts-filterable-list-wrapper {
	width: 290px;
	padding: 8px 0px 6px 0;
	background-color: #FFFFFF;
	box-shadow: 0px 0px 3px #0000001A;
	border: 1px solid #E2E2E2;

	.filterable-list {
		max-height: 276px;
		min-height: 212px;
	}
}