.folder-manager-header {
	margin-bottom: 0px;
	width: 100%;
}
.folder-manager-header-name {
	color: #444444;
	font-size: 22px;
	font-family: "Segoe UI Light";
	letter-spacing: -0.01em;
	text-align: left;
	width: auto;
}
.folder-manager-main-buttons {
	margin: 0 9px 0 0;
	text-align: center;
	background-color: #fff;
	width: inherit;
}
.folder-manager-btn-wrapper {
	padding-left: 0;
}
.folder-manager-button-container {
	border-top: 1px solid lightgrey;
	border-bottom: 1px solid lightgrey;
	margin-top: 10px;
}
.folder-manager-left-container {
	width: 100%;
	cursor: default;
	padding-top: 1em;
}
.folder-manager-grid-captions {
	margin-top: 0;
}
.folder-manager-button-right {
	padding: 0;
	position: absolute;
	top: 22px;
	right: 12px;
	z-index: 1;
}
.folder-manager-left-container .grid-row-actions {
	position: absolute;
	right: 0;
	padding: 0;
	width: 60px;
}
.folder-menu-actions-icon,
.folder-favorite-actions-icon {
	display: inline-block;
	padding: 0 !important;
	height: 23px;
	margin-right: 10px !important;
}

.grid-row-actions .t-btn-wrapper.folder-menu-actions-icon .t-btn-image {
	width: 16px;
	height: 16px;
	margin-top: 3px;
	padding-top: 0;
	background-repeat: no-repeat;
}

.grid-row-actions .t-btn-wrapper.folder-favorite-actions-icon .t-btn-image{
	width: 16px;
	height: 16px;
	margin-top: 2px;
	background-repeat: no-repeat;
	background-size: 16px;
}

.folder-menu-actions-icon .t-btn-menuWrap,
.folder-menu-actions-icon .t-btn-menu
{
	display: none;
}
.grid-listed-icon-16x16 {
	margin-top: 0.175em;
	height: 16px;
	width: 16px;
}

.action-buttons-container-wrapClass {
	margin-bottom: 0;
	padding-bottom: 1em;
}
.folder-manager-left-container .grid-cols-22 {
	padding-right: 20px;
}

.folder-manager-left-container .grid-cols-22 span {
	margin-top: 3px;
	display: block;
}

.folder-manager-left-container .grid-fixed-col {
	z-index: 995;
}
.folder-catalogue-actions-icon {
	float: right;
}
.folder-catalogue-actions-icon>span {
	width: 1.35em;
	background-repeat: no-repeat;
}

.t-btn-wrapper.folder-catalogue-actions-icon {
	padding: 0;
	.t-btn-image {
		width: 18px;
		height: 18px;
		background-repeat: no-repeat;
	}
}
/******************************************************/
.extend-catalogue-filter-container {
	margin-left: 3em;
	margin-right: 3em;
}