@default-label-color: #999999;
@section-title-color: #4E7BD8;

.setup-hierarchy-button {
	right: 10px;
}

.hierarchy-container-list {
	width: 95%;
	margin-left: 24px;
	margin-top: 10px;
	max-height: 320px;
	overflow-y: auto;
	overflow-x: hidden;

	@media screen and (max-height: 1024px) {
		max-height: 190px;
	}

	.base-edit.base-edit-readonly {
		background-color: transparent;

		input {
			background-color: transparent;
		}
	}
}

.items-hierarchy-container {
	display: block;
	align-items: flex-end;
	width: 100%;
}

.hierarchy-container-item.control-width-15 {
	display: block;

	.hierarchy-label {
		text-align: left;
	}
}

.hierarchy-input-container {
	display: inline-flex;
	width: 100%;
	max-height: 28px;

	.base-edit-readonly {
		width: 245px;
	}

	.delete-hierarchy-button {

		span {
			width: 32px;
			height: 32px;
			padding: 0;
		}
	}

}

.setup-hierarchy-button {
	color: @section-title-color;

	.t-btn-image{
		background-repeat: no-repeat;
	}
}

div[data-item-marker="ForecastMiniPageContainer"] {
	.minipage-alignable-container.show-overlay {
		z-index: 1011;
	}
	.alignable-container-overlay {
		z-index: 1010;
	}
}

.show-overlay [class*="mini-page-container"].grid-layout > .grid-layout-row > .grid-layout-column > div.auto-snapshot-container {
	margin-bottom: 0;
	margin-top: 5px;
}

.auto-snapshot-time {
	.label-wrap {
		float: left;
		margin-bottom: 4px;
	}

	.base-edit {
		margin-bottom: 15px;
	}
}

.auto-snapshot,
.auto-calculate {
	&-checkbox-container {
		.label-wrap {
			float: right;
			display: inline-block;
			justify-self: left;
			width: 262px;

			.t-label {
				color: @section-title-color;
				font-size: 14px;
			}
		}

		.control-wrap {
			float: left;
			width: auto;
			display: inline-block;
			padding-right: 5px;
			margin-left: -3px;
			
			.toggle-wrap {
				margin-top: 4px;
			}
		}
	}
}

@keyframes opacityAnimation {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

#MiniPageContainer {
	.forecast-minipage-alignable-container {
		top: 6% !important;
		animation: 0.5s ease-out 0s 1 opacityAnimation;
		.ts-tabpanel {
			padding-right: 0;
		}

		.tab-panel-margin-bottom {
			margin-bottom: 1.5em;
		}

		.minute-hours-container {
			.module-container {
				padding-left: 0;
				
				.one-el { 
					min-width: 0;
				}
				
				.minute-hour-grid-layout.grid-layout {
					padding: 0;
				}

				.t-label,
				.start-timer-properties-page-label {
					color: @default-label-color;
					font-size: 13px;
				}

				.grid-layout {
					padding-left: 0;
					padding-right: 0;
				}
			}
		}
	}
}

.cron-validation-error,
.primary-display-container {
	display: inline;
	font-size: 11px;

	&-label {
		color: red;
		display: inherit;
		font-size: inherit;
		text-align: justify;
	}

	&-hyperlink{
		font-size: inherit;
		display: inherit;
	}
}