
.separator-header {
	font-weight: 600;
	color: #4e7bd8;
	background-color: white;

	div {
		text-align: center;
		cursor: default;
	}

	&.listview-selected:hover {
		background-color: white;
	}
}

div[data-item-marker^="ForecastEntity"].listview ul{
	width: 318px;
}
