#MiniPageContainer {
	.column-designer-container {
		.grid-layout.use-in-summary-container {
			padding: 15px 0 0 0;

			.tip-label-wrap{
				text-align: inherit;
			}
			
			.use-in-summary-label {
				font-size: 13px;
				color: #999999;
				margin-top: 2px;
			}
		}
	}
}

#ColumnEditorWrapContainer {
	.schema-wrap.one-el {
		min-width: 0px;
		width: 100%;
	}
}