.content-schema {
	.center-container {
		border: none;
		overflow: hidden;
		position: relative;
	}

	crt-schema-outlet {
		background-color: #ffffffe6;
	}
	
	crt-flex#CenterContainer crt-router-outlet .crt-schema-outlet {
		height: 100vh;
	}
}