@add-button-width: 59px;
@min-add-button-width: 15px;
@min-add-button-offset: 1px;

.active-draggable() {
	z-index: 25;
	background: rgba(228,234,249, 0.6);
	border-color: #7d97cf;
	box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2);
}

.no-wrap-text() {
	font-size: 14px;
	white-space: nowrap;
	text-align: left;
	padding-left: 17px;
}

body.hidden-scroll-x {
	overflow-x: hidden;
}

.item-drop-hint-style {
	width: 3px;
	background-color: #00aeef;
	height: 100%;
	position: absolute;
	top: 0;
}

.grid-settings {
	width: 800px;
}

.label(@color, @size) {
	color: @color;
	font-size: @size;
}

.cancel-button {
	/*margin-left: 10px;
	vertical-align: bottom;*/
}

.column-url {
	color: rgb(0, 0, 238);
	text-decoration: underline;
}

.save-btn-wrapperClass {
	margin-right: 9px;
}

.save-btn-textClass {
	margin-right: 9px;
}

.top-settings-container {
	margin-left: 2px;
	margin-bottom: 28px;
}

.bottom-settings-container {
	margin-left: 2px;
}

.columns-settings-container {
	margin-top: 20px;
}

.columns-settings-container {
	margin-top: 20px;
}

.container-float-left {
	float: left;
}

.container-float-right {
	float: right;
}

.narrow-button {
	margin-left: 9px;
	width: 32px;

}

.delete-button {
	margin-left: 24px;
}

.setup-button {
}

.expand-button {
	margin-left: 3px;
	width: 32px;
}

.unchosen-column {
	background-color: #E5ECFA;
}

.selected-column {
	background-color: #FDF1C1;
}

.grid-settings .grid {
	margin-bottom: 22px;
	
	.grid-module {
		padding-bottom: 3px;
	}

	#columnsSettingsGrid .grid-cols {
		padding: 0;
		min-height: 40px;
	}
	[id*='element-column'] {
		padding: 0px;
		border-right-color: white;
		border-right-width: 3px;
		border-right-style: solid;
	}

	[id*='element-column-']:last-of-type {
		border-right-style: none;
	}

	[id*='element-empty-'],
	[id*='element-plus-'] {
		padding: 0;
		border-color: #D0D0D0;
		border-style: dotted;
		border-width: 1px;
	}

	[id*='element-column-'],
	[id*='element-plus-'] {
		line-height: 64px;
		text-align: center;
	}

	[id*='element-plus-'] {
		background-color: #F4F7F8;
	}
}

.column-inner-div {
	width: 100%;
	height: 64px;
	white-space: nowrap;
	overflow: hidden;
}

.empty-inner-div {
	width: 100%;
	height: 64px;
	white-space: nowrap;
}

.element-column-dd-invisible {
	display: none;
}

.element-column-dd-visible {
	display: block;
}

.columns-settings-type-item-container {
	margin-bottom: 16px;
}

#verticalRadioContainer {
	margin-bottom: 4px;
}

.columns-settings-type-item-container label {
	width: auto;
	padding-left: 12px;
	margin-top: 2px;
}

.columns-settings-type-item-container span {
	float: left;
}

.expand-label-button {
	width: 8.285em;
	margin: 0.5em 0.05em 0.5em 1.5em;
}

.bottom-settings-container .setup-button {
	margin-right: 24px;
}

.bottom-settings-container .t-btn-wrapper[data-item-marker="decrementWidth"]:hover,
.bottom-settings-container .t-btn-wrapper[data-item-marker="incrementWidth"]:hover {
	background: transparent;
}

.bottom-settings-container .t-btn-wrapper .t-btn-image {
	width: 32px;
	height: 20px;
	background-position: 0 19px;
}

.bottom-settings-container .t-btn-wrapper .t-btn-image:hover {
	background-position: 0 0;
}

.grid-settings .empty-inner-div {
	overflow: hidden;
}

.grid-settings .grid-pad .grid-row {
	padding-left: 0;
}
.x-safari {
	.grid-settings[active-type='listed'] {
		.grid-layout-table-edit-wrap {
			height: inherit;
		}
	}
	.grid-settings[active-type='tiled'] {
		.grid-layout-table-edit-wrap {
			display: flex;
		}
	}
}

.x-ie {
	&:not(.x-edge) {
		.grid-settings[active-type='listed'] {
			.columns-design-container {
				display: block;
				.grid-layout-table-edit-wrap {
					float: left;
					width: calc(~"100% - @{add-button-width}");
				}
			}
		}
	}
	.grid-settings {
		.columns-design-container {
			.draggable-item-move {
				left: @min-add-button-width + @min-add-button-offset;
				right: @min-add-button-width + @min-add-button-offset;
				width: calc(~"100% - (@{min-add-button-width} + @{min-add-button-offset}) * 2");
			}
			.grid-layout-edit-item-content-wrap {
				z-index: 0
			}
		}

		> div:first-child {
			margin-bottom: 17px !important;
		}
	}
}

.grid-settings {
	.columns-design-container {
		.dropover-zone-hint {
			box-shadow: none;
		}
		.add-btn-wrap {
			.t-btn-wrapper {
				width: @add-button-width;
				height: 57px;
				border: 1px solid #eee;
				padding: 0;
				&.t-btn-disabled {
					cursor: not-allowed;
				}
				.t-btn-image {
					background-repeat: no-repeat;
					background-size: 30px;
					width: 30px;
					height: 30px;
					margin-left: 13px;
					margin-top: 12px;
				}
			}
		}
	}
	.grid-layout-table-edit-wrap {
		.grid-layout-table-edit-right-wrap {
			width: 100%;
		}
		.grid-layout-table-edit-grid-cell {
			border-color: #eee;
			height: 2.9em;
			&[data-row-index="0"] {
				border-top: 1px solid #eee;
			}
			&[data-column-index="0"] {
				border-left: 1px solid #eee;
			}
			&[data-selected="1"] {
				background: transparent;
				color: transparent;
			}
		}
		.grid-layout-table-edit-item-wrap {
			visibility: visible;
			background: #fefefe;
			border-color: #cccccc;
			min-height: 2.8em;
			&.item-drop-hint-left:after {
				content: '';
				left: 0;
				.item-drop-hint-style;
			}
			&.item-drop-hint-right:after {
				content: '';
				right: 0;
				.item-drop-hint-style;
			}
			.draggable-item-resize-left:hover,
			.draggable-item-resize-right:hover {
				background: #00aeef;
			}
			.grid-layout-table-edit-item-content-text-wrap {
				.no-wrap-text;
			}
			&[item-state="transforming"] {
				.active-draggable;
			}
		}
		&[current-state="transforming"] {
			.draggable-item-resize-left:hover,
			.draggable-item-resize-right:hover {
				background: transparent;
			}
		}
		&:not([current-state="transforming"]) {
			.grid-layout-table-edit-item-wrap:hover {
				background: #e4eAf9;
				border-color: #7d97cf;
				.grid-layout-edit-item-actions-wrap {
					display: block;
					background: none;
					min-width: 52px;
					margin-right: @min-add-button-width;
					.t-btn-wrapper {
						width: 18px;
						height: 18px;
						padding: 0;
						min-width: 0;
						min-height: 0;
						margin-top: 6px;
						&:not(:first-child) {
							margin-left: 8px;
						}
						.t-btn-image {
							width: 14px;
							height: 14px;
						}
						&[data-tag="addLeft"],
						&[data-tag="addRight"] {
							position: absolute;
							margin-left: 0;
							width: @min-add-button-width;
							.t-btn-image {
								width: @min-add-button-width;
								height: 15px;
							}
						}
						&[data-tag="addLeft"] {
							left: @min-add-button-offset;
						}
						&[data-tag="addRight"] {
							right: @min-add-button-offset;
						}
					}
				}
			}
		}
	}

	.preview-data-container {
		position: relative;
		.default-widget-header {
			position: static;
			padding-left: 0;
		}
		.default-widget-header-label {
			font-size: 20px;
		}
		.preview-overlay {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			z-index: 1;
		}
		.preview-caption {
			color: #999;
			font-size: 17px;
			margin-top: -7px;
			text-align: left;
		}
		.grid-pad {
			padding-left: 0;
		}
		.grid {
			&.grid-listed {
				.grid-captions {
					margin-bottom: 0;
				}
			}
		}
		.listed-grid-line {
			padding-left: 0;
			padding-right: 0;
		}
	}
	&.center-main-container {
		&[active-type="tiled"] {
			.preview-data-container {
				.grid {
					&.grid-tiled {
						.grid-row.grid-pad {
							&:before, &:after {
								margin-left: 0;
								margin-right: 0;
							}
							&:first-child:before {
								display: none;
							}
						}
					}
				}
			}
		}
	}
	&[active-type="listed"] {
		.columns-design-container {
			display: flex;
			.add-btn-wrap {
				flex-grow: 1;
				margin-left: 1px;
			}
		}
		.preview-data-container .grid,
		.default-widget-header {
			width: calc(~'100% - @{add-button-width} - 1px');
		}
	}
	&[active-type="tiled"] {
		.columns-design-container {
			.add-btn-wrap {
				text-align: center;
				margin-top: -57px;
				.t-btn-wrapper {
					border: none;
				}
			}
		}
		.preview-data-container {
			.preview-caption {
				border-bottom: 1px solid #e0e0e0;
				padding-bottom: 14px;
			}
		}
	}
	&[vertical-grid-settings="true"] {
		&[active-type="tiled"] {
			.preview-data-container {
				.preview-caption {
					width: 292px;
				}
				.grid {
					width: 300px;
				}
			}
		}
	}
	.type-select-config {
		display: flex;
		margin-bottom: 20px;
		flex-direction: row-reverse;
		.t-btn-text {
			border-color: #7d97cf;
			color: #6380c0;
			font-size: 14px;
			border-radius: 2px;
			width: 210px;
			height: 25px;
			min-height: 0;
			text-transform: none;
			&[active="true"] {
				color: #fff;
				background-color: #7d97cf;
			}
			&:first-child {
				border-top-left-radius: 0;
				border-bottom-left-radius: 0;
			}
			&:last-child {
				border-top-right-radius: 0;
				border-bottom-right-radius: 0;
			}
		}
		.grid-setting-preview-button-wrap {
			display: flex;
			flex-direction: row-reverse;
			justify-content: flex-end;
			width: auto;
			flex-grow: 1;
			.label-wrap {
				width: auto;
				max-width: none;
				min-width: 0;
				.t-label {
					padding: 0;
					color: #444;
					margin-top: 1px;
				}
			}
			.control-wrap {
				width: auto;
				padding: 0;
				margin-right: 9px;
				margin-left: 0;
			}
		}
	}
	&[schema-name="VwProcessLib"] {
		.grid {
			.grid-icon-fixed-32x32 {
				max-width: 64px;
				width: 64px !important;
				position: inherit;
			}
			.icon-spacer-32x32 {
				display: flex;
				flex-direction: row;
				padding-left: 0;
				align-items: stretch;
				> a:first-child {
					order: 1;
					margin-left: auto;
					position: relative !important;
				}
				> a:last-child {
					order: 0;
					flex-grow: 1;
					max-width: fit-content;
				}
			}
		}
	}
}

.draggable-item-grabbed {
	&.grid-layout-table-edit-item-wrap {
		&[item-state="transforming"] {
			.active-draggable;
		}

		.grid-layout-table-edit-item-content-text-wrap{
			.no-wrap-text;
		}
	}
}

.preview-data-container [class*='grid-cols-'] {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.preview-data-container {
	font-size: inherit;
	height: 100%;
	position:relative;
	overflow: auto;
	padding-top: 35px;
	overflow-y: hidden;

	.listed-grid-wrap {
		height: calc(~'100% - 35px');
		background-color: #fff;
	}

	.grid-scroll, .grid {
		height: 100%;
	}

	.grid.inner {
		color: #444;
		background-color: #fff;
		overflow: hidden;

		.grid-scroll {
			overflow-y: hidden !important;
			margin-bottom: -17px;
			padding-bottom: 17px;
		}
	}

	.grid::-webkit-scrollbar {
		display: none;
	}

	.listed-grid-line {
		display: flex;
	}

	.data-grid-wrapper {
		overflow: hidden;
	}
}

html[dir="rtl"] body {
	.center-panel .grid-column-settings-container .card-content-container {
		left: 0;
	}
}