.grid-settings {
	width: 800px;
}

.label(@color, @size) {
	color: @color;
	font-size: @size;
}
.page-caption-label {
	.label(#444, 3.5em);
	margin-bottom: 25px;
	margin-left: 2px;
	font-family: "Segoe UI Light";
	letter-spacing: -0.01em;
}

.cancel-button {
	/*margin-left: 10px;
	vertical-align: bottom;*/
}

.column-url {
	color: rgb(0, 0, 238);
	text-decoration: underline;
}

.save-btn-wrapperClass {
	margin-right: 9px;
}

.save-btn-textClass {
	margin-right: 9px;
}

.top-settings-container {
	margin-left: 2px;
	margin-bottom: 28px;
}

.bottom-settings-container {
	margin-left: 2px;
}

.columns-settings-container {
	margin-top: 20px;
}

.columns-settings-container {
	margin-top: 20px;
}

.container-float-left {
	float: left;
}

.container-float-right {
	float: right;
}

.narrow-button {
	margin-left: 9px;
	width: 32px;

}

.delete-button {
	margin-left: 24px;
}

.setup-button {
}

.expand-button {
	margin-left: 3px;
	width: 32px;
}

.unchosen-column {
	background-color: #E5ECFA;
}

.selected-column {
	background-color: #FDF1C1;
}
.grid-settings .grid {
	.grid-module {
		padding-bottom: 3px;
	}
	
	#columnsSettingsGrid .grid-cols {
		padding: 0;
		min-height: 40px;
	}
	[id*='element-column'] {
		padding: 0px;
		border-right-color: white;
		border-right-width: 3px;
		border-right-style: solid;
	}
	
	[id*='element-column-']:last-of-type {
		border-right-style: none;
	}
	
	[id*='element-empty-'],
	[id*='element-plus-'] {
		padding: 0;
		border-color: #D0D0D0;
		border-style: dotted;
		border-width: 1px;
	}
	
	[id*='element-column-'],
	[id*='element-plus-'] {
		line-height: 64px;
		text-align: center;
	}
	
	[id*='element-plus-'] {
		background-color: #F4F7F8;
	}
}
.column-inner-div {
	width: 100%; 
	height: 64px;
	white-space: nowrap;
	overflow: hidden;
}

.empty-inner-div {
	width: 100%; 
	height: 63px;
	white-space: nowrap;
}

.element-column-dd-invisible {
	display: none; 
}

.element-column-dd-visible {
	display: block; 
}

.grid {
	margin-bottom: 22px;
	margin-left: -4px;
}
.columns-settings-type-item-container {
	margin-bottom: 16px;
}
#verticalRadioContainer {
	margin-bottom: 4px;
}
.columns-settings-type-item-container label{
	width: auto;
	padding-left: 12px;
	margin-top: 2px;
}
.columns-settings-type-item-container span{
	float: left;
}
.expand-label-button {
	width: 8.285em;
	margin: 0.5em 0.05em 0.5em 1.5em;
}

.bottom-settings-container .setup-button {
	margin-right: 24px;
}

.bottom-settings-container .t-btn-wrapper[data-item-marker="decrementWidth"]:hover,
.bottom-settings-container .t-btn-wrapper[data-item-marker="incrementWidth"]:hover {
	background: transparent;
}

.bottom-settings-container .t-btn-wrapper .t-btn-image {
	width: 32px;
	height: 20px;
	background-position: 0 19px;
}

.bottom-settings-container .t-btn-wrapper .t-btn-image:hover {
	background-position: 0 0;
}
