html[dir="rtl"] {
  body[OldUI=false].home-page {
    .main-header {
      .left-header-container-class {
        border-radius: 0 8px 8px 0;

        .caption-class.fix-width {
          flex-basis: inherit;
          position: inherit;
        }

        .header-section-caption-class {
          position: inherit;
        }
      }

      .right-header-container-class {
        border-radius: 8px 0 0 8px;
      }
    }
  }
}

.home-page {
  .center-panel {
    background: #ebeeef;
    padding-top: 0;
    padding-left: 0;
    margin-top: 0;
    min-height: 100vh;
    padding-bottom: 8px;
  }
  .center-panel.opened-right-panel {
    padding-right: 41px;
  }
  &.scroll .main-header {
    box-shadow: 0 3px 3px -2px #d8d9d9;
    .left-header-container-class {
      border-bottom-left-radius: 0 !important;
    }
    .right-header-container-class {
      border-bottom-right-radius: 0 !important;
    }
  }
}
body[OldUI=false].home-page {
  @media screen and (max-width: 1439px) {
    .right-panel {
      margin-top: initial;
      box-shadow: none;
    }
    .opened-right-panel .inner-context-right-image-class {
      box-shadow: none;
    }
  }
  .left-panel {
    border-right: 8px solid #ebeeef;
  }
  .right-panel {
    border: 9px solid #ebeeef;
    border-top-left-radius: 14px;
    border-right: none;
    border-bottom: none;
  }
  .main-header.fixed {
    border-top: 8px solid #ebeeef;
  }
  &:not(.x-ie) .left-panel:after {
    display: none;
  }
  :not(.x-ie) .communication-panel:after {
    display: none;
  }
  div.center-panel {
    padding-top: 72px;
  }
  .main-header {
    .left-header-container-class {
      border: 1px solid #e6e6e6;
      border-radius: 8px 0 0 8px;
      border-right: none;
    }
    .right-header-container-class {
      border: 1px solid #e6e6e6;
      border-radius: 0 8px 8px 0;
      border-left: none;
    }
   &[is-main-menu-header=true] {
      height: 78px;
    }
    &.opened-right-panel .right-header-container-class {
      margin-right: 424px;
    }
  }
}
