/*.module-container {
	background-color: #f3f3f3;
}*/

#WidgetModule.module-container {
	border: 0px;
}

.indicator-module-wraper {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	font-size: 20px;
	color: white;
	font-family: 'Segoe UI';
	word-wrap: break-word;
	overflow-y: auto;
}

.indicator-caption {
	font-size: 20px;
}

.indicator-value, .default-indicator-font-size, .big-indicator-font-size {
	font-family: 'Segoe UI';
	font-size: 75px;
}

.default-indicator-font-size {
	font-size: 40px;
}