.lazy-duplicates-page {
	.actions-container {
		.deduplication-process-label {
			width: auto;
			margin: 0;
			color: #006CE0;
			font-size: 15px;
			padding: 5px;
		}
		.t-information-btn {
			margin: 2px;
		}
	}
	.center-main-container {
		&.duplicates-card-content-container {
			.duplicates-container-item {
				.ts-controlgroup {
					max-width: none;
				}
			}
		}
	}
	.duplicates-detail {
		margin-bottom: 25px;
	}
}

.freedom-theme {
	.lazy-duplicates-page {
		.actions-container {
			min-height: 80px !important;
		}
	}
}