#lead-profiles-container-asc,
#lead-profiles-container-desc {
	background-color: transparent;
	padding: 0;
	margin: 0;
	border: none;

	& > div {
		&:not(:last-child) {
			margin-bottom: 0.6em;
		}
		
		background-color: #fff;
		padding: 20px;
		box-sizing: border-box;
		border: 1px solid #e6e6e6;
		border-radius: 3px;
	}
}
