@borderSize: 7px;
@leftPanelSize: 210px;
@leftPanelCollapsedSize: 72px;

@defaultBorder: @borderSize solid #ebeeef;
@menuButtonColor: #CA13FF;
@processButtonColor: #006CE0;
@quickAddButtonColor: #22AC14;
@collapseButtonColor: #1A4580;
@leftPanelShadow: 1px 0 3px 0 rgba(0, 0, 0, 0.3);

body[OldUI=false]:not(.x-ie) {
	.shadow(@panelSize) {
		&:before {
			content: "";
			position: fixed;
			left: @panelSize - @borderSize - 1px;
			width: 1px;
			height: 100vh;
			box-shadow: @leftPanelShadow;
			-webkit-box-shadow: @leftPanelShadow;
			-moz-box-shadow: @leftPanelShadow;
		}
	}

	.left-panel {
		&:after {
			content: "";
			width: 1px;
			height: 100vh;
			background-color: #e6e6e6;
			position: fixed;
			top: 10px;
			left: @leftPanelSize;
		}
		.shadow(@leftPanelSize);
	}

	&.left-panel-collapsed {
		.left-panel {
			&:after {
				left: @leftPanelCollapsedSize;
			}
			.shadow(@leftPanelCollapsedSize);
		}
	}

	&[is-main-header-visible="false"] {
		.left-panel {
			&:after {
				display: none;
			}
		}
	}
}

body[OldUI=false] {
	.button-image-size {
		width: 38px;
		height: 38px;
		background: no-repeat center;
		position: absolute;
		top: 50%;
		left: 50%;
		margin-left: -19px;
		margin-top: -19px;
	}

	.default-button-size {
		height: 64px;
		width: 52px;
	}

	.collapsed-button-size {
		height: 53px;
		width: 70px;
	}

	.getButtonWrapper(@order, @margin, @bgColor) {
		&.t-btn-wrapper {
			-webkit-order: @order;
			-ms-flex-order: @order;
			order: @order;
			margin: @margin;

			&:hover {
				background-color: @bgColor;
			}
		}
	}

	.getCollapseButtonImageEl(@scaleX) {
		#collapse-button-imageEl {
			-moz-transform: scaleX(@scaleX);
			-o-transform: scaleX(@scaleX);
			-webkit-transform: scaleX(@scaleX);
			transform: scaleX(@scaleX);
		}
	}

	&.left-panel-collapsed {
		.left-panel {
			width: @leftPanelCollapsedSize;
		}
	}
	.left-panel {
		border-right: @defaultBorder;
		width: @leftPanelSize;
		.ts-sidebar-item-image {
			margin-left: 4px;
			margin-right: 16px;
		}
	}

	.top-menu-module-container {
		.getCollapseButtonImageEl(-1);
		.menu-button-wrapperEl {
			.default-button-size;
			.getButtonWrapper(0, 0, @menuButtonColor);
		}
		.menu-startprocess-button-wrapperEl {
			.default-button-size;
			.getButtonWrapper(1, 0, @processButtonColor);
		}
		.menu-quickadd-button-wrapperEl {
			.default-button-size;
			.getButtonWrapper(2, 0, @quickAddButtonColor);
		}
		.collapse-button-wrapperEl {
			.default-button-size;
			.getButtonWrapper(3, 0, @collapseButtonColor);
		}
	}

	&.left-panel-collapsed {
		.getCollapseButtonImageEl(1);
		.top-menu-module-container {
			height: 207px;
			display: block;
		}
		.collapse-button-wrapperEl {
			.collapsed-button-size;
			.getButtonWrapper(0, 0, "transparent");
		}
		.menu-button-wrapperEl {
			.collapsed-button-size;
			.getButtonWrapper(1, 0, @menuButtonColor);
		}
		.menu-startprocess-button-wrapperEl {
			.collapsed-button-size;
			.getButtonWrapper(2, 0, @processButtonColor);
		}
		.menu-quickadd-button-wrapperEl {
			.collapsed-button-size;
			.getButtonWrapper(3, 0, @quickAddButtonColor);
		}
	}
}
