.link-preview-wrap {
	display: flex;
	flex-direction: row;
	width: auto;
	padding: 5px;

	.link-preview-image {
		min-width: 216px;
		min-height: 112px;
		width: auto;
		height: auto;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		margin-right: 20px;
	}

	.link-preview-right-wrap {
		display: flex;
		flex-direction: column;
		overflow: hidden;

		> div:not(:first-child) {
			margin-top: 10px;
		}

		.link-preview-title {
			color: #444444;
			font-size: 16px;
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
		}

		.link-preview-description {
			color: #999999;
			font-size: 14px;
			line-height: 16px;
			overflow: hidden;
			margin-bottom: auto;
			justify-self: start;
		}

		.link-preview-host {
			a {
				color: #999999 !important;
				font-size: 13px;
				text-decoration: none;
				text-transform: lowercase;
			}
		}
	}
}
