.local-duplicate-search-container {
	.local-duplicate-buttons-container {
		margin-bottom: 20px;
		span {
			margin-right: 5px;
		}
	}
	> .grid {
		margin-left: -30px;
		width: auto;
		> .grid-pad {
			padding: 0 6px;
			&.no-duplicate {
				.grid-row span {
					color: #999;
				}
			}
		}
	}
}