.localMessageBody {
	padding: 8px 15px;
	margin: 0 60px 0 32px;
	.multiline-label {
		font-size: 12px;
		color: #999;
		text-align: justify;
	}
}
.historyContainer {
	.localMessageImage {
		width: 32px;
		height: 32px;
		float: left;
	}
}