.macros-page-modal-box {

	.ts-modalbox-innerbox {
		height: 100%;
		width: 100%;

		.schema-wrap.one-el {
			min-width: 0;
			height: 100%;
		}

		.macros-page-container {

			height: 100%;

			.header-container {
				margin-left: 2.5em;
				position: inherit;

				.actions-container {
					margin-top: 3em;

					.t-btn-wrapper {
						margin-right: 0.64em;
					}
				}
			}

			.tabs-container {
				max-height: 27em;
			}

			.tabs-container {
				height: 100%;
				margin-top: 2.2em;

				.general-tab-container {
					height: 100%;
					margin-top: 0.5em;
					margin-left: 2em;

					.macros-groups {
						overflow: hidden;
						height: 100%;

						&:hover {
							overflow-y: scroll;
						}

						.selectable:first-of-type {
							margin-top: 1em;
						}

						.ts-controlgroup-container {
							padding-top: 0;
							margin-left: 1.9em;
						}

						.ts-controlgroup-container:last-of-type {
							padding-bottom: 0;
						}

						.ts-controlgroup-caption-wrap {
							height: 2.5em;
						}

						.grid-captions {
							display: none;
						}
					}
				}
			}
		}
	}

}
