.main-buttons-container {
	margin-bottom: 2px;
}
.button-margin-right {
	margin-right: 9px;
}
.label(@color, @size) {
	color: @color;
	font-size: @size;
}
.page-caption-label {
	.label(#444, 3.5em);
	margin-bottom: 30px;
	font-family: "Segoe UI Light";
	letter-spacing: -0.01em;
}
#macros-edit-container{
	width: 50%;
}