.label(@color, @size) {
  color: @color;
  font-size: @size;
}
.page-caption-label {
  .label(#444, 3.5em);
  margin-bottom: 30px;
  font-family: "Segoe UI Light";
  letter-spacing: -0.01em;
  color: #4d5a75;
}
.container-spacing {
  margin-bottom: 6px;
}