.label(@color, @size) {
	color: @color;
	font-size: @size;
}
.page-caption-label {
	.label(#444, 3.5em);
	margin-bottom: 30px;
	margin-left: 5px;
	font-family: "Segoe UI Light";
	letter-spacing: -0.01em;
}
.section-caption-label {
	margin-bottom: -20px;
	margin-top: 20px;
	/*font-weight: bold;*/
}
.container-spacing {
	margin: 5px 3px;
	display: inline-block;
}
#topButtons .t-btn-wrapper {
	margin-right: 10px;
	vertical-align: bottom;
}
.left-container {
	float: left;
	width: 40%;
}
.right-container {
	float: right;
	width: 40%;
}
.button-margin {
	margin-top: 10px;
}