crt-flex#ShellHeader {
	height: 56px;
	transition: height 0.3s ease, opacity 0.3s ease;

	@media screen and (max-width: 790px) {
		height: 96px;
	}
}

crt-navigation-panel#LeftNavigationPanel {
	width: 242px;
	opacity: 1;
	transition: width 0.3s ease, opacity 0.3s ease;
}

crt-toggle-container#RightPanelContainer {
	opacity: 1;
	transition: width 0.3s ease, min-width 0.3s ease, opacity 0.3s ease;

	.crt-toggle-container.right-panel-container {
		transition: height 0.3s ease;
	}
}

.desktop-schema {
	position: relative;

	& > crt-navigation-panel {
		position: absolute;
		height: 100%;
		z-index: 1000;
	}

	& > crt-tab-panel-static,
	& > crt-toggle-container {
		position: absolute;
		right: 8px;
		height: 100%;
		z-index: 1000;
	}

	.center-container {
		border: none;
	}
}

.content-schema {
	.center-container {
		border: none;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
		overflow: hidden;
		position: relative;

		crt-router-outlet .crt-schema-outlet {
			transition: height 0.3s ease;
		}
	}

	crt-schema-outlet {
		background-color: #ffffffe6;
	}
}

body[center-container-expanded='true'] {
	@collapsed-header-height: 8px;
	@gap: 8px;

	crt-flex#ShellHeader {
		height: @collapsed-header-height;
		cursor: pointer;
		opacity: 0;

		> .crt-flex {
			overflow: hidden;
		}
	}

	.content-schema {
		crt-navigation-panel#LeftNavigationPanel {
			width: 0;
			opacity: 0;
			margin-left: -@gap;
		}

		crt-flex#CenterContainer crt-router-outlet .crt-schema-outlet {
			height: calc(~"100vh" - @collapsed-header-height);
		}

		crt-toggle-container#RightPanelContainer {
			width: 0 !important;
			min-width: 0 !important;
			opacity: 0;
			margin-left: -@gap;

			.crt-toggle-container.right-panel-container {
				height: calc(~"100vh" - @collapsed-header-height);
			}
		}
	}
}
