//operator status
@operators-status-icon-size: 0.5em;
@photo-margin-right: 0.5em;

.operator-status-icon-wrapper {
	margin-right: @photo-margin-right;
	.operator-status-icon {
		background-size: inherit;
		height: @operators-status-icon-size;
		width: @operators-status-icon-size;
		cursor: default
	}
}