.calendar-container {
	flex-direction: row;
	display: flex;

	&[data-item-marker="RightGridContainerVisible"] {
		.calendar-left-grid-container {
			.grid {
				.marketing-calendar-grid-listed-row {
					padding: 0;
				}

				.grid-row-actions {
					display: none;
				}
			}
		}
	}

	&[data-item-marker="RightGridContainerNotVisible"] {
		.calendar-left-grid-container {
			.grid {
				.grid-row-selected {
					height: auto;
				}
			}
		}
	}
}

.calendar-left-grid-container {
	height: calc(~'100% - 23px');
	display: flex;
	flex-basis: 100%;
	min-width: 400px;
}

.calendar-right-grid-container {
	width: calc(~'100% - 400px');
	height: calc(~'100% - 20px');
}

.button-container-wrapClass {
  height: 40px;
  white-space: nowrap;
}

.right-tools-buttons-container-wrapClass {
  display: inline-block;
  float: right;
  position: relative;
  z-index: 1;
}

.module-container {
  width: 100%;
  padding-left: 14px;
  padding-top: 0px;
}

.toggle-calendar-wrapper {
	height: 30px;
	padding-left: 0.38em;
	padding-right: 0.38em;

	.toggle-calendar-image {
		background-repeat: no-repeat;
		width: 42px;
		height: 42px;
	}

	&[data-item-marker="RightGridContainerVisible"] {
		.toggle-calendar-image {
			background-position-y: -22px;
		}
	}
}
