#MessagePublishers {
	margin-top: 10px;
	margin-bottom: 20px;
	.schema-wrap.one-el {
		min-width: 0;
	}
	.publisherBottomContainer>span {
		margin-right: 5px;
	} 
	.publishButton {
		float: right;
	}
	.html-edit-textarea .base-edit:not(.base-edit-focus) {
		border: 1px solid #cbcbcb;
	}
	.attachmentWrap {
		height: 20px;
		margin: 5px 0px;
		.attachmentLink {
			float: left;
		}
		.attachmentDeleteImage {
			margin-left: 10px;
			float: left;
			cursor: pointer;
			img{
				padding-top: 3px;
			}
		}
	}
	.toolbarVisibilityButtonImage, .attachFileButtonImage {
		height: 1.4em;
		width: 1.4em;
	}
}

.publisherButtonsContainer {
	margin-bottom: 1.5em;
	.publisherButton {
		border-left: 0px;
		border-radius: 0px;
		.publisherButtonImage {
			width: 1.4em;
			height: 1.4em;
		}
		.publisherButtonLabel {
			margin-left: 0.5em;
		}
	}
}
