@draggable-items-width: 300px;
@mini-page-width: 420px;
@header-height: 126px;
@padding-width: 6px;

.wizard-container {
	.design-container-wrapClass {
		.alignable-container {
			position: static !important;
			min-height: calc(~"100vh" - @header-height + @padding-width * 2);
			padding: calc(20px + 28px + 20px) 0 0 calc(~"50%" - @mini-page-width / 2);
			background-color: white;
			border: 1px solid #e6e6e6;
			border-radius: 3px;
			top: 0 !important;
			left: 0 !important;
			z-index: 0;

			.minipage-content-container {
				width: @mini-page-width;
				padding: 40px;
				box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.3);

				.grid-layout-edit-wrap {
					padding: 2px 1px 2px 2px;
				}
			}

		}

		.mode-switch-container {
			position: absolute;
			top: 20px;
			left: calc(~"50%" + @draggable-items-width / 2);
			transform: translate(-50%, 0);
			border: 1px solid #7d97cf;
			border-radius: 2px;
			white-space: nowrap;

			.t-btn-wrapper {
				color: #6380c0;
				padding: 5px 20px;
				transition: background-color 0.2s linear;
			}

			.t-btn-wrapper:hover {
				background-color: #f2f5ff;
			}

			.t-btn-wrapper.t-btn-pressed:hover {
				background-color: #738bbf;
			}

			.t-btn-wrapper.t-btn-pressed {
				color: white;
				background-color: #7d97cf;
			}

			.t-btn-wrapper:not(:first-child):not(:last-child) {
				border-right: 1px solid #7d97cf;
				border-left: 1px solid #7d97cf;
			}
		}
	}
}

@-moz-document url-prefix() { // firefox only
	.wizard-container .mode-switch-container .t-btn-wrapper {
		transition: none;

		&:hover {
			transform: translate3d(0, 0, 0);
		}
	}
}

html[dir="rtl"] {
	.wizard-container .design-container-wrapClass .mode-switch-container {
		left: calc(~"50%" - @draggable-items-width / 2);
	}
}
