#MLModelPageContainer {
	.ts-progress-bar-wrap {
		height: 35px;

		.ts-progress-bar-items {
			height: 7px !important;
		}
	}
}
#MLModelSectionContainer, #MLModelPageContainer {
	.ts-progress-bar-wrap[position = '1'] {
		.ts-progress-bar-item-active {
			background: #03a9f4;
		}
	}
	.ts-progress-bar-wrap[position = '5'] {
		.ts-progress-bar-item-active {
			background: #8dcb60;
		}
	}
	.ts-progress-bar-wrap[position = '-1'] {
		.ts-progress-bar-item-inactive {
			background: #ef7e63;
		}
	}
}
