.ML.ts-messagebox-box {
  width: 460px;
  .ts-messagebox-caption {
    h3 {
      color: #4e7bd8;
      margin-top: 0;
    }
  }
  .t-btn-wrapper {
    float: right;
    margin-right: 0;
  }
} 