.x-ie .x-file-detail .x-button.x-edetail-delete-button,
.x-file-detail .x-edetail-delete-button {
	position: absolute;
	width: 40px;
	height: 40px;
	top: 50%;
	margin-top: -20px;
}
.x-file-detail .x-field-labeled {
	padding-left: 50px;
	padding-top: 0 !important;
}
.x-file-detail .x-form-label {
	margin-left: 0;
	padding-left: 0;
}
.x-file-detail .x-field.x-field-text .x-field-input {
	padding-left: 0;
}
.x-file-detail .x-field.x-item-disabled input, .x-field.x-item-disabled textarea {
	color: rgba(0, 0, 0, 0.26);
}