.modal-box-schema-module-content,
.modal-box-schema-module-header {
	padding-left: 24px;
}

.modal-box-schema-module-header {
	.modal-box-title {
		font-family: "Segoe UI Light";
		color: #64b8df;
		font-size: 2.2em;
		letter-spacing: -0.01em;
		margin-bottom: 1em;
	}
	.card-content-container:before {
		display: none;
	}
}

.schema-wrap.one-el.modal-box-schema-module-content {
	position: absolute;
	right: 30px;
	left: 27px;
	padding-right: 3px;
	overflow-y: auto;
	height: ~"calc(100% - 64px)";
	padding-left: 2px;

	.label-wrap label {
		text-align: left;
	}

	.ts-controlgroup-container:last-child {
		padding-bottom: 0em;
	}

	.lookup-view-label {
		color: #999;
		font-size: 1.3em;
		font-family: "Segoe UI";
	}
}