.label(@color, @size) {
  color: @color;
  font-size: @size;
}
.page-caption-label {
  .label(#444444, 3.5em);
  margin-bottom: 29px;
  font-family: "Segoe UI Light";
  letter-spacing: -0.01em;
}
.top-settings-container {
	margin-bottom: 5px;
}

.page-caption-container {
	width: 100%;
}
.cancel-button {
	margin-left: 10px;
	vertical-align: bottom;
}
.description-edit {
	margin-top: 10px;
	height: 100px;
}

.name-edit {
	margin-top: 5px;
}
.controls-container {
	display: inline-block;
}

.control-caption {
  margin-top: 26px;
}