#omnichannel-contacts-tooltip-wrapEl {
  .tip-border {
    padding: 0;
    .tip-panel {
      .tip-content {
        padding: 16px;
        margin-right: 0;
        &:empty {
          padding: 0;
        }
      }
      .tip-items {
        margin: 0;
        .ad-tooltip-menu {
          overflow-x: scroll;
          position: static !important;
        }
        .menu-item-image {
          background-size: contain;
          border-radius: 50%;
        }
      }
    }
  }
}
