@communication-panel-width: 35.9em; // as in ViewModule.css
@center-panel-width: 36.4em;
@queues-panel-min-width: 20em;
.flexBasis(@width) {
	flex-basis: @width;
	-webkit-flex-basis: @width;
	-ms-flex-basis: @width;
}

div#OperatorSingleWindowPageContainer {
	.schema-wrap.one-el {
		min-width: 0;
	}
	[data-item-marker="SettingsButton"] {
		padding: 0.38em 1.65em 0.38em 0;
	}
	.search-dashboard-button {
		display: none;
	}
	.page-tools-button {
		margin-top: -32px;
		height: 30px;
		padding: 0.38em 1.65em 0.38em 0;
	}
	.ts-tabpanel-scroll-right {
		background-position: 6px 6px;
	}
	.ts-tabpanel-scroll-right:hover {
		background-position: 6px 6px;
	}
	display: flex;
	display: -ms-flexbox;
	display: -webkit-flex;
	flex-direction: row;
	-ms-flex-direction: row;
	-webkit-flex-direction: row;
	height: 100%;
	justify-content: flex-start;
	.operator-window-left-container {
		width: 100%;
		min-width: @queues-panel-min-width;
		padding-right: 2em;
	}
	.operator-window-center-container {
		min-width: @center-panel-width;
		max-width: @center-panel-width;
		padding-right: 0.5em;
		padding-left: 1em;
		border-left: solid 1px #e1e8f2;
		overflow-y: auto;
		.social-feed-header {
			display: none;
		}
		.feedWidth {
			position: relative;
		}
	}
	.operator-window-right-container {
		min-width: @communication-panel-width;
		max-width: @communication-panel-width;
	}
	.ts-tabpanel-scroll-right {
		right: 4em;
	}
	#centerContainer {
		.comment-actions {
			padding-left: 44px;
			.likeCaption {
				display: none;
			}
			.createdByDate {
				display: block;
				padding-left: 0;
			}
		}
	}
	.ts-tabpanel-scroll-visible .ts-tabpanel-items {
		margin-right: 70px;
	}
	.grid-pad {
		padding-top: 0px;
	}
}