@outer-padding: 50px;
@inner-padding: 6px;
@header-height: 34px;
@all-padding: @outer-padding*2 + @inner-padding*2;
@left-container-width: 387px;
@main-header-height: 56px;

#ViewModuleContainer {
	height: 100%;

	.wizard-container {
		height: 100%;

		.wizard-mask-container {
			background-color: #bac0cf;
			opacity: 0.7;
			z-index: 550;
			position: fixed;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			width: auto;
			height: auto;
		}
	}
}

body[OldUI=false] .page-wizard div.center-panel {
	position: absolute !important;
	right: @outer-padding;
	left: @outer-padding;
	top: @outer-padding;
	bottom: @outer-padding;
	z-index: 600;
	box-shadow: 1px 1px 5px grey;
	background-color: white;
	border-top: 3px solid #64b8df;
	padding: @inner-padding 0 0 0;

	.default-center-panel-content {
		height: 100%;
	}
}

.main-content-wrapper {
	height: 100%;

	.page-template-lookup {
		background-color: white;
		height: 100%;
		overflow: hidden;

		.header {
			padding-left: 16px;
			padding-top: 1px;
			height: @header-height;
			box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);

			.t-btn-wrapper {
				padding-top: 3px;
				padding-bottom: 3px;
			}

			.close-btn {
				position: absolute;
				right: 0;
				top: 10px;

				.t-btn-image {
					width: 16px;
					height: 16px;
				}
			}
		}

		.content {
			height: calc(~"100%" - @header-height);
			flex-wrap:  nowrap;

			.left-container {
				display: flex;
				flex-direction: column;
				float: left;
				width: @left-container-width;
				background-color: white;

				.left-container-title {
					white-space: nowrap
				}

				.t-title {
					font-family: "Bpmonline Open Sans Light";
					font-size: 20px;
					color: #444444;
					padding: 16px 5px 10px 28px;
					width: initial;
					text-align: left;
				}

				.lookup-settings-info-button {
					padding-top: 13px;
				}

				.page-templates {
					display: flex;
					flex: 1 1 auto;
					flex-wrap: wrap;
					align-content: flex-start;
					overflow-y: auto;
					height: calc(~"100vh" - 238px);
					min-height: calc(~"100vh" - 238px);
					margin: 0 15px;

					.page-template-item .t-btn-wrapper {
						width: 150px;
						margin: 3px 10px 3px 10px;
						max-height: 208px;
						text-overflow: ellipsis;

						&.t-btn-pressed .t-btn-image {
							border: 1px solid #00aeef;
						}

						&:hover .t-btn-image {
							box-shadow:  inset rgba(0, 174, 239, 0.5) 0px 0px 5px;
						}

						.t-btn-text {
							float: none;
							display: inline-block;
						}

						.t-btn-image {
							border: 1px solid transparent;
							transition: border-color .3s;
							height: 140px;
							width: 140px;
							background-repeat: no-repeat;
							background-size: 140px;
							left: 0;
						}
					}
				}

				.bottom-container {
					height: 41px;
					box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.2);
					z-index: 0;

					.setup-templates-button {
						margin-top: 7px;
						margin-left: 3px;
						color: #777;

						.t-btn-image {
							opacity: 0.7;
						}
					}
					.setup-templates-button:hover {
						color: #444;

						.t-btn-image {
							opacity: 1;
						}
					}
				}
			}

			.preview {
				position: static;
				overflow-y: hidden;
				height: 100%;
				padding: @inner-padding;
				background: #ebeeef;

				.fixed-bottom-items-container {
					display: none !important;
				}

				.draggable-items-list {
					display: none;
				}

				.schema-wrap {
					position: relative;
				}

				.center-main-container {
					width: 100%;
				}

				#DesignedView .card-content-container {
					padding-top: @main-header-height + @inner-padding !important;
					min-height: calc(~"100vh" - @all-padding + @main-header-height + @header-height + 9px);

					.actions-container {
						width: 100%;
						position: absolute;
					}
				}

				.main-header {
					position: inherit;
					border: 1px solid #e6e6e6;
					border-bottom: none;
					border-radius: 3px;

					.right-header-container-class {
						border: 0;
					}
				}

				.design-container-wrapClass {
					margin-top: 0px !important;
					display: flex;
					flex-direction: column-reverse;
					height: 100%;

					.main-header {
						top: 0px;
						left: 0px;
					}

					#DesignedView {
						padding-left: 0;
					}
				}
			}
		}
	}
}
