html[dir="rtl"] {
	.grid-listed [grid-cell-type~="number"] [grid-data-type="number"] {
		text-align: left;
	}
	.configuration-grid .content-row-wrap {
		.grid-listed-row .grid-cell-selected {
			.base-edit-input {
				text-align: left;
			}
		}
	}
}

.border-left {
	border-left: 1px solid #E0E0E0;
}

.border-right {
	border-right: 1px solid #E0E0E0;
}

.grid-listed [grid-cell-type~="number"] [grid-data-type="number"] {
	display: block;
	text-align: right;
}

.configuration-grid .content-row-wrap {
	padding-top: 2px;
	padding-left: 2px;
	overflow: auto;
	clear: none;
	display: block;
	[class*='grid-cols-'] {
		padding: 0 0px 0 0 !important;;
	}
	.grid-cell {
		.grid-row-controls {
			width: inherit;
		}
	}
	.grid-listed-row .grid-cell-selected {
		line-height: 1.5em !important;
		span[grid-data-type="number"] {
			display: none;
		}
		.base-edit {
			padding-left: 0px !important;
			padding-right: 0px !important;
			line-height: inherit !important;
		}
		.base-edit-input {
			line-height: 2.3em;
			text-align: right;
			font-size: 1em;
			padding-right: 0.2em;
		}
	}
}

.columns-captions-wrap {
	padding-top: 2px;
	display: block;
	overflow: hidden;
	clear: none;
	padding-left: 2px;
	border-bottom: 1px solid #E0E0E0;
}
.captions-empty {
	border-bottom: 1px solid #E0E0E0;
}

.rows-captions-wrap, .captions-empty {
	padding-top: 2px;
	padding-right: 2px;
	height: 1px;
	display: inline-block;
	float: left;
	overflow: hidden;
	clear: both;
}

.grid-listed-row {
	padding: 7px 6px 0;
}

.grid-listed-caption-row {
	[class*='grid-cols-'] {
		line-height: 2.43em !important;
		padding: 0 0px 0 0;
		label {
			margin-right: 0px;
		}
	}	
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0 0 0px;
	padding: 0px 0px 0;
	min-height: 35px;
	width: 100%;
	text-align: right;
}

.captions-wrapper-block {
	width : 100%;
	display : inline-block;
}
