@color: #006CE0;

.playbook-iframe {
	border: 0 !important;
	position: relative;
	z-index: 0;
	min-width: 500px;
	min-height: 300px;
	padding-left: 20px;
}

.minipage-content-container{
	overflow-x: auto !important;
}

.minipage-alignable-container.playbook-align-center {
	border-top: 3px solid @color;
	
	.label-in-header-container {
		color: @color;
	}
}
