.schema-wrap .ts-tabpanel.portal-main-page-tab.portal-main-page-tab-settings {
	padding-right: 4em;
}

.schema-wrap .ts-tabpanel.portal-main-page-tab {
	padding-right: 0;
}

.schema-wrap .ts-tabpanel-tools {
	padding-right: 0em;
 }