.predefined-filters-container-wrapClass {
	padding-top: 0.48em;
	vertical-align: top;

	.filter-items-container-list {
		display: inline-flex;
		padding: 0.38em 0.86em 0.38em 0.86em;

		.t-label {
			width: auto;
		}

		.t-btn-wrapper {
			padding-top: 0.2em;
			padding-left: 0.38em;
		}
	}
}