@color-white: #ffffff;
@color-widget: #4ca6a3;

.widget-metrics-container {
	align-items: center;
	background-color: @color-widget;
	color: @color-white;
	display: flex;
	font-family: "Bpmonline Open Sans", serif;
	justify-content: center;
	overflow: hidden;
}
.widget-metric-item {
	cursor: default;
	margin-top: 22px;
	text-align: center;
	label {
		font-size: 13px;
		margin-top: 14px;
	}
}
.overlay {
	span {
		color: @color-white;
		font-family: "Bpmonline Open Sans", serif;
		font-size: 45px;
	}
}
div.ts-round-progress-bar-wrap {
	background-color: rgba(255, 255, 255, 0.3);
	.overlay {
		background-color: @color-widget;
		color: @color-white;
		font-family: "Bpmonline Open Sans", serif;
	}
	.circle {
		.half {
			border-color: @color-white !important;
		}
	}
}
.main-widget-metrics-container {
	background-color: @color-widget;
	height: 100vh;
}
#PRMportalLevelSchemaContainer.schema-wrap.one-el {
	min-width: auto;
}