.execution-details-edit-page-modal {
	border: 0;
	padding: 26px 40px 10px 40px;
	.ts-modalbox-innerbox {
		display: block;
		.base-edit:not(.base-edit-disabled):hover .base-edit-right-icon,
		.base-edit-focus .base-edit-right-icon {
			display: block;
		}
		.base-edit-right-icon {
			display: none;
		}
		.base-edit.base-edit-with-right-icon {
			padding-right: 10px;
		}
	}
	.schema-wrap.one-el {
		min-width: 30em;
	}
	.process-task-execution-detail-header-name-container{
		.t-label {
			font-size: 20px;
			color: #64b8df;
		}
	}
	.modal-box-schema-module-header {
		padding-left: 0;
		padding-bottom: 18px;
		.close-btn-container {
			padding-top: 15px;
			padding-right: 25px;
		}
	}
	.schema-wrap.one-el.modal-box-schema-module-content {
		padding: 0;
		position: static;
		.execution-details-edit-page {
			height: 100%;
			.modal-box-card-content-container {
				.grid-layout {
					.control-width-15 {
						display: inline-block;
						margin-bottom: 10px;
						.control-wrap {
							margin-top: -5px;
						}
					}
					.control-width-15.show-in-scheduler-container {
						display: inline-flex;
						.label-wrap {
							order: 1;
						}
						.control-wrap {
							flex-basis: 25px;
						}
					}
				}
				.label-wrap {
					max-width: none;
					min-width: 10em;
				}
			}
			.bottom-buttons-wrapper {
				margin-top: 20px;
				margin-bottom: 10px;
				text-align: right;
				.right-button {
					margin-left: 9px;
				}
			}
		}
	}
}
