@light-gray-color: #999;

div .base-edit {
	padding-left: 5px;
}

.search-text-edit {
	font-size: 0.9em;
	margin-left: auto !important;
}

.search-text-edit .base-edit {
	border-color: #e0e0e0 !important;
	border-style: solid !important;
	border-width: 0px 0px 1px 0px !important;
	color: #000;
}

.half-width {
	width: 50%;
}

.grid-captions {
	display: none;
}

::-webkit-input-placeholder {
	color: @light-gray-color;
}

::-moz-placeholder {
	color: @light-gray-color;
}

:-ms-input-placeholder {
	color: @light-gray-color;
}