.header-name-container {
	display: inline-block;
	width: 45%;
	margin-top: -1px;
	margin-bottom: 27px;
}
/*.t-btn-text {
}*/
.graph-header-name {
	font-size: 16px;
	font-family: "Segoe UI Light";
	color: #058dc7;
	letter-spacing: -0.01em;
	width: 100%;
	margin-bottom: 28px;
}
.header-button-menu {
	font-size: 24px;
	margin-top: 9px;
}
.header-button-text {
	color: #444444;
	font-size: 35px;
	font-family: 'Segoe UI Light';
	letter-spacing: -0.01em;
	text-align: left;
	padding: 0px 27px 0px 0px;
	line-height: 1.072em;
}
.t-btn-marker {
	/*position: absolute;
	top: 0;
	bottom: 0;
	right: -10px;
	margin: auto 0;
	width: 0;
	height: 0;
	border-top: 0.32em solid #6d6d6d;
	border-right: 0.32em solid transparent;
	border-left: 0.32em solid transparent;
	content: "";
	font-size: 24px;
	margin-top: 9px;*/
}
.section-tab-list {
	display: inline-block;
	vertical-align: top;
	width: 50%;
	padding-right: 15px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	overflow: hidden;
}
.myt-btn-wrapper {
	/*padding: 0px 27px 0px 0px;*/
}
.qualifycustom-view-container {
	/*margin-bottom: 28px;*/
}
.qualifycustom-label-container {
	/*width: auto;
	padding-left: 12px;*/
}
.qualifycustom-radiolabel-container {
	/*width: auto;
	padding-left: 12px;
	margin-top: 2px*/
}
.qualifycustom-control-container {
	/*float: left;*/
}

.qualify-module-checkbox {
	/*margin-bottom: 34px;*/
}
.qualify-module-gridlabel {
	/*width:33%;
	color: grey;*/
}
.qualify-module-radiolabel {
	/*width: 200px;
	margin-left: 9px;*/
}
.qualify-module-label {
	/*width: 220px;
	margin-left: 9px;
	margin-bottom: 30px;*/
}
.qualify-module-checkboxLabel {
	/*margin-bottom: 6px;
	margin-top: 26px;*/
}
.qualify-module-checkboxtopLabel {
	/*margin-bottom: 6px;*/
}
.qualify-module-titlelabel {
	/*width: 100%;
	background-color: #D8D8D8;*/
}
.profile-save-button {
	margin-right: 9px;
}
.buttons-menu-container {
	margin-bottom: 8px;
	width: 100%;
	/*display: inline-block;*/
}
/*.qualify-lead-main-buttons {
	display: inline-block;
	vertical-align: top;
	width: 50%;
	padding-right: 15px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	overflow: hidden;
}*/

.profile-command-line {
	display: inline-block;
	vertical-align: top;
	width: 50%;
	padding-left: 15px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.profile-context-help-container {
	display: inline-block;
	width: 5%;
	height: 42px;
	vertical-align: top;
}

.qualify-module-rightcontainer{
	/*margin-bottom: 28px;
	width: 30%;*/
}
.qualify-module-gridcontainer {
	/*margin-top: 28px;
	margin-bottom: 28px;
	border: 1px solid black;*/
}
.qualify-module-captioncontainer {
	/*margin-top: 28px;*/
}
.qualify-module-lookup {
	/*margin-top: 10px;
	margin-bottom: 28px;
	width:220px*/
}
.left-container {
	margin-bottom: 24px;
	/*float:left;*/
	width: 280px;
}
.qualify-module-leadInfoContainer {
	/*margin-top: 33px;
	margin-bottom: 28px;
	border: 1px solid black;*/
}
.qualify-module-wraplabel{
	/*width: 100px;*/
}

.profile-button {
	width: 100%;
	margin-top: 24px;
	background-color: #f0f0f0;
	color: #444;
	text-transform: none;
	font-size: 1.4em;
	padding-top: 0.4em;
}

.profile-button.t-btn-style-default:not(.t-btn-disabled):hover {
	background: #e5e5e5;
}

.profile-button.t-btn-down.t-btn-style-default:not(.t-btn-disabled) {
	background-color: #dbdbdb;
}

.profile-label {
	/*width: 100%;
	margin-top: 24px;*/
}
.controlgroup-container {
	/*padding-bottom: 28px;
	padding-top: 10px;
	border-bottom: solid 1px #c2c6ce;*/
}
.password-caption .t-label {
	/*overflow: hidden;
	display: inline-block;
	font-size: 1.4em;*/
}
.profile-module-left-container-bottom-border {
	border-bottom: solid 1px #c2c6ce;
	padding-bottom: 24px;
}

#profileModuleTopContainer {
	margin-left: 2px;
}