div[data-item-marker='QueueItemSectionContainer'] {
	.fixed-filter-checkbox-container {
		float: left;
		width: auto;

		.t-btn-text {
			padding: 0.65em 0.86em 0.65em 0.86em;
		}

		.t-checkboxedit-wrap {
			border: none;
			margin: 8px 0px 1px 1px;
			background-position: 0px -20px;
			width: 20px;
			height: 20px;

			&.t-checkboxedit-focus {
				box-shadow: none !important;
				border-color: #8CA0BC !important;
			}

			&.t-checkboxedit-checked {
				background-position: 0px 0px;
			}
		}
	}
}
