.filter-simple-filter-edit {
	width: 150px;
	margin-right: 9px;
	vertical-align: bottom;

	.base-edit-input {
		display: block;
	}
}

.filter-simple-filter-edit-combo {
	width: 150px;
	margin-right: 9px;
	vertical-align: bottom;

	.base-edit-input {
		display: block;
	}
	.base-edit-right-icon-wrapper {
		display: none;
	}
}

.simple-filter-edit-container {
	.t-btn-wrapper {
		margin-right: 9px;
		vertical-align: bottom;
		width: 28px;
		padding-top: 5px;
		padding-left: 5px;
		min-height: 28px;
	}

	.t-btn-style-blue {
		height: 28px;
	}
}

.fixed-filter-container,
.custom-filter-button-container,
.simple-filter-edit-container,
.custom-filter-container {
	float:left;
	display: inline-block;
	line-height: 30px;
	vertical-align: top;
	max-width: 100%;
}

.fixed-filter-container {
	&:empty {
		display: none;
	}

	.wrapper-with-centered-right-menu {
		display: inline-block;
		vertical-align: top;
		padding-left: 0;
		padding-top: 0.175em;
	}

	.filter-remove-button {
		margin-right: 22px;
	}
}

.custom-filter-container .t-btn-text {
	padding-top: 1px;
	padding-bottom: 1px;
	line-height: 1.075em;
}

.simple-filter-edit-container {
	margin: 1px 0 0 18px;
	background-color: transparent;
	z-index: 100;
	position: relative;
}

.filter-remove-button {
	padding: 0.35em;
	padding-bottom: 0.3em;
	position: relative;
	top: 3px;
	margin-right: 15px;
}

.customFilterContainer .filter-inner-container {
	padding-top: 7px;
}

.filter-value-label,
.filter-caption-label {
	display: inline;
}

.fixed-filter-element-container-wrap,
.filter-element-container-wrap {
	display: inline-block;
	vertical-align: top;
	height: 30px;
	float:left;
	max-width: 100%;
}
.filter-inner-container label {
	margin-right: 2px;
	vertical-align: inherit;
	top: 0;
	position: relative;
}

.custom-filter-button-container {
	.wrapper-with-centered-right-menu {
		display: inline-flex;
		padding-left: 0;
		padding-bottom: 0.45em;
		padding-top: 0.45em;
		margin-left: 10px;
	}

	.t-btn-image {
		width: 16px;
		height: 16px;
		margin-right: 0.5em;
		margin-top: 0.1em;
	}
}

.detail .custom-filter-button-container .t-btn-image {
	margin-top: 0;
}

.fixed-period-filter-element-container-wrap {
	.wrapper-with-centered-right-menu .t-btn-menu {
		top: -0.3em !important;
	}

	.t-btn-wrapper.wrapper-with-centered-right-menu {
		padding-top: 0.4em;
	}
}

.filter-inner-container .wrapper-with-centered-right-menu .t-btn-menu {
	top: 0.2em !important;
}

.dashboard-container .filters-container-wrapClass {
	margin-top: 0.5em !important;
}

.section-inner-wrap.two-el {
	.utils-container-wrapClass {
		padding-top: 0.1em;
		padding-left: 10px;
		min-width: 0;
	}

	.grid-dataview-container-wrapClass,
	.analytics-gridLayout-container {
		margin-top: 0.1em;
		margin-left: -1px;
	}
}

.filter-caption-label {
	color: #999999;
	padding-right: 3px;
}

.period-fixed-filter-image-class {
	width: 20px;
	height: 20px;
}

.schema-wrap.two-el .left-utils-container-wrapClass .day-period-fixed-filter-wrapper-class{
	display:none;
}

.day-period-fixed-filter-wrapper-class {
	padding-top: 0.4em;
	padding-left: 0;
	padding-right: 0;
	margin-right: 1.7143em;
}

.week-period-fixed-filter-wrapper-class {
	padding-right: 1.3em;
}

.folder-icon-button {
	padding: 0 !important;
	vertical-align: bottom;
	height: 20px;

	.t-btn-image {
		width: 16px;
		height: 16px;
		margin-top: -1px;
	}

	.t-btn-text {
		margin-left: 5px;
	}

	.t-btn-menu,
	.t-btn-menuWrap {
		display: none;
	}
}

.owner-fixed-filter-container-class {
	vertical-align: top;

	.wrapper-with-centered-right-menu {
		padding-top: 0.50em;
	}

	.t-btn-image {
		width: 1.4em;
		height: 1.4em;
		margin-top: -0.2em;
		margin-right: 0.5em;
	}
}

.folder-filter-container {
	line-height: 27px;
	float: left;
	height: 34px;

	.folder-filter-inner-container {
		.filter-caption-value-container {
			.folder-icon-button {
				width: 100%;

				.t-btn-text {
					max-width: 88%;
					text-overflow: ellipsis;
					overflow: hidden;
					white-space: nowrap;
				}
			}
		}

		.filter-remove-button {
			top: 2px;
		}
	}
}

.x-ie {
	.folder-filter-inner-container {
		max-width: 240px;

		.filter-caption-value-container {
			width: auto;
			max-width: 200px;

			.folder-icon-button {
				width: auto;

				.t-btn-text {
					width: auto;
					max-width: 160px;
				}
			}
		}
	}
}

.filter-caption-value-container {
	display: inline-block;
	max-width: 240px;
	overflow: hidden;
	white-space: nowrap;
	padding-top: 0;
	text-overflow: ellipsis;
}

.tag-filters-container {
	display: inline-block;
	line-height: 30px;
	vertical-align: top;
	float: left;

	& .x-ie {
		.tag-filters-container .tag-filters-add-button-text {
			width: auto;
		}
	}

	.tag-filters-add-button-container {
		display: inline-block;
		vertical-align: top;
		float:left;
	}

	.tag-filters-add-button {
		padding: 9px 8px 9px 3px;

		.tag-filters-icon {
			height: 16px;
			width: 16px;
		}
	}

	.tag-filters-add-button-text {
		width: initial;
		padding-right: 3px;
	}

	.tag-filters-add-button-text:hover {
		cursor: pointer;
		color: #10a0e3;
	}

	.tag-filter-edit-container {
		display: inline-block;
		vertical-align: top;
		margin-top: 1px;
		margin-bottom: 5px;
		float: left;

		.t-btn-image {
			margin: 0;
		}

		.t-btn-wrapper {
			margin-right: 9px;
			vertical-align: bottom;
			width: 28px;
			padding-left: 5px;
			padding-top: 5px;
			min-height: 28px;
		}

		.base-edit-right-icon-wrapper {
			display: none;
		}

		.base-edit-with-right-icon {
			padding-right: 10px;
			height: 28px;
			vertical-align: bottom;

			.base-edit-input {
				display: block;
			}
		}
	}

	.tags-container-list {
		display: inline-block;
	}

	.tag-filter-item {
		display: inline-block;
		border-radius: 7px;
		height: 25px;
		margin-top: 5px;
		margin-right: 5px;

		.tag-filter-item-label {
			margin-top: -4px;
		}

		.filter-remove-button {
			display: none;
		}

		&:hover {
			.filter-remove-button {
				display: inline-block;
				right: 2px;
				background-color: #fff;
				background-repeat: no-repeat;
				background-position: center;
			}
		}
	}

	.tag-filter-item-container {
		display: inline-block;
		float: left;
	}
}

.schema-wrap.two-el .left-utils-container-wrapClass {
	.folder-filter-container {
		float: none;
	}
	.tag-filters-container {
		.tag-filters-add-button-container {
			width: 280px;
			display: block;
			float: none;

			.tag-filters-add-button-text {
				top: 0;
			}

			.tag-filters-add-button {
				padding-top: 6px;
				margin-left: -3px;
			}
		}

		.tags-container-list{
			width: 280px;
			display: block;
		}

		.tag-filter-item-container {
			display: block;
			height: 29px;
		}

		.tag-filter-item {
			margin-top: 1px;
		}

		.tag-filter-edit-container .filter-simple-filter-edit {
			width: 229px;
		}

		.tag-filter-item-label {
			max-width: 258px;
		}
	}
}
