.grid .sysmodule-name-label {
	display: inline;
	font-family: "bpmonline UI", serif;
	color: #444;
}
.sysmodule-name-container {
	.t-information-btn {
		margin-top: -1px;
	}
}

.tip-red[data-item-marker*="SysModuleRightsErrorTip"] {

	.tip-anchor {
		top: 34px;
	}

	.information-container-wrap {
		width: 500px;
	}

	.schema-wrap.one-el {
		min-width: auto;
	}

	.rights-error-action {
		display: inline;
	}

	.multiline-label {
		padding: 1em;
	}

	.change-rights-button {
		color: #4e7bd8;
		padding-top: 2px;
		padding-right: 0;
		padding-bottom: 0px;
		padding-left: 5px;
	}

	.rights-error-footer {
		padding-top: 1em;
	}
}