#SendTestEmailContentSchemaContainer {
	position: relative;
	right: 0;
	left: 0;
	padding-left: 24px;
	padding-right: 24px;
	overflow-x: hidden;
}

.send-test-email-content-schema-header {
	.header-name-container {
		width: 100%;
	}
}

.send-test-email-content-schema-body {
	.template-settings-block-label {
		color: #999999;
		font-size: 14px;
		margin: 13px 0 11px 0;
	}

	.radio-button-container {
		margin-bottom: 12px;
	}

	.radio-button-container label {
		display: inline-block;
		padding: 2px 0 0 11px;
		margin: 0;
	}

	#emailInput-input-wrap {
		max-height: 150px;
		overflow-y: auto;
	}

	.vertical-field-label {
		display: block;
		margin: 0 0 5px 0;

		.control-wrap {
			margin: 0;
			padding: 0;
		}

		.label-wrap {
			width: 100%;
			max-width: none;
			.t-label {
				white-space: nowrap;
			}
		}

		.tip-label-wrap {
			text-align: left;
		}

		.email-memo-edit {
			.memo-edit-scroll {
				max-height: 38px;
				overflow-y: auto;
				-ms-overflow-style: -ms-autohiding-scrollbar;
			 }
			.base-edit-input {
				height: 38px;
			}
		}

	}

	.vertical-field-without-label {
		display: flex;
		flex-direction: column;
		margin: -5px 0 12px 0;

		.control-wrap {
			margin: 0;
			padding: 0;
		}

		.label-wrap {
			font-size: 0;
			width: 100%;
			max-width: none;
			.t-label {
				white-space: nowrap;
			}
		}

	}

	.tip-label-wrap.template-settings-block-label {
		text-align: left;
	}

	.radio-button-container {
		margin-left: 0;
	}

	.buttons-container {
		display: flex;
		justify-content: flex-end;
		margin: 40px 0 0 0;

		.t-btn-wrapper {
			margin: 0 0 0 10px;
		}
	}
}

#TestEmailMask {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: auto;
	height: auto;
	margin: 0;
	background-color: #737CA1;
	opacity: 0.4;
	z-index: 1002;
}

#TestEmail {
	position: fixed;
	display: table;
	margin: auto;
	top: 30%;
	bottom: auto;
	left: 0;
	right: 0;
	height: auto;
	width: 470px;
	z-index: 1003;
	background-color: #fff;
	box-shadow: 0 0 8px 0 rgba(0,0,0,0.25);
	border-top: 3px solid #64b8df;
	padding: 15px 0 15px 0;

	&::before {
		content: none;
	}

	.t-label {
		text-align: left;
	}

	.schema-wrap {
		min-width: 0;
	}
}
