#ServiceParameterGridContainer {
	display: flex;
	align-items: flex-start;
	flex-wrap: nowrap;
	flex-flow: column;
}

.service-parameter-grid-main-container {
	display: flex;
	width: 100%;
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	>.grid.grid-listed {
		width: calc(~"100% - 523px");
		max-width: calc(~"100% - 523px");
		padding-left: 0px;
		padding-top: 8px;
		height: 100%;
		overflow-y: auto;
		min-height: 300px;
	}
}

.service-method-builder-parameters .service-parameter-grid-main-container > .grid.grid-listed {
	min-height: initial;
}

.service-parameter-grid-page {
	min-height: 300px;
	border-left: 1px solid #e0e0e0;
	width: 523px;
	max-width: 65%;
	padding: 0px 0px 0px 10px;
	margin-right: 20px;
	z-index: 1021;
}
.parameter-grid-column-with-icon {
	display: flex;
	align-items: start;
	word-break: break-all;
	-ms-flex-align: start;
	img {
		margin-top: 2px;
		width: 16px;
		height: 16px;
	}
}

.service-parameter-grid-page > .schema-wrap.one-el {
	min-width: 35%;
}

#WebServiceMethodPageTabsContainerContainer .ts-tabpanel.ts-tabpanel-scroll-visible {
	padding-right: 0px;
}

.parameter-edit-container {
	padding: 10px;
}

.web-service-method-card-content-container {
	margin-top: 15px!important;
	box-shadow: 0 0 8px 0 rgba(0,0,0,0.25);
}

.method-page-container {
	width: 100% !important;
	height: 100% !important;;
	position: fixed !important;;
	display: block;
	top: 0 !important;;
	left: 0 !important;;
	background: rgba(128, 128, 128, 0.5);
	z-index: 1040;
	margin: 0px !important;
	padding-left: 80px !important;
	padding-top: 30px !important;
	padding-right: 50px !important;
	padding-bottom: 30px !important;
}

.parameter-actions-container {
	margin-top: 20px;
	display: flex;
	flex-direction: row-reverse;
}

#ServiceParameterValuePageInputContainerContainer {
	display: flex;
	align-items: center;
}

#ServiceParameterValuePageValuesContainer {
	flex-grow: 2;
}

#ValueCaption {
	width: auto;
	color: #999;
}

body[hide-scroll=true] {
	overflow: hidden !important;
}

.detail-tools-button-menu {
	display: none;
}

.service-method-builder-caption {
	font-size: 21px;
	color: #00aeef;
	font-family: "Bpmonline Open Sans Light";
}

.service-method-builder-caption-16 {
	font-size: 16px;
	color: #00aeef;
	padding-top: 2px;
	width: auto;
}

.bubble-image-panel {
	padding-top: 10px;
	margin-left: 350px;
	margin-right: 350px;
}

.border-container {
	border-left: 3px solid #ff7a64;
	padding-top: 1em;
	padding-left: 1em;
	padding-bottom: 1em;
	color: #999;
	margin-left: 100px;
	margin-top: 50px;
	font-family: "Bpmonline Open Sans Light";
	font-size: 18px;
	max-width: 620px;
	.t-label {
		margin-left: 5px;
	}
}

.result {
	font-size: 18px;
}

.result-message {
	padding-top: 10px;
}

.service-builder-input-container {
	height: 100%;
}

.webservice-auth-container {
	display: flex;
	.webservice-auth-setting {
		width: 22px;
		height: 22px;
	}
	.t-btn-no-text-padding {
		padding: 0.36em 0.5em 0.1em 0.4em !important;
	}
}

.service-builder-action-buttons-wrapper > .t-btn-wrapper {
	margin-right: 10px;
}

#grid-ServiceBuilderParameterGridDataGridControlGrid-wrap {
	min-width: 100%;
}

#grid-ServiceBuilderResponseParameterGridDataGridControlGrid-wrap {
	min-width: 100%;
}

.service-parameter-value-source {
	display: flex;
	align-items: center;
	.t-btn-menu {
		margin-top: 9px;
	}
	.t-btn-style-default:not(.t-btn-disabled):hover {
		background: none;
	}
	.t-btn-style-default {
		text-transform: none;
		border: 0px;
	}
	.t-btn-style-transparent {
		padding-left: 0;
		display: table;
	}
	.t-btn-text {
		padding-top: 3px;
		font-size: 14px;
	}
	.service-parameter-value-wrap {
		text-align: right;
		width: 1px;
	}
	.base-edit-readonly {
		background-color: white;
	}
	.base-edit-input[readonly="readonly"]{
		background-color: white;
	}
}

.service-parameter-value-caption {
	width: auto;
	color: #999;
}

.service-parameter-value-input {
	display: flex;
	align-items: center;
	margin-right: 20px;
}

.service-parameter-value-values {
	flex-grow: 2;
	.base-edit-focus {
		outline: none;
		border: 1px solid #fff;
		border-bottom: 1px solid #00aeef;
		box-shadow: none;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
	}

	.base-edit.ts-box-sizing.base-edit-with-right-icon.date-edit.datetime-datecontrol {
		width: calc(~"100% - 92px");
	}
}

.auth-info-setup-container {
	display: flex;
	width: 54.55%;
	flex-direction: column;
	.label-wrap {
		min-width: 150px;
	}
	.control-wrap {
		min-height: 32px;
	}
	.t-label {
		font-size: 1.3em;
	}
	.schema-wrap.one-el {
		min-width: initial;
	}
	.label-wrap + .control-wrap {
		margin-left: -150px;
		padding-left: 150px;
	}
	.service-parameter-value-source {
		width: 92%;
		max-width: 700px;
	}
	.grid-layout-column {
		max-width: 700px;
	}
	.app-select {
		width: 100%;
	}
	.t-no-padding {
		padding: 0;
	}
	.t-action-btn-image {
		width: 32px;
		height: 32px;
	}
	div[id*="AppButtonsGroup"] .ts-controlgroup {
		min-width: 72px;
	}
}

#WebServiceV2PageContainer .service-parameter-value-source .t-btn-marker {
	top: -3px!important;
}

.service-quick-setup-header-wrap .service-method-builder-caption {
	display: initial;
}

.service-mini-card-uri {
	border-left-width: 0px;
	border-right-width: 0px;
	border-top-width: 0px;
}

.app-select {
	.base-edit-left-icon {
 	background-size: 16px 16px !important;
}

.base-edit-input {
	padding-left: 0;
	}
}

.grid-listed-row .grid-primary-column img {
	width: 16px;
	height: 16px;
	max-width: 16px;
	max-height: 16px;
}

.grid-listed-row .icon-spacer-32x32 {
	padding-left: 24px !important;
	min-height: 20px;
}

.label-top {
	align-items: end;
		.t-label {
		margin-top: 4px;
	}
}

.web-service-card-content-container {
	.ts-tabpanel {
		padding-right: 0em !important;
	}
}

body[OldUI=false] .web-service-confirm-dialog, .web-service-confirm-dialog {
	.ts-messagebox-caption {
		font: 14px "Bpmonline Open Sans";
		max-height: 600px;
		overflow: scroll;
		margin-bottom: 28px;
		padding-bottom: 0;
	}
	width: 610px;
	max-height: 708px;
	padding: 25px;
}

.ts-mask-container.save-service-schema-mask {
	z-index: 3000;
}
