.preview-mixin() {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-position: center;
	background-repeat: no-repeat;
}

.desktop-list-item-mixin() {
	background-size: 40%;
	.preview-mixin();
	background-image: url("data:image/svg+xml,%3Csvg width='93' height='44' viewBox='0 0 93 44' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect y='12.5715' width='44.2857' height='14.1429' rx='2' fill='%23181818' fill-opacity='0.4'/%3E%3Crect width='44.2857' height='6.28571' rx='2' fill='white' fill-opacity='0.3'/%3E%3Crect x='48.7144' y='12.5715' width='44.2857' height='14.1429' rx='2' fill='%23181818' fill-opacity='0.4'/%3E%3Crect y='29.8572' width='44.2857' height='14.1429' rx='2' fill='%23181818' fill-opacity='0.4'/%3E%3Crect x='48.7144' y='29.8572' width='44.2857' height='14.1429' rx='2' fill='%23181818' fill-opacity='0.4'/%3E%3C/svg%3E%0A");
}

.full-preview-mixin() {
	background-size: 95%;
	aspect-ratio: 16 / 9;
	.preview-mixin();
	background-image: url("data:image/svg+xml,%3Csvg width='1501' height='764' viewBox='0 0 1501 764' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='16' y='16' width='28' height='28' rx='8' fill='white' fill-opacity='0.8'/%3E%3Crect x='57' y='23' width='90' height='14' rx='7' fill='white' fill-opacity='0.3'/%3E%3Crect x='160' y='23' width='14' height='14' rx='7' fill='white' fill-opacity='0.3'/%3E%3Crect x='187' y='23' width='14' height='14' rx='7' fill='white' fill-opacity='0.3'/%3E%3Crect x='214' y='16' width='177' height='28' rx='8' fill='white' fill-opacity='0.3'/%3E%3Crect x='1307' y='16' width='28' height='28' rx='8' fill='white' fill-opacity='0.8'/%3E%3Crect x='1357' y='16' width='28' height='28' rx='8' fill='white' fill-opacity='0.8'/%3E%3Crect x='1407' y='16' width='28' height='28' rx='8' fill='white' fill-opacity='0.8'/%3E%3Crect x='1457' y='16' width='28' height='28' rx='8' fill='white' fill-opacity='0.8'/%3E%3Crect x='16' y='78' width='14' height='14' rx='7' fill='white' fill-opacity='0.3'/%3E%3Crect x='36' y='78' width='90' height='14' rx='7' fill='white' fill-opacity='0.3'/%3E%3Crect x='16' y='110' width='14' height='14' rx='7' fill='white' fill-opacity='0.3'/%3E%3Crect x='36' y='110' width='90' height='14' rx='7' fill='white' fill-opacity='0.3'/%3E%3Crect x='16' y='142' width='14' height='14' rx='7' fill='white' fill-opacity='0.3'/%3E%3Crect x='36' y='142' width='90' height='14' rx='7' fill='white' fill-opacity='0.3'/%3E%3Crect x='16' y='174' width='14' height='14' rx='7' fill='white' fill-opacity='0.3'/%3E%3Crect x='36' y='174' width='90' height='14' rx='7' fill='white' fill-opacity='0.3'/%3E%3Crect x='16' y='206' width='14' height='14' rx='7' fill='white' fill-opacity='0.3'/%3E%3Crect x='36' y='206' width='90' height='14' rx='7' fill='white' fill-opacity='0.3'/%3E%3Crect x='16' y='238' width='14' height='14' rx='7' fill='white' fill-opacity='0.3'/%3E%3Crect x='36' y='238' width='90' height='14' rx='7' fill='white' fill-opacity='0.3'/%3E%3Crect x='16' y='270' width='14' height='14' rx='7' fill='white' fill-opacity='0.3'/%3E%3Crect x='36' y='270' width='90' height='14' rx='7' fill='white' fill-opacity='0.3'/%3E%3Crect x='16' y='302' width='14' height='14' rx='7' fill='white' fill-opacity='0.3'/%3E%3Crect x='36' y='302' width='90' height='14' rx='7' fill='white' fill-opacity='0.3'/%3E%3Crect x='16' y='334' width='14' height='14' rx='7' fill='white' fill-opacity='0.3'/%3E%3Crect x='36' y='334' width='90' height='14' rx='7' fill='white' fill-opacity='0.3'/%3E%3Crect x='16' y='366' width='14' height='14' rx='7' fill='white' fill-opacity='0.3'/%3E%3Crect x='36' y='366' width='90' height='14' rx='7' fill='white' fill-opacity='0.3'/%3E%3Crect x='16' y='398' width='14' height='14' rx='7' fill='white' fill-opacity='0.3'/%3E%3Crect x='36' y='398' width='90' height='14' rx='7' fill='white' fill-opacity='0.3'/%3E%3Crect x='16' y='430' width='14' height='14' rx='7' fill='white' fill-opacity='0.3'/%3E%3Crect x='36' y='430' width='90' height='14' rx='7' fill='white' fill-opacity='0.3'/%3E%3Crect x='16' y='462' width='14' height='14' rx='7' fill='white' fill-opacity='0.3'/%3E%3Crect x='36' y='462' width='90' height='14' rx='7' fill='white' fill-opacity='0.3'/%3E%3Crect x='16' y='494' width='14' height='14' rx='7' fill='white' fill-opacity='0.3'/%3E%3Crect x='36' y='494' width='90' height='14' rx='7' fill='white' fill-opacity='0.3'/%3E%3C/svg%3E");
}

.appearence-main-preview {
	crt-image-input {
		& > div {
			&::after {
				.full-preview-mixin();
			}
		}
	}
	& > crt-grid {
		overflow: visible;
	}
}

.appearence-desktops-preview {
	crt-gallery {
		crt-gallery-default-item {
			.crt-gallery-item-image-wrap {
				position: relative;

				&::after {
					.desktop-list-item-mixin();
					background-size: 50%;
				}
			}
		}
	}
}

.image-gallery-grid {
	crt-gallery {
		crt-gallery-default-item {
			.crt-gallery-item-template-wrap {
				.crt-gallery-item-actions-wrap {
					padding: 0px !important;
					
					crt-button {
						button {
							padding: 0 4px !important;
							width: 24px;
							height: 18px;
						}
					}
				}
			}
		}
	}
}

.background-preview {
	max-width: 560px !important;
	min-width: 100% !important;
	height: auto !important;
	.full-preview-mixin();
}
