.setuptracking-merge-container {
	display: inline-block;
	height: 100%;
	min-width: 600px;

	.header {
		display: inline-block;
		width: 100%;
		margin-left: 10px;
		padding-right: 10px;
		.header-label {
			font-family: "Segoe UI Light";
			color: #64b8df;
			font-size: 2.2em;
			letter-spacing: -0.01em;
			margin-bottom: 5px;
		}
		.description-label {
			color: #999999;
			font-size: 15px;
		}
		.close-btn {
			position: absolute;
			right: 0.5em;
			top: 11px;
		}
	}

	.content {
		margin: 20px 10px 0 10px;
		.grid-layout-row div[id*="-odd"] {
			background-color: #f7f7f7;
		}
		.column-header {
			border-bottom: 1px solid #e1e8d2;
			.t-label {
				width: 100%;
				margin-left: 29px;
				color: #999999;
				font-size: 13px;
			}
		}
		.radio-button-container {
			.t-label {
				padding-top: 2px;
			}
		}
		.control-wrap{
			width: 95%;
		}		
	}

	.footer {
		bottom: 25px;
		position: absolute;
		width: 100%;
		padding-right: 10px;
		.t-btn-wrapper {
			float: right;
			margin: 0 9px 0 0;
		}
	}
}