.label(@color, @size) {
	color: @color;
	font-size: @size;
}

.page-caption-label {
	.label(#444444, 3.5em);
	margin-bottom: 29px;
	font-family: "Segoe UI Light";
	letter-spacing: -0.01em;
}

.top-settings-container {
	margin-bottom: 5px;
}

.page-caption-container {
	width: 100%;
}

.cancel-button {
	margin-left: 10px;
	vertical-align: bottom;
}

.controls-container {
	display: inline-block;
	width: 45%;
}

.controls-block-container {
	float: left;
	width: 45%;
	margin-bottom: 26px;
}

.control-caption {
	margin-top: 26px;
	margin-bottom: 5px;
}

.setup-module-enabled-edit {
	margin-top: 5px;
}

.setup-module-caption {
	display: inline;
	vertical-align: super;
	margin-left: 10px;
}

.setup-module-container, .setup-module-check-box {
	margin-top: 26px;
}

.handling-caption {
	display: inline;
	vertical-align: super;
	margin-left: 10px;
}

.handling {
	margin-top: 26px;
}

.handling-enabled-edit {
	margin-top: 5px;
}

.is-callway-client-edit {
	margin-top: 5px;
}

.is-callway-client-caption {
	display: inline;
	vertical-align: super;
	margin-left: 10px;
}

.is-callway-client {
	margin-top: 26px;
}

.wrapupMode-edit {
	margin-top: 5px;
}

.required:after {
	content: "*";
	color: #f15440;
	margin-left: 4px;
}

.controls-container-right {
	float: left;
	margin-left: 30px;
	width: 45%;
}

.controls-container-bottom {
	clear: both;
	width: 45%;
	.setup-call-centre-parameters-check-box-edit {
		margin-top: 26px;
	}
}

.controls-container-top {
	float: left;
	width: 100%;
}

.control-caution-label {
	font-size: 10px;
	margin-top: 0;
	margin-bottom: 0
}