.modify-task-link {
	text-decoration: underline;
	color: darkblue;
}

.modify-task-link:hover {
	color: blue;
}

.smartButton-wrap {
	position: absolute;
	left: 0px;
}

.simple-task-add-module-wrap {
	.memo-edit-core {
		border: 1px solid #c8c8c8 !important;
		height: 68px;
		margin-bottom: 12px;
		padding: 3px 0 !important;
	}

	.control-wrap {
		margin-left: 0;
		padding-left: 0;
	}

	.base-edit-validation {
		display: none !important;
	}
	
	.modify-activity-button-wrap {
		padding: 0.56em 0.58em 0.56em 0.58em;
		float: right;
	}

	.base-edit-focus {
		border-color: none;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}
	
	.right-buttons-container-wrap {
		text-align: right;
	}
	
	.left-buttons-container-wrap {
		text-align: left;
	}
	
	.save-button-wrap {
		margin-right: 10px;
	}
	
	.memo-edit-scroll {
		padding-right: 3px;
		overflow-y: auto !important;
	}

	.memo-edit-area {
		overflow-y: hidden;
		overflow-x: hidden;
	}

	.memo-edit-height {
		height: 60px;
	}
}

.scheduler-item-caption {
	position: absolute;
	}