.historyMessageWrap.historySocialMessageWrap {
	.messageContent {
		background-color: #fef6d7;
		.messageHeader {
			min-height: 20px;
		}
	}
	.messageContent.speech-bubble::after {
		border-color: transparent #fef6d7;
	}
}

