.source-code-edit-container {
	position: absolute;
	left: 6px;
	right: 6px;
	top: 46px;
	background-color: white;
	border: 1px solid #e6e6e6;
	border-radius: 3px;
	height: calc(~"100vh" - 52px);
	padding: 8px 25px 70px 25px;

	.source-code-edit-tools-container {
		padding-bottom: 5px;

		.source-code-edit-tool-button {
			&.t-btn-wrapper {
				padding: 0;

				.t-btn-image {
					width: 32px;
					height: 32px;
				}

				&.find-button {
					padding-left: 1px;
					padding-right: 2px;
					padding-top: 1px;
				}
			}
		}
	}

	.source-code-edit-control-wrap-container {
		height: 100%;

		.source-code-edit {
			padding-left: 0;
		}
	}
}
