@system-action-element-color: #839DC3;
@settings-blue: #4E7BD8;
@pale-text: #999999;
@left-padding: 52px;
.sync-settings-page {

	.t-label.help-label {
		color: @pale-text;
		font-size: 14px;
		padding-left: @left-padding;
	}

	.language-edit {
		padding-left: @left-padding;
		margin-top: 10px;
		
		.control-wrap {
			max-width: 40em;
		}
	}

	.ts-tabpanel {
		margin: 15px 0;  
	}
	
	.grid-multiselect {
			 div[level='0'] .t-checkboxedit-wrap {
				display: none;
			}
	}

	.grid-captions {
		display: none;
	}

	.grid {
		margin-left: 47px;
		margin-right: 30px;
		width: 95%;

		.grid-toggle-empty {
			width: 16px;
		}
	}

	.control-wrap {
		max-width: 280px;
	}

	.t-label {
		color: rgb(68, 68, 68);
	}

	.control-width-15.settings-page-reverse-toggle-edit {
		margin-top: 20px;
		margin-bottom: 3px;
	}
	.control-width-15:not(.settings-page-reverse-toggle-edit) {
		margin-top: 3px;
		margin-bottom: 3px;

		.label-wrap { 
			max-width: 50em;
			width: auto;
		}
	}

	.radio-button-container {
		margin-left: 48px;

		.t-label {
			padding-left: 23px;
		}
		.t-radio-wrap {
			color: @settings-blue;	
		}
	}

	.settings-page-import-from-date .label-wrap {
		width: 18.5em;
		max-width: 18.5em;
	}

	.settings-page-reverse-checkbox, .settings-page-reverse-toggle-edit {
		display: flex;
		flex-direction: row-reverse;
		justify-content: flex-end;
		padding-bottom: 5px;

		.label-wrap {
			display: flex;
			width: 80%;
			max-width: 80%;
			align-items: center;

			.t-label {
				text-align: left;
			}
		}

		.control-wrap {
			margin-left: 0;
			padding-left: 0;
			width: 35px;
			height: 30px;
			display: flex;
		}
	}
	.date-combobox {
		padding-left: @left-padding;

		.t-label {
			text-align: left;
		}
	}

	.settings-page-reverse-checkbox, {
		padding-left: @left-padding;

		.label-wrap {
			.t-label {
				padding: 0 0 0 10px;
			}
		}
	}

	.settings-page-reverse-toggle-edit {
		flex-basis: 40%;
		font-family: "Bpmonline Open Sans Light";

		.control-wrap {
			width: 50px;
			padding-top: 4px;
		}

		.label-wrap {
			.t-label {
				color: @settings-blue;
				padding: 0;
				font-size: 21px;
			}
		}
	}

	.edit-with-checkbox-container {
		display: flex;

		.control-no-label {
			display: flex;
			flex-basis: 30px;
			margin: 10px 10px 0px 0px;
		}

		.edit-wrap {
			flex-direction: row;
			display: flex;
		
			.label-wrap {
				max-width: 210px;
				.t-label {
					text-align: left;
					margin-left: 6px;
				}
			}
			.control-wrap {
				max-width: 300px;
				margin: 0;
				padding: 0;
			}
		}
	}

	.edit-with-checkbox-container {
		padding-left: @left-padding;
		margin-top: 3px;
		margin-bottom: 8px;
	}

	.signature-edit-container {
		padding-left: @left-padding;
		max-width: 1034px;

		.control-wrap {
			max-width: 100%;
		}
	
		.html-editor.instance-ready {
			width: 100%;

			.cke_bottom {
				background-color: #fff;
				margin-bottom: 2px;

				.cke_resizer {
					border-color: transparent @pale-text transparent transparent;
					margin-right: 4px;
				}
			}
		}

		.add-macros-button-image {
			margin-top: 1px;
		}
	}

	.settings-page-radio-group {
		display: inline-block;
		margin-bottom: 10px;
	}


	.add-rights-detail {
		width: 800px;
		margin: 7px 0 12px 0;
		padding-left: 50px;

		.t-title-label-proc {
			color: @system-action-element-color;
			width: inherit;
			font-size: 15px;
			padding-top: 4px;
			padding-right: 4px;
			line-height: 18px;
		}
		
		.container-list-header {
			.t-btn-wrapper {
				padding-left: 0;
			}
		}
		.rights-items-header-container {
			margin-bottom: 6px;
			margin-top: 20px;
			min-height: 16px;
			.rights-items-header-label {
				max-width: 190px;
				color: @system-action-element-color;
				font-size: 15px;
				line-height: 1.1;
			}
			.rights-items-header-images-container {
				float: right;
				width: auto;
				.rights-items-header-label-end {
					width: auto;
					min-width: 95px;
					padding-left: 10px;
					height: 20px;
					float: left;
					margin-right: 0;
				}
			}
			.rights-items-header-buttom-container {
				height: 1px;
				margin-top: 6px;
				background-color: @pale-text;
			}
		}
		.container-list-empty {
			text-align: center;
		}
	}

	.admin-rights-display-container {
		.t-label {
			width: auto;
			margin-top: 0;
			max-width: 395px;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			margin-bottom: 0;
		}

		.t-btn-wrapper {
			padding-left: 0;
			padding-top: 6px;
			margin-left: 16px;
			width: 16px;

			.t-btn-image {
				visibility: hidden;
			}
		}

		.rights-checkbox {
			margin-left: 45px;
			margin-right: 45px;
			margin-top: 4px;
			float: right;

			.control-wrap {
				height: 16px;
			}
		}

		&:hover .t-btn-wrapper .t-btn-image {
			visibility: visible;
		}

		.admin-unit-lookup {
			width: auto;
			display: inline-block;
		}

		.controlCaption {
			margin-top: 4px;
		}
	}

}