.select-single-page-modal-box {
	.warning-message-container {
		position: relative;
		padding: 1em 0px 1em 30px;
		.t-btn-wrapper {
			padding: 0px;
			position: absolute;
			top: 0.75em;
			left: 0px;
			.t-btn-image {
				width: 20px;
				height: 20px;
			}
		}
		.label-wrap {
			width: 60%;
			max-width: 21em;
		}
		.control-wrap {
			margin-left: -22em;
			padding-left: 22em;
			width: 100%;
		}
	}

	.button-container {
		.t-btn-wrapper {
			margin-right: 1em;
			margin-top: 1.5em;
		}
	}
}

#SysModuleEntitySelectSinglePageModalBoxContainer {
	height: auto;
	overflow-y: auto;
}