.wrapper-show-error-button {
	& > span {
		color: #444;
		background-color: #FFEFF0;
		font-size: 1.3em;
		text-transform: none;
	}
	.t-btn-style-red:not(.t-btn-disabled):not(.t-btn-loading):hover {
		background-color: #FFDFDF;
	}
}