.home-page-button-container {
  display: flex;
  .open-home-page-designer-button {
    padding: initial;

    .t-btn-image {
      height: 32px;
      width: 32px;
    }

    &.t-btn-disabled .t-btn-image {
      opacity: 0.5;
    }
  }
} 