[data-item-marker='LanguageSectionContainer'] .grid .grid-row [class*='grid-cols-']:nth-of-type(2n) {
	padding: 0 10px 0 0;

	img {
		display: none;
	}
}

[data-item-marker='TranslationSectionContainer'] {
	.predefined-filters-container-wrapClass {
		display: inline-block;
		float: left;

		.schema-wrap.one-el {
			min-width: initial;
			.filter-container > * {
				float: left;
			}
		}
	}
}