.empty-container-list-message {
	font-family: "Segoe UI Light";
	color: #999;

	.image-container, .ts-image-edit-inner-container {
		width: 95px;
		height: 95px;
		margin: auto;
	}
	
	.image-container {
		.image-control {
			width: 95px !important;
			height: 95px !important;
		}
	}
	
	.ts-image-edit-inner-container {
		.ts-image-edit-full-size-element {
			margin: 0px;
		}
	}

	.title {
		margin-top: 15px;
		text-align: center;
	}

	.description {
		margin-top: 5px;
		text-align: center;
	}
	
	.border {
		width: 70px;
		height: 2px;
		background-color: #54b8df;
		clear: both;
		margin: 12px auto 10px;
	}
	
	.t-label {
		font-size: 1em;
		display: inline;
	}
}