@blue_color: #00AEEF;
@darkblue_color: #4E7BD8;
@keyframes opacityAnimation {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

html[dir="rtl"] {
	#MiniPageContainer {
		.forecast-column-designer-alignable-container {
			.column-designer-container {
				.column-designer-layout.grid-layout {
					.multiple-character-caption {
						margin-left: -14px;
					}

				}
			}
		}
	}
}

#MiniPageContainer {
	.forecast-column-designer-alignable-container {
		.column-designer-container {
			.column-designer-layout.grid-layout {
				padding: 10px 30px 0px 0px;
				width: 450px;
				animation: 0.5s ease-out 0s 1 opacityAnimation;

				.rule-group-number-label {
					width: 24px;
					height: 24px;
					background-color: @blue_color;
					border-radius: 50%;
					color: white;
					text-align: center;
					line-height: 22px;
					display: inline-block;
				}

				.rule-group-label {
					font-size: 16px;
					color: @blue_color;
					margin-bottom: 10px;
					margin-top: 10px;
				}

				.filters-container {
					.filteredit {
						max-height: 130px;
						overflow-y: auto;
						margin-bottom: 15px;
						margin-top: 5px;
					}
				}

				.multiple-character-caption {
					margin-left: 14px;
					color: @darkblue_color;
				}

				.coefficient {
					margin-top: -15px;
				}

				.multiple-percent-caption {
					margin-left: 5px;
					margin-top: -15px;
				}

				.structure-column-edit {
					.base-edit {
						&.base-edit-readonly {
							background-color: transparent;

							.base-edit-input {
								background-color: transparent;
							}
						}
					}
				}
			}
		}
	}
}
