.modal-box-schema-module-content.schema-wrap .detail-modal-box {
	.tap-panel-box {
		margin-top: 1.5em;
		& + .tap-panel-box {
			margin-left: 1em;
		}
	}
	max-height: 210px;
	height: 100%;
}
.ts-mask-container {
	z-index: 2010;
}
