.visa-action {
	.base-edit {
		border: none;

		textarea.memo-edit-area {
			border: 1px solid #c8c8c8;
		}

		&.base-edit-focus {
			box-shadow: none;

			textarea.memo-edit-area {
				outline: none;
				border-color: #56b4ef;
				box-shadow: 0 0 3px 0 rgba(86, 180, 239, 0.7);
			}
		}
	}

	.ts-inputbox-caption {
		font-size: 2.2em;
	}
}