.web-service-method-action-container {
	padding-top: 100px;
}
.web-service-method-card-content-container {
	padding-top: 0px !important;
	padding-bottom: 0px !important;
	height:  100%;
	.ts-controlgroup {
		max-width: 141.8em !important;
	}
	.ts-tabpanel {
		padding-right: 0em;
	}
}

.open-web-service-method-builder-right-icon {
	display: block !important;
}

.web-service-method-page-center-main-container {
	border-top: 3px solid #64b8df;
	width: 100%;
	height: 100%;
	background-color: #ebeeef;
}

.web-service-method-action-container {
	padding: 15px !important;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
	display: flex;
	min-height: 50px;
	max-height: 50px;
	flex-direction: row;
	align-items: center;
	
	.t-information-btn.t-btn-wrapper {
		margin: 0.4em;
		padding: 0;
		margin-left: 0px  !important;;
	}
}

.web-service-method-page-main-container {
	-webkit-flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	overflow-y:  auto;

}
.web-service-method-page-main-container {
	@media screen and (max-height: 2480px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 2069px;
		}
	}
	@media screen and (max-height: 2470px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 2059px;
		}
	}
	@media screen and (max-height: 2460px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 2049px;
		}
	}
	@media screen and (max-height: 2450px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 2039px;
		}
	}
	@media screen and (max-height: 2440px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 2029px;
		}
	}
	@media screen and (max-height: 2430px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 2019px;
		}
	}
	@media screen and (max-height: 2420px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 2009px;
		}
	}
	@media screen and (max-height: 2410px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 1999px;
		}
	}
	@media screen and (max-height: 2400px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 1989px;
		}
	}
	@media screen and (max-height: 2390px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 1979px;
		}
	}
	@media screen and (max-height: 2380px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 1969px;
		}
	}
	@media screen and (max-height: 2370px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 1959px;
		}
	}
	@media screen and (max-height: 2360px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 1949px;
		}
	}
	@media screen and (max-height: 2350px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 1939px;
		}
	}
	@media screen and (max-height: 2340px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 1929px;
		}
	}
	@media screen and (max-height: 2330px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 1919px;
		}
	}
	@media screen and (max-height: 2320px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 1909px;
		}
	}
	@media screen and (max-height: 2310px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 1899px;
		}
	}
	@media screen and (max-height: 2300px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 1889px;
		}
	}
	@media screen and (max-height: 2290px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 1879px;
		}
	}
	@media screen and (max-height: 2280px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 1869px;
		}
	}
	@media screen and (max-height: 2270px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 1859px;
		}
	}
	@media screen and (max-height: 2260px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 1849px;
		}
	}
	@media screen and (max-height: 2250px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 1839px;
		}
	}
	@media screen and (max-height: 2240px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 1829px;
		}
	}
	@media screen and (max-height: 2230px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 1819px;
		}
	}
	@media screen and (max-height: 2220px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 1809px;
		}
	}
	@media screen and (max-height: 2210px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 1799px;
		}
	}
	@media screen and (max-height: 2200px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 1789px;
		}
	}
	@media screen and (max-height: 2190px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 1779px;
		}
	}
	@media screen and (max-height: 2180px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 1769px;
		}
	}
	@media screen and (max-height: 2170px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 1759px;
		}
	}
	@media screen and (max-height: 2160px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 1749px;
		}
	}
	@media screen and (max-height: 2150px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 1739px;
		}
	}
	@media screen and (max-height: 2140px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 1729px;
		}
	}
	@media screen and (max-height: 2130px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 1719px;
		}
	}
	@media screen and (max-height: 2120px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 1709px;
		}
	}
	@media screen and (max-height: 2110px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 1699px;
		}
	}
	@media screen and (max-height: 2100px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 1689px;
		}
	}
	@media screen and (max-height: 2090px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 1679px;
		}
	}
	@media screen and (max-height: 2080px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 1669px;
		}
	}
	@media screen and (max-height: 2070px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 1659px;
		}
	}
	@media screen and (max-height: 2060px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 1649px;
		}
	}
	@media screen and (max-height: 2050px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 1639px;
		}
	}
	@media screen and (max-height: 2040px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 1629px;
		}
	}
	@media screen and (max-height: 2030px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 1619px;
		}
	}
	@media screen and (max-height: 2020px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 1609px;
		}
	}
	@media screen and (max-height: 2010px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 1599px;
		}
	}
	@media screen and (max-height: 2000px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 1589px;
		}
	}
	@media screen and (max-height: 1990px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 1579px;
		}
	}
	@media screen and (max-height: 1980px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 1569px;
		}
	}
	@media screen and (max-height: 1970px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 1559px;
		}
	}
	@media screen and (max-height: 1960px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 1549px;
		}
	}
	@media screen and (max-height: 1950px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 1539px;
		}
	}
	@media screen and (max-height: 1940px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 1529px;
		}
	}
	@media screen and (max-height: 1930px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 1519px;
		}
	}
	@media screen and (max-height: 1920px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 1509px;
		}
	}
	@media screen and (max-height: 1910px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 1499px;
		}
	}
	@media screen and (max-height: 1900px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 1489px;
		}
	}
	@media screen and (max-height: 1890px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 1479px;
		}
	}
	@media screen and (max-height: 1880px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 1469px;
		}
	}
	@media screen and (max-height: 1870px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 1459px;
		}
	}
	@media screen and (max-height: 1860px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 1449px;
		}
	}
	@media screen and (max-height: 1850px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 1439px;
		}
	}
	@media screen and (max-height: 1840px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 1429px;
		}
	}
	@media screen and (max-height: 1830px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 1419px;
		}
	}
	@media screen and (max-height: 1820px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 1409px;
		}
	}
	@media screen and (max-height: 1810px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 1399px;
		}
	}
	@media screen and (max-height: 1800px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 1389px;
		}
	}
	@media screen and (max-height: 1790px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 1379px;
		}
	}
	@media screen and (max-height: 1780px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 1369px;
		}
	}
	@media screen and (max-height: 1770px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 1359px;
		}
	}
	@media screen and (max-height: 1760px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 1349px;
		}
	}
	@media screen and (max-height: 1750px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 1339px;
		}
	}
	@media screen and (max-height: 1740px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 1329px;
		}
	}
	@media screen and (max-height: 1730px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 1319px;
		}
	}
	@media screen and (max-height: 1720px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 1309px;
		}
	}
	@media screen and (max-height: 1710px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 1299px;
		}
	}
	@media screen and (max-height: 1700px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 1289px;
		}
	}
	@media screen and (max-height: 1690px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 1279px;
		}
	}
	@media screen and (max-height: 1680px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 1269px;
		}
	}
	@media screen and (max-height: 1670px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 1259px;
		}
	}
	@media screen and (max-height: 1660px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 1249px;
		}
	}
	@media screen and (max-height: 1650px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 1239px;
		}
	}
	@media screen and (max-height: 1640px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 1229px;
		}
	}
	@media screen and (max-height: 1630px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 1219px;
		}
	}
	@media screen and (max-height: 1620px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 1209px;
		}
	}
	@media screen and (max-height: 1610px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 1199px;
		}
	}
	@media screen and (max-height: 1600px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 1189px;
		}
	}
	@media screen and (max-height: 1590px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 1179px;
		}
	}
	@media screen and (max-height: 1580px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 1169px;
		}
	}
	@media screen and (max-height: 1570px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 1159px;
		}
	}
	@media screen and (max-height: 1560px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 1149px;
		}
	}
	@media screen and (max-height: 1550px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 1139px;
		}
	}
	@media screen and (max-height: 1540px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 1129px;
		}
	}
	@media screen and (max-height: 1530px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 1119px;
		}
	}
	@media screen and (max-height: 1520px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 1109px;
		}
	}
	@media screen and (max-height: 1510px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 1099px;
		}
	}
	@media screen and (max-height: 1500px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 1089px;
		}
	}
	@media screen and (max-height: 1490px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 1079px;
		}
	}
	@media screen and (max-height: 1480px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 1069px;
		}
	}
	@media screen and (max-height: 1470px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 1059px;
		}
	}
	@media screen and (max-height: 1460px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 1049px;
		}
	}
	@media screen and (max-height: 1450px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 1039px;
		}
	}
	@media screen and (max-height: 1440px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 1029px;
		}
	}
	@media screen and (max-height: 1430px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 1019px;
		}
	}
	@media screen and (max-height: 1420px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 1009px;
		}
	}
	@media screen and (max-height: 1410px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 999px;
		}
	}
	@media screen and (max-height: 1400px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 989px;
		}
	}
	@media screen and (max-height: 1390px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 979px;
		}
	}
	@media screen and (max-height: 1380px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 969px;
		}
	}
	@media screen and (max-height: 1370px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 959px;
		}
	}
	@media screen and (max-height: 1360px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 949px;
		}
	}
	@media screen and (max-height: 1350px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 939px;
		}
	}
	@media screen and (max-height: 1340px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 929px;
		}
	}
	@media screen and (max-height: 1330px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 919px;
		}
	}
	@media screen and (max-height: 1320px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 909px;
		}
	}
	@media screen and (max-height: 1310px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 899px;
		}
	}
	@media screen and (max-height: 1300px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 889px;
		}
	}
	@media screen and (max-height: 1290px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 879px;
		}
	}
	@media screen and (max-height: 1280px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 869px;
		}
	}
	@media screen and (max-height: 1270px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 859px;
		}
	}
	@media screen and (max-height: 1260px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 849px;
		}
	}
	@media screen and (max-height: 1250px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 839px;
		}
	}
	@media screen and (max-height: 1240px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 829px;
		}
	}
	@media screen and (max-height: 1230px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 819px;
		}
	}
	@media screen and (max-height: 1220px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 809px;
		}
	}
	@media screen and (max-height: 1210px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 799px;
		}
	}
	@media screen and (max-height: 1200px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 789px;
		}
	}
	@media screen and (max-height: 1190px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 779px;
		}
	}
	@media screen and (max-height: 1180px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 769px;
		}
	}
	@media screen and (max-height: 1170px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 759px;
		}
	}
	@media screen and (max-height: 1160px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 749px;
		}
	}
	@media screen and (max-height: 1150px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 739px;
		}
	}
	@media screen and (max-height: 1140px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 729px;
		}
	}
	@media screen and (max-height: 1130px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 719px;
		}
	}
	@media screen and (max-height: 1120px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 709px;
		}
	}
	@media screen and (max-height: 1110px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 699px;
		}
	}
	@media screen and (max-height: 1100px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 689px;
		}
	}
	@media screen and (max-height: 1090px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 679px;
		}
	}
	@media screen and (max-height: 1080px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 669px;
		}
	}
	@media screen and (max-height: 1070px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 659px;
		}
	}
	@media screen and (max-height: 1060px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 649px;
		}
	}
	@media screen and (max-height: 1050px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 639px;
		}
	}
	@media screen and (max-height: 1040px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 629px;
		}
	}
	@media screen and (max-height: 1030px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 619px;
		}
	}
	@media screen and (max-height: 1020px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 609px;
		}
	}
	@media screen and (max-height: 1010px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 599px;
		}
	}
	@media screen and (max-height: 1000px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 589px;
		}
	}
	@media screen and (max-height: 990px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 579px;
		}
	}
	@media screen and (max-height: 980px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 569px;
		}
	}
	@media screen and (max-height: 970px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 559px;
		}
	}
	@media screen and (max-height: 960px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 549px;
		}
	}
	@media screen and (max-height: 950px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 539px;
		}
	}
	@media screen and (max-height: 940px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 529px;
		}
	}
	@media screen and (max-height: 930px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 519px;
		}
	}
	@media screen and (max-height: 920px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 509px;
		}
	}
	@media screen and (max-height: 910px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 499px;
		}
	}
	@media screen and (max-height: 900px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 489px;
		}
	}
	@media screen and (max-height: 890px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 479px;
		}
	}
	@media screen and (max-height: 880px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 469px;
		}
	}
	@media screen and (max-height: 870px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 459px;
		}
	}
	@media screen and (max-height: 860px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 449px;
		}
	}
	@media screen and (max-height: 850px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 439px;
		}
	}
	@media screen and (max-height: 840px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 429px;
		}
	}
	@media screen and (max-height: 830px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 419px;
		}
	}
	@media screen and (max-height: 820px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 409px;
		}
	}
	@media screen and (max-height: 810px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 399px;
		}
	}
	@media screen and (max-height: 800px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 389px;
		}
	}
	@media screen and (max-height: 790px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 379px;
		}
	}
	@media screen and (max-height: 780px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 369px;
		}
	}
	@media screen and (max-height: 770px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 359px;
		}
	}
	@media screen and (max-height: 760px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 349px;
		}
	}
	@media screen and (max-height: 750px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 339px;
		}
	}
	@media screen and (max-height: 740px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 329px;
		}
	}
	@media screen and (max-height: 730px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 319px;
		}
	}
	@media screen and (max-height: 720px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 309px;
		}
	}
	@media screen and (max-height: 710px) {
		.service-parameter-grid-main-container > .grid.grid-listed {
			max-height: 300px;
		}
	}
}

.web-service-method-page-side-padding {
	margin-left: 6px !important;
	margin-right: 6px !important;
	margin-bottom: 0.6em;
}

.web-service-method-page-close-btn {
	position: absolute;
	right: 0;
	top: 10px;

	.t-btn-image {
		width: 16px;
		height: 16px;
	}
}

.service-parameter-grid-main-container {
	.grid-captions > div:first-child {
		visibility: hidden;
	}
}

.method-page-container {
	.schema-wrap.one-el {
		position: relative;
	}
}

.height-100-percentage {
	height: 100%;
}

.web-service-method-page-tabs {
	flex-basis: auto;
	flex-grow: 1;
	padding-bottom: 0px!important;
	.ts-controlgroup {
		height: 100%;
	}
	.ts-controlgroup-container {
		height: 100%;
		padding-bottom: 0px;
	}
	.ts-controlgroup-container > div {
		height: 100%;
	}
	.module-container {
		height: 100%;
	}
}

.service-parameter-grid-page {
	.module-container {
		height: auto;
		.schema-wrap.one-el {
			min-width: 0px;
			width: 100%;
		}
	}
}


.service-quick-setup-wrap {
	height: calc(~"100% - 166px") !important;
	padding-left: 40px !important;
	left: 0px !important;
	right: 40px !important;
	overflow-y: auto !important;
	padding-right: 0px !important;
	.service-method-builder-wrapper {
		height: 100%;
		.label-wrap {
			min-width: 120px !important;
		}
		.service-method-builder-caption-16 {
			font-size: 15px;
			min-height: 21px !important;
		}
		.service-method-builder-text-align-right {
			text-align: right !important;
			margin-right: 0.3em !important;;
		}
		.service-method-builder-parameters {
			padding-top: 13px;
		}
		.grid-toggle-plus{
			margin-left: 4px;
		}
		.grid-toggle-minus {
			margin-left: 4px;
		}
		.service-builder-footer-wrapper {
			height: 100%;
			.method-setup-result-container {
				height: 100%;
			}
		}
	}
	.service-parameter-grid-main-container {
		>.grid.grid-listed {
			padding-top: 7px;
		}
	}
	.service-builder-input-container {
		.base-edit-validation {
			display: none !important;
		}
		padding-top: 8px;
		.base-edit {
			padding-left: 0px;
		}
		.base-edit.source-code-edit {
			display: block;
			border-top-style: none;
			border-left-style: none;
			border-right-style: none;
		}
		.base-edit.base-edit-focus {
			outline: none;
			border-bottom: 1px solid #00aeef;
			box-shadow: none;
			-webkit-box-shadow: none;
			-moz-box-shadow: none;
		}
	}
}

.service-quick-setup-header-wrap {
	padding-left: 34px !important;
	padding-top: 13px;
	.service-builder-close-btn {
		padding-top: 0.5em;
		position: absolute;
		right: 1.7em;
	}
	.service-builder-action-buttons-wrapper {
		padding-top: 21px;
		padding-bottom: 5px;
		padding-left: 1px;
	}
}
