.web-services {
	padding-left: 1em;
	padding-top: 1em;
	//.section-wrap {
	//	.action-buttons-container-wrapClass {
	//		position: inherit
	//	}
	//	.right-section-container {
	//		border-left: none !important;
	//	}
	//	#SectionContainer {
	//		margin-left: 0;
	//	}
	//	.data-views-container-wrapClass {
	//		padding-top: 1em !important;
	//	}
	//	.utils-container-wrapClass {
	//		position: inherit;
	//	}
	//	.grid-captions {
	//		position: inherit !important;
	//		top: 0 !important;
	//	}
	//	#grid-WebServiceV2SectionDataGridGrid-wrap {
	//		margin-top: 1em;
	//		margin-left: -1.3em;
	//	}
	//	.extended-filters-container-wrapClass {
	//		position: inherit !important;
	//		left: -15px;
	//	}
	//	.left-section-container {
	//		position: unset !important;
	//		margin-top: 0 !important;
	//		#LeftSectionContainer-east-handle {
	//			right: 10px;
	//		}
	//		.extended-filters-container-wrapClass {
	//			padding-top: 1.5em !important;
	//		}
	//	}
	//}
	.web-service-card-content-container {
		width: 100%;
	}
	.card-content-container {
		margin-bottom: 6em;
		.actions-container {
			left: 0;
			right: 0;
		}
	}
	.toggle-section-button {
		display: none !important;
	}
}
