.modal-box-schema-module-content {
	&.schema-wrap {
		height: 100%;
		&.one-el {
			position: relative;
			padding: 2em;
			right: 0;
			left: 0;
			overflow-y: inherit;
			height: 100%;
			max-width: 60em;
			word-wrap: break-word;
		}
	}
}

.warning-modal-box-btn-container {
	margin: 2em 0 0 0;
	.t-btn-wrapper {
		margin: 0 0.5em 0 0;
	}
}
