.wizard-container {
	.header {
		display: inline-block;
		width: 100%;
		margin-bottom: 0px;
	}
	.header > .header-label {
		font-family: 'Segoe UI Light';
		font-size: 38px;
		margin-bottom: 17px;
		color: #444167;
		white-space: nowrap;
	}
	.utils-left {
		display: inline-block;
	}
	.utils-center {
		display: inline-block;
		margin-left: 19px;
	}
	.utils-right {
		display: inline-block;
		margin-left: 128px;
	}
	.utils-button {
		&.t-btn-wrapper {
			margin: 0 9px 0 0;
		}

		.t-btn-image {
			background-repeat: no-repeat;
			background-position: center center;
		}
	}
	.wizard-steps-collection {
		display: inline-block;
	}
	.wizard-steps-collection > div{
		display: inline-block;
	}
	.utils {
		white-space: nowrap;
	}
	.ts-controlgroup-tools {
		display: inline-block;
		right: inherit;
	}
}
div.center-panel {
	/*margin-top: 11em;*/
}
div.main-header {
	height: 11em;
	display: block;
}
.wizard-header-container {
	height: 132px;
	left: 6px;
	right: 6px;
	z-index: 502;
	border-top: 6px solid #ebeeef;
	border-bottom: 6px solid #ebeeef;
}
.wizard-header {
	height: 120px;
	left: 6px;
	right: 6px;
	padding-left: 20px;
	background-color: #ffffff;
	border: 1px solid #e6e6e6;
	border-radius: 3px;
	&.wizard-header-shadow {
		box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.15);
	}
}
