body .word-printable-card-content-container {
	.left-modules-container  {
		margin-right: 5px;

		.profile-container {
			.checkbox-control-item {
				display: flex;
				flex-direction: row-reverse;
				align-items: flex-end;

				.control-wrap {
					flex-basis: auto;
					margin-right: 4px;
					width: auto;
				}
			}
		}

		.file-import-block-ct {
			display: flex;
			flex-direction: column;
			align-items: stretch;
			justify-content: flex-start;

			.file-import-dropzone {
				border-radius: 1em;
				display: flex;
				flex-direction: column;
				align-items: stretch;
				justify-content: flex-start;

				.file-import-description-ct {
					.file-import-description {
					}
				}

				.file-import-empty-file-ct {
					display: flex;
					flex-direction: column;
					align-items: stretch;
					justify-content: flex-start;

					.file-import-upload-file-ct {
						margin-top: 20px;
						display: flex;
						flex-direction: column;
						align-items: center;
						justify-content: flex-start;

						.file-import-empty-file-image-wrapper {
						}

						.file-import-upload-caption {
							font-size: 1.6em;
							margin-bottom: 1em;
							margin-top: 1.5em;
							width: auto;
							color: #6e6e70;
						}
					}

					.file-import-error-file-ct {
						margin-top: 20px;
						display: flex;
						flex-direction: column;
						align-items: center;
						justify-content: flex-start;

						.file-import-error-file-image-wrapper {
						}

						.file-import-error-caption {
							font-size: 1.6em;
							margin-bottom: 1em;
							margin-top: 1.5em;
							color: #ff7a64;
						}
					}

					.file-import-upload-button {
						align-self: center;
						border: 1px solid #b4c1d2;
						color: #4e7bd8;
						cursor: pointer;
					}
				}

				.file-import-template-file-ct {
					display: flex;
					flex-direction: column;
					align-items: center;
					margin-top: 20px;

					.file-import-template-file-caption {
						width: auto;
						text-align: center;
					}

					.file-import-template-file-image-wrapper {
					}

					.file-import-template-file-name-ct {
						display: flex;
						flex-direction: row;
						align-items: center;
						justify-content: center;
						margin-bottom: 24px;

						.t-btn-style-transparent {
							padding: 0;
							cursor: pointer;
							max-width: 200px;
							text-overflow: ellipsis;
						}

						.file-import-delete-template-button {
							padding: 3px 0 0 8px;
							cursor: pointer;
						}
					}

					.file-import-template-file-actions-ct {
						align-self: stretch;
						display: flex;
						flex-direction: row;
						align-items: center;
						justify-content: space-between;

						.file-import-template-file-download-action-button {
							padding: 0;
							cursor: pointer;

							.t-btn-image.t-btn-image-top {
								background-size: contain;
							}
						}

						.file-import-template-file-upload-action-button {
							padding: 0;
							cursor: pointer;

							.t-btn-image.t-btn-image-top {
								background-size: contain;
							}
						}
					}
				}
			}
		}

		.info-block-ct {
			.info-block-caption-ct {
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: flex-start;

				.info-block-icon {
					margin-right: 12px;
				}

				.info-block-caption {
					color: #22ac14;
					font-size: 1.9em;
					line-height: 1em;
				}
			}

			.info-block-steps-caption {
				margin-top: 15px;
			}

			.info-block-steps-ct {
				list-style: decimal;
				padding-left: 15px;

				.info-block-step {
					display: list-item;
					overflow: visible;
					width: auto;

					a {
						color: #4e7bd8;
						cursor: pointer;
						text-decoration: none;

						&:hover {
							text-decoration: underline;
						}
					}
				}
			}

			.info-block-description {
				margin-top: 15px;
			}
		}
	}

	.center-main-container {
		display: flex;
		flex-direction: column;
		align-items: stretch;

		.ts-controlgroup.table-parts {
			max-width: none;
			line-height: 31px;

			.ts-controlgroup-tools {
				.info-button {
					margin: 0;
					padding-top: 4px;
				}

				.add-macros {
					padding-top: 8px;
				}

				.add-table-part {
					padding-top: 8px;
				}
			}

			.ts-controlgroup-container {
				margin-top: 6px;
				margin-left: 24px;
			}

			.container-list-header {
				display: flex;
				flex-direction: row;

				label {
					flex-basis: 35%;
					font-size: 1.3em;
					color: #999999;
				}
			}

			.container-list {
				border-top: 1px solid;
				border-top-width: 1px;
				border-top-style: solid;
				border-top-color: #e0e0e0;
			}

			.container-list.container-list-empty {
				border: none;
			}

			.table-part-ct {
				display: flex;
				flex-direction: row;
				align-items: center;
				height: 31px;

				&:nth-child(even) {
					background-color: #f7f7f7;
				}

				.table-part-link {
					width: auto;
					flex-shrink: 0;
					padding-right: 5px;
				}

				.spacer {
					flex-basis: 100%;
				}

				.table-part-item {
					&.caption {
						flex-basis: 100%;
					}

					&.action-item {
						flex-shrink: 0;
						width: 31px;
						align-self: stretch;
						cursor: pointer;
						display: none;
					}
				}

				.table-part-item:last-child {
					margin-right: 15px;
				}

				&:hover {
					.table-part-item {
						&.action-item {
							display: inline-block;
						}
					}
				}
			}

			.empty-message-ct {
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: center;

				.empty-message {
					color: #999999;
					font-family: "Bpmonline Open Sans";
					vertical-align: middle;
					width: auto;
				}
			}
		}
	}
}
