.word-printable-table-part-card-content-container {

  .grid-layout.collapse-empty-row .grid-layout-row .grid-layout-column .control-width-15 {
    min-height: 46px;
  }

  .grid-layout.collapse-empty-row .grid-layout-row .grid-layout-column .control-width-15.checkbox-control-item {
    min-height: 32px;
  }

  .control-width-15 {
    flex-direction: column;
    padding-right: 15px;
    margin-bottom: 10px;

    .label-wrap {
      justify-content: flex-start;
      max-width: 35em;
    }

    .t-label {
      text-align: left;
    }
  }

  .control-width-15.checkbox-control-item {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    justify-content: flex-end;

    .control-wrap {
      flex-basis: auto;
      margin-right: 4px;
      width: auto;
    }
  }

  .word-printable-blank-slates-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;

    .word-printable-blank-slates-label-container {
      box-shadow: -3px 0 0 0 #54b8df;
      padding-left: 16px;
      margin-top: 20px;
      width: 450px;
    }

    .word-printable-blank-slates-label-container label {
      font-family: "Segoe UI Light";
      font-size: 28px;
      color: #999;
    }
  }
}