.combobox-edit-right-icon {
	background-image: url('arrow.png');
}
.ts-combobox-edit-search-icon {
	background-image: url('go.png');
	margin: auto 11px;
	width: 20px;
	height: 11px;
}
.combobox-edit-left-icon {
	background-size: 16px 16px;
}
.combobox-edit-left-icon + .base-edit-input {
	padding-left: 32px;
}