.ts-color-button-viewer {
	width: 1.142857142857143em;
	height: 0.2142857142857143em;
	margin-top: 0.9285714285714286em;
	background-color: black;
	outline: 1px solid #CCCCCC;
}

.ts-color-button-viewer-full {
	height: 1.142857142857143em;
	margin-right: 5px;
	margin-top: 0px;
	float: left;
}