.ts-component-tooltip {
	overflow: visible !important;
}
.ts-component-tooltip:hover {
	position: relative;
}
.ts-component-tooltip:hover:after, .ts-component-tooltip:hover:before {
	margin-top: 5px;
	position: absolute;
	display: block;
	cursor: default;
}
.ts-component-tooltip:hover:after {
	font-family: "Segoe UI";
	font-size: 13px;
	color: #444;
	text-align: justify;
	content: attr(data-tooltip-text);
	white-space: pre-line;
	z-index: 98;
	top: 33px;
	left: -307px;
	width: 300px;
	padding: 16px;
	background: #FAFAFA;
	border: #E5E5E5 solid 1px;
}
.ts-component-tooltip:hover:before {
	background-image: url('tooltip-arrow.png');
	content: '';
	width: 17px;
	height: 16px;
	z-index: 99;
	top: 18px;
	left: -3px;
}