#checkboxedit-wrapper-1 {margin: 7px 0px 20px 0px;}
#checkboxedit-wrapper-2 {margin: 7px 0px 20px 0px;}
#checkboxedit-wrapper-3 {margin: 7px 0px 20px 0px;}
#checkboxedit-wrapper-4 {margin: 7px 0px 20px 0px;}
#checkboxedit-wrapper-5 {margin: 7px 0px 20px 0px;}
#checkboxedit-wrapper-6 {margin: 7px 0px 20px 0px;}
#checkboxedit-wrapper-7 {margin: 7px 0px 20px 0px;}
#checkboxedit-wrapper-8 {margin: 7px 0px 20px 0px;}
#checkboxedit-wrapper-9 {margin: 7px 0px 20px 0px;}
#checkboxedit-wrapper-10 {margin: 7px 0px 20px 0px;}

span.t-checkboxedit-wrap {
    vertical-align: middle;
}

span.t-checkboxedit-wrap + label {
    display: inline;
    margin-left: 5px;
    vertical-align: middle;
}

hr {
	border: 0;
	color: #c8c8c8;
	background-color: #c8c8c8;
	height: 1px;
	width: 100%;
	text-align: left;
	margin: 28px auto 25px auto;
	display: inline-block;
}
hr.space {
	border: 0px;
	margin: 0px;
	padding: 0px;
	width: 100%;
	text-align: left;
	height: 21px;
	background-color: transparent;
	display: inline-block;
}

.container {
	width: 100%;
	background-color: #4d5a75;
}
.leftpanel {
	width: 160px;
	float: left;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.leftmenu-item {
	margin-bottom: 29px;
	font-family: "Segoe UI Light";
	font-weight: bolder;
	position: relative;
}
.leftmenu-label {
	font-size: 1.5em;
}
.leftpanel img {
	margin-right: 10px;
	position: relative;
	top: 5px;
}
.leftmenu-pointer {
	width: 3px;
	height: 40px;
	position: absolute;
	top: -8px;
	right: -10px;
	display: inline-block;
	background-color: #10A0E3;
	border: 3px solid white;
}
.centerpanel {
	margin-left: 160px;
	padding: 15px 25px;
	border-left: 1px solid #c8c8c8;
	background-color: #fff;
}
.header {
	display: inline-block;
	width: 100%;
	margin-bottom: 30px;
}
.header-name {
	font-size: 3.6em;
	font-family: "Segoe UI Light";
	float: left;
}
.header-query {
	width: 400px;
	margin-right: 20px;
	float: right;
}
.header-score {
	float: right;
	color: #888888;
	height: 44px;
}
#head-score-star {
	font-size: 2.0em;
	line-height: 31px;
	color: #FFE981;
	display: inline-block;
	vertical-align: top;
	float: left;
	margin-left: 10px;
}
#head-score-digit {
	font-family: "Segoe UI Light";
	font-size: 3.8em;
	display: inline-block;
	vertical-align: top;
	line-height: 31px;
	float: right;
}
#utils {
	width: 100%;
	margin-bottom: 25px;
	display: inline-block;
}
#utils-left {
	float: left;
}
#utils-left > span {
	vertical-align: top;
	margin-right: 15px;
}
#utils-right {
	float: right;
}
#utils-right > span {
	vertical-align: top;
	margin-left: 15px;
}
#content {
	width: 100%;
	display: inline-block;
}
#content-left {
	width: 350px;
	float: left;
}
#content-right {
	display: block;
	margin-left: 400px;
}
label {
	margin-bottom: 6px;
}
.colapsable-menu-header {
	font-family: "Segoe UI Light";
	font-size: 1.9em;
	margin-bottom: 18px;
}
.checkboxedit {
	font-size: 1.4em;
	margin: 0px;
	padding: 0px;
	margin-top: 8px;
	margin-bottom: -1px;
}

#avatar {
	width: 72px;
	height: 72px;
	background: url("./images/avatar.gif");
}

.leftpanel .selected {
	color: #00AEFF;
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

.docked, #demoContainer, .leftpanel {
	height: 100%
}

