body {
	min-width: inherit !important;
}
.package-dependencies-diagram {
	g.djs-element.djs-shape.label {
		fill: rgba(255, 255, 255, 0.8);
	}

	g.djs-element.djs-shape.label .djs-visual rect {
		fill: rgba(255, 255, 255, 0.8) !important;
	}
}
