.number-edit-align {
	text-align: right;
}
.base-edit-focus.number-edit-align {
	text-align: left;
}
.number-edit-input-align {
	text-align: right;
}
.number-edit-input-align[value=""] {
	text-align: left;
}
.number-edit-input-align {
	color: black;
}
