.ts-datepicker-item {
	float: left;
	text-align: center;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 1.4em;
	overflow: hidden;
}
.ts-datepicker-day {
	height: 9.35251798561151079136690647482%;
	width: 13.147410358565737051792828685259%;
	line-height: 1.5714285714285714285714285714286;
	cursor: default;
}
.ts-datepicker-day-name {
	height: 9.35251798561151079136690647482%;
	width: 13.147410358565737051792828685259%;
}
.ts-datepicker-first-item {
	margin-left: 3.984063745019920318725099601594%;
}
.ts-datepicker-last-item {
	margin-right: 3.984063745019920318725099601594%;
}
.ts-datepicker-container {
	position: absolute;
	width: 25.1em;
	height: 27.8em;
	border: #e2e2e2 solid 1px;
	border-top: none;
	-moz-box-shadow: 0 0 3px rgba(0,0,0,0.07);
	-webkit-box-shadow: 0 0 3px rgba(0,0,0,0.07);
	box-shadow: 0 0 3px rgba(0,0,0,0.07);
	font-family: "Segoe UI Light";
	color: #444;
	background-color: #fff;
	z-index: 10000;
}
.ts-datepicker-date {
	width: 100%;
	margin: 5.755395683453237410071942446043% 0;
	cursor: default;
}
.ts-datepicker-panel {
	width: 100%;
	cursor: default;
}
.ts-datepicker-days-panel {
	margin-bottom: 5.755395683453237410071942446043%;
}
.ts-datepicker-months-panel, .ts-datepicker-years-panel {
	margin-bottom: 6.474820143884892086330935251799%;
}
.ts-datepicker-right-arrow {
	background: url(arrow_date_right.png) no-repeat center;
	padding: 0 8.764940239043824701195219123506%;
}
.ts-datepicker-left-arrow {
	background: url(arrow_date_left.png) no-repeat center;
	padding: 0 8.764940239043824701195219123506%;

}
.ts-datepicker-arrow {
	cursor: default;
	font-size: inherit;
	width: 0;
}
.ts-datepicker-display {
	width: 64.940239043824701195219123505976%;
	font-size: inherit;
}
.ts-datepicker-item.ts-datepicker-current {
	border: solid 1px #7fd6ff;
}
.ts-datepicker-selected {
	border: solid 1px #f0f0f0;
	background-color: #f0f0f0;
}
.ts-datepicker-not-current {
	color: #b1b1b1;
}
.ts-datepicker-month, .ts-datepicker-year {
	width: 30.677290836653386454183266932271%;
	height: 16.187050359712230215827338129496%;
	line-height: 3.0714285714285714285714285714286em;
	cursor: default;
}
.ts-datepicker-date:hover, .ts-datepicker-month:hover, .ts-datepicker-day:hover, .ts-datepicker-year:hover, .ts-datepicker-days-panel .ts-datepicker-display > span:hover, .ts-datepicker-months-panel .ts-datepicker-display:hover {
	color: #10a0e3;
}