.lookup-edit-right-icon {
	background-image: url('button.png');
	background-position: -9px -9px;
}

.lookup-edit-right-icon.lookup-edit-right-icon-hover {
	background-position: -9px -43px;
}

.lookup-edit-right-icon.lookup-edit-right-icon-pressed {
	background-position: -9px -77px;
}

.lookup-edit-right-icon.lookup-edit-right-icon-disabled {
	background-position: -9px -111px;
}

.base-edit-disabled .lookup-edit-right-icon {
	background-position: -9px -111px;
}
