.mapping-edit-right-icon {
    background-image: url('event.svg');
}

.mapping-edit .base-edit-input[readonly="readonly"], .mapping-edit-readonly {
    background-color: #ffffff;
}


.schema-designer .base-edit.mapping-edit:not(.base-edit-focus) {
  border: 1px solid white;
  border-bottom: 1px dotted #c8c8c8;
}

.base-edit-readonly:hover .base-edit-clear-icon {
    display: block;
}

.schema-designer .base-edit.mapping-edit:hover {
    border-bottom: 1px solid #c8c8c8;
    cursor: pointer;
}

.schema-designer .base-edit.base-edit-focus.mapping-edit {
    outline: none;
    border: 1px solid #fff;
    border-bottom: 1px solid #00aeef;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

.schema-designer .mapping-edit.base-edit-readonly input:hover {
  cursor: pointer;
}

.mapping-edit-right-icon {
  display: none;
}

.mapping-edit {
  background-color: #fff;
}

.schema-designer .mapping-edit.base-edit-readonly .mapping-edit-right-icon {
  background-image: url('event_yellow.svg');
}