.flexcontainer {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.dcm-actions-dashboard-module .dashboard-item-clickable,
.actions-dashboard-module .dashboard-item-clickable {
  cursor: pointer;
}
.dashboard-item-content {
  color: #181818;
}
.dashboard-item-content .dashboard-item {
  width: auto;
  max-width: 100%;
}
.dcm-actions-dashboard-module .dashboard-item-clickable:hover,
.actions-dashboard-module .dashboard-item-clickable:hover {
  text-decoration: underline;
}
.center-main-container div.dcm-actions-dashboard-module,
.center-main-container div.actions-dashboard-module {
  background-color: #e7e7e7;
}
.dcm-actions-dashboard-module .ts-tabpanel-items .ts-tabpanel-active-item-arrow:after,
.actions-dashboard-module .ts-tabpanel-items .ts-tabpanel-active-item-arrow:after {
  border-bottom-color: #e7e7e7;
}
.dcm-actions-dashboard-module .schema-wrap.one-el,
.actions-dashboard-module .schema-wrap.one-el {
  min-width: 0;
}
.stage-wrapper div:before {
  border-right-color: #e7e7e7;
}
.actions-dashboard-container .dashboard-container:empty {
  display: none;
}
.actions-dashboard-container .actions-dashboard-content .ts-tabpanel-items li:not(.ts-tab-image) {
  color: #0D2E4E;
}
.actions-dashboard-container .actions-dashboard-content .ts-tabpanel-items li:not(.ts-tab-image).ts-tabpanel-active-item-arrow {
  color: #004FD6;
}
.actions-dashboard-container .dashboard-container {
  padding-top: 14px;
  margin: 0 0 0 -3px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.actions-dashboard-container .dashboard-container .section-wrap {
  flex-grow: 1;
}
.actions-dashboard-container .dashboard-container .dashboard-container-item .t-label {
  text-overflow: ellipsis;
  white-space: nowrap;
  max-height: 3em;
}
.actions-dashboard-container .dashboard-container .dashboard-container-item .t-label.t-label-is-required:after {
  display: none;
}
.actions-dashboard-container .dashboard-container .dashboard-container-item .t-label.t-label-is-required:before {
  content: "*";
  color: #f15440;
  position: absolute;
  right: 8px;
  top: 7px;
}
.actions-dashboard-container .dashboard-container .dashboard-container-item {
  position: relative;
  display: inline-block;
  padding: 14px 14px 14px 14px;
  min-height: 104px;
  background-color: #ffffff;
  border: #e1e1e1 solid 1px;
  box-shadow: 3px 3px 3px rgba(225, 225, 225, 0.2);
  margin: 6px 3px 0 3px;
  width: calc(50% - 6px);
  transition: box-shadow 0.2s ease;
}
.actions-dashboard-container .dashboard-container .dashboard-container-item:hover {
  box-shadow: 3px 3px 3px rgba(225, 225, 225, 0.6);
}
#DashboardTab {
  min-height: 124px;
}
.actions-dashboard-blankslate {
  display: flex;
  justify-content: center;
  min-height: 124px;
}
.actions-dashboard-blankslate .actions-dashboard-blankslate-inner {
  display: flex;
  align-items: center;
  padding-top: 25px;
}
.actions-dashboard-blankslate .actions-dashboard-blankslate-inner .ts-image-edit-wrap {
  margin-left: 20px;
}
.actions-dashboard-blankslate .actions-dashboard-blankslate-inner .ts-image-edit-wrap img {
  height: 80px;
  width: 84px;
}
.actions-dashboard-blankslate .actions-dashboard-blankslate-inner .description-label {
  font-size: 18px;
  font-family: "Bpmonline Open Sans Light", serif;
  white-space: nowrap;
}
.actions-dashboard-blankslate .actions-dashboard-blankslate-inner .description-label img {
  height: 16px;
  width: 16px;
  margin-bottom: -3px;
}
.actions-dashboard-blankslate .actions-dashboard-blankslate-inner .description-label p {
  margin: 20px 0 0;
}
@media all and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm) {
  .actions-dashboard-container .dashboard-container .dashboard-container-item .t-label {
    white-space: normal;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}
html[dir="rtl"] .dashboard-container-item .dashboard-item-icon {
  transform: scaleX(-1);
}
body[OldUI=false] .center-panel .card-content-container .action-dashboard-container,
body[OldUI=false] .center-panel .card-content-container .dcm-actions-dashboard-container {
  background-color: #e7e7e7;
}
body[OldUI=false] .center-panel .card-content-container .action-dashboard-container .ts-tabpanel .ts-tabpanel-wrap .ts-tabpanel-items li:first-child,
body[OldUI=false] .center-panel .card-content-container .dcm-actions-dashboard-container .ts-tabpanel .ts-tabpanel-wrap .ts-tabpanel-items li:first-child {
  margin-right: 22px;
}
.actions-dashboard-container .ts-tabpanel-wrap > ul.ts-tabpanel-items li {
  margin: 0 0 2px 7px;
}
.actions-dashboard-container .ts-tabpanel-wrap > ul.ts-tabpanel-items li:first-child {
  padding-right: 0;
  padding-left: 0;
  margin-left: 30px;
}
.actions-dashboard-header {
  position: relative;
}
.actions-dashboard-header .stage-wrapper {
  min-height: 25px;
  flex-basis: 100%;
}
.actions-dashboard-header .right-header-action-container {
  position: absolute;
  left: 40px;
  z-index: 1;
  top: 26px;
  display: flex;
  flex-direction: row-reverse;
}
.actions-dashboard-header .right-header-action-container .new-dcm-schema-available-info-btn {
  padding: 7px;
}
.actions-dashboard-header .right-header-action-container .new-dcm-schema-available-info-btn .t-btn-image {
  right: 5px;
}
.dashboard-container-item .dashboard-item-footer {
  position: absolute;
  font-size: 0.8em;
  color: #757575;
  bottom: 18px;
  background-color: inherit;
  width: calc(100% - 28px);
  display: flex;
}
.dashboard-container-item .dashboard-item-footer > * {
  display: inline-block;
  width: auto;
  max-width: 50%;
  vertical-align: middle;
}
.dashboard-container-item .dashboard-item-footer .dashboard-item-right {
  margin-right: auto;
}
.dashboard-container-item .dashboard-item-actions {
  overflow: hidden;
  position: absolute;
  width: calc(100% - 28px);
  bottom: 14px;
  background-color: transparent;
  display: flex;
  justify-content: flex-end;
}
.dashboard-container-item .dashboard-item-actions > * {
  margin-right: 0.7em;
}
.dashboard-container-item .dashboard-item-actions > *:first-child {
  margin-right: 0px;
}
.dashboard-container-item .dashboard-item-actions:before {
  content: "";
  min-width: 25px;
  margin-right: -25px;
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #ffffff 70%);
}
.dashboard-container-item .dashboard-item-icon {
  margin: 0;
  width: 16px;
  height: 16px;
}
.dashboard-container-item .dashboard-item-right {
  float: left;
}
.dashboard-container-item .dashboard-footer-item-border-left {
  padding-right: 5px;
  margin-right: 5px;
  border-right: 1px solid;
}
.dashboard-container-item:hover .on-hover-visible {
  visibility: visible;
}
.dashboard-container-item:hover .on-hover-hidden {
  visibility: hidden;
}
.dashboard-container-item .on-hover-visible {
  visibility: hidden;
  background-color: transparent;
}
@media screen and (min-width: 1440px) {
  .actions-dashboard-container .dashboard-container .dashboard-container-item {
    width: calc(33.3% - 6px);
  }
  .actions-dashboard-container .dashboard-container .dashboard-container-item:nth-child(1):nth-last-child(2),
  .actions-dashboard-container .dashboard-container .dashboard-container-item:nth-child(2):nth-last-child(1) {
    width: calc(50% - 6px);
  }
}
.actions-dashboard-container .dashboard-container .dashboard-container-item:only-child {
  width: calc(100% - 6px);
}
.toggle-item-list-view-btn {
  float: left;
  color: #4e7bd8;
  padding-left: 1px;
  margin-bottom: -17px;
}
.toggle-item-list-view-btn:after {
  clear: both;
  content: "";
}
.x-safari .actions-dashboard-content .social-message-module .html-editor,
.x-safari .actions-dashboard-content .call-message-module .html-editor {
  display: block;
}
.x-safari .actions-dashboard-content .social-message-module .html-editor > .html-edit-textarea,
.x-safari .actions-dashboard-content .call-message-module .html-editor > .html-edit-textarea {
  display: block;
}
.dashboard-container-item .approval-dashboard-item-actions {
  opacity: 0;
  bottom: 0px;
  transition: all 0.1s ease;
}
.dashboard-container-item .approval-dashboard-item-actions .t-btn-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-right: 0px !important;
  padding-left: 0px;
  background-color: white;
}
.dashboard-container-item .approval-dashboard-item-actions .t-btn-wrapper .t-btn-image {
  background-position: center;
  background-repeat: no-repeat;
  width: 26px;
  height: 26px;
  max-width: 26px;
  right: 0px;
}
.dashboard-container-item .approval-dashboard-item-actions .t-btn-wrapper .t-btn-text {
  padding-right: 35px;
  padding-left: 0;
  text-align: right;
  overflow: hidden;
  white-space: nowrap;
}
.dashboard-container-item:hover .approval-dashboard-item-actions {
  opacity: 1;
  bottom: 14px;
}
.dashboard-container-item.buttons-without-text .approval-dashboard-item-actions .t-btn-wrapper {
  width: 26px;
  height: 26px;
  margin-right: 20px;
}
.dashboard-container-item.buttons-without-text .approval-dashboard-item-actions .t-btn-wrapper:first-child {
  margin-right: 0px;
}
.dashboard-container-item.buttons-without-text .approval-dashboard-item-actions .t-btn-text {
  display: none;
}
.approve-minipage-container[status='positive'] .header-container,
.approve-minipage-container[status='positive'] .base-minipage-save-button {
  background-color: #94cb59;
}
.approve-minipage-container[status='negative'] .header-container,
.approve-minipage-container[status='negative'] .base-minipage-save-button {
  background-color: #e07452;
}
.approve-minipage-container .alignable-container {
  padding: 0;
}
.approve-minipage-container .alignable-container .header-container .header-caption-container {
  padding: 18px;
  color: white;
  position: relative;
}
.approve-minipage-container .alignable-container .header-container .background-img {
  margin: 0;
  position: absolute;
  left: 0;
  top: 0;
}
.approve-minipage-container .alignable-container .header-container .background-img img {
  height: 99px;
}
.approve-minipage-container .alignable-container .header-container .header-actions-container {
  display: flex;
  justify-content: flex-end;
  padding: 0 0 15px 20px;
}
.approve-minipage-container .alignable-container .header-container .header-actions-container .t-btn-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.approve-minipage-container .alignable-container .header-container .header-actions-container .t-btn-wrapper .t-btn-image {
  background-size: 26px 78px;
  background-repeat: no-repeat;
  width: 100%;
  height: 26px;
  background-position-y: -26px;
}
.approve-minipage-container .alignable-container .header-container .header-actions-container .t-btn-wrapper:hover .t-btn-image {
  background-position-y: -52px;
}
.approve-minipage-container .alignable-container .header-container .header-actions-container .t-btn-wrapper .t-btn-text {
  padding-right: 20px;
  text-align: right;
  color: white;
}
.approve-minipage-container .alignable-container .header-container .header-actions-container .t-btn-pressed .t-btn-image {
  background-position-y: 0;
}
.approve-minipage-container .alignable-container .header-container .header-actions-container .t-btn-pressed:hover .t-btn-image {
  background-position-y: 0;
}
.approve-minipage-container .alignable-container .body-container {
  padding: 18px 18px 21px;
}
.approve-minipage-container .alignable-container .body-container .memo-edit-area {
  padding-right: 0;
}
@keyframes ActionsDashboardMask {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 0.7;
  }
}
#DcmActionsDashboardMask {
  opacity: 0;
  pointer-events: none;
}
#DcmActionsDashboardContainer #DcmActionsDashboardMask,
#ActionDashboardContainer #DcmActionsDashboardMask {
  animation: ActionsDashboardMask 1s linear infinite;
  animation-direction: alternate;
}
#DcmActionsDashboardContainer .stage-item-blank,
#ActionDashboardContainer .stage-item-blank {
  width: 65%;
  height: 8px;
  background: lightgrey;
  margin-top: 5px;
}
#DcmActionsDashboardContainer .dashboard-item-content-blank,
#ActionDashboardContainer .dashboard-item-content-blank {
  margin-top: 10px;
  background: lightgray;
  height: 8px;
}
#DcmActionsDashboardContainer .ts-tabpanel-items-next-steps-blank,
#ActionDashboardContainer .ts-tabpanel-items-next-steps-blank {
  width: 90px;
  background: lightgray;
  height: 10px;
  margin-top: 8px;
}
