[data-tag="openServiceModelPage"] {
  margin-right: 20px;
}
#ServiceModelFilterContainer {
  border-right: none;
  padding-right: 1em;
  display: block;
}
#ServiceModelFilterContainer .label-wrap + .control-wrap {
  padding-right: 25px;
}
#ServiceModelFilterContainer .label-wrap {
  margin-top: -3px;
  margin-left: 2.3em;
  padding-right: 3.1em;
  z-index: 0;
}
#ServiceModelFilterContainer .t-btn-image-left {
  width: 22px;
  height: 22px;
}
#ServiceModelFilterContainer .absolute-vertical-centered .t-btn-image {
  margin-right: -0.5em;
}
#ServiceModelFilterContainer .extended-filter-button-container {
  margin-bottom: 1em;
  padding-right: 1.5em;
}
#ServiceModelFilterContainer .ts-controlgroup-container {
  margin-right: 23px;
  padding-top: 0em;
  padding-bottom: 0.5em;
}
#ServiceModelFilterContainer .ts-controlgroup-caption-wrap {
  height: auto;
  padding-bottom: 0.8em;
}
#ServiceModelFilterContainer .control-width-15 .t-label {
  text-align: right;
}
#ServiceModelFilterContainer .t-label {
  width: 400%;
}
#ServiceModelFilterContainer .t-checkboxedit {
  width: 15px;
  height: 15px;
}
#ServiceModelFilterContainer .t-checkboxedit-wrap {
  width: 15px;
  height: 15px;
  margin-top: 0px;
  margin-right: 1.1em;
}
#ServiceModelPageContainer .action-buttons-container-wrapClass {
  margin-bottom: 0;
  padding-bottom: 1em;
}
#ServiceModelPageContainer .extended-filter-button-container {
  margin-top: 5px;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
}
#ServiceModelPageContainer .extended-filter-button-container .t-btn-wrapper {
  margin-left: 9px;
  margin-top: 7px;
  margin-bottom: 7px;
  vertical-align: bottom;
  border-left: 1px solid lightgrey;
  padding-right: 0;
}
crt-schema-outlet #ServiceModelPageContainer {
  margin-right: 3em;
}
.service-model-mail-container {
  position: static;
}
#right-header-container.no-border-class,
#ActionsButtonContainer.no-border-class {
  border-style: none;
}
