.schema-viewer-filters-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: auto;
}
.schema-viewer-filters-container .show-all-badge .t-checkboxedit-wrap.t-checkboxedit-checked {
  background-image: url('../../img/source-code/hash/CampaignSchemaViewerFiltersCSS/checkbox_all_checked');
}
.schema-viewer-filters-container .show-complete-badge .t-checkboxedit-wrap.t-checkboxedit-checked {
  background-image: url('../../img/source-code/hash/CampaignSchemaViewerFiltersCSS/checkbox_checked_svg');
}
.schema-viewer-filters-container .show-processing-badge .t-checkboxedit-wrap.t-checkboxedit-checked {
  background-image: url('../../img/source-code/hash/CampaignSchemaViewerFiltersCSS/checkbox_processing_checked');
}
.schema-viewer-filters-container .show-error-badge .t-checkboxedit-wrap.t-checkboxedit-checked {
  background-image: url('../../img/source-code/hash/CampaignSchemaViewerFiltersCSS/checkbox_error_checked');
}
.schema-viewer-filters-container .show-suspended-badge .t-checkboxedit-wrap.t-checkboxedit-checked {
  background-image: url('../../img/source-code/hash/CampaignSchemaViewerFiltersCSS/checkbox_suspended_checked');
}
.schema-viewer-filters-container .show-badge .t-checkboxedit-wrap.t-checkboxedit-checked {
  background-image: url('../../img/source-code/hash/CampaignSchemaViewerFiltersCSS/checkbox_incompleted_cheked');
}
.schema-viewer-filters-container .show-history-badge .t-checkboxedit-wrap.t-checkboxedit-checked {
  background-image: url('../../img/source-code/hash/CampaignSchemaViewerFiltersCSS/checkbox_history_checked');
}
.schema-viewer-filters-container .show-badge,
.schema-viewer-filters-container .show-all-badge,
.schema-viewer-filters-container .show-complete-badge,
.schema-viewer-filters-container .show-processing-badge,
.schema-viewer-filters-container .show-error-badge,
.schema-viewer-filters-container .show-suspended-badge,
.schema-viewer-filters-container .show-history-badge {
  margin-right: 9px;
  margin-top: 7px;
}
.schema-viewer-filters-container .show-badge-label {
  white-space: nowrap;
  overflow: visible;
  width: auto;
  margin-right: 35px;
  margin-top: 7px;
}
