.flows-container {
  color: #444;
  padding: 10px 0;
}
.flows-container .split-flow-item {
  padding: 6px 0;
}
.flows-container .distribution-value-container {
  display: flex;
}
.flows-container .distribution-value-container .percent-input {
  width: 70px;
}
.flows-container .distribution-value-container .percent-label {
  width: 35px;
  display: flex;
  align-items: center;
  font-size: 15px;
}
.flows-container .distribution-value-container .element-info-container {
  display: contents;
  white-space: nowrap;
  overflow: hidden;
}
.flows-container .distribution-value-container .element-info-container .element-icon {
  padding-top: 4px;
}
.flows-container .distribution-value-container .element-info-container .element-caption {
  display: flex;
  align-items: center;
  padding-right: 10px;
}
.flows-container .distribution-value-container input {
  text-align: start;
  padding-right: 5px;
}
.blank-slate-container {
  font-family: "Open Sans Light";
}
.blank-slate-container [data-item-marker="SplitGatewayBlankSlateImage"] {
  width: 100%;
  cursor: auto;
}
.blank-slate-container [data-item-marker="SplitGatewayBlankSlateImage"] .t-btn-image {
  height: 134px;
  width: 134px;
  margin: auto;
  right: auto;
  padding: 63px 0 18px 0;
  background-repeat: no-repeat;
  background-origin: content-box;
}
.blank-slate-container [data-item-marker="SplitGatewayBlankSlateImage"] .t-btn-text {
  font-size: 17px;
  width: 100%;
  color: #757575;
  padding-bottom: 35px;
}
.blank-slate-container .label-details {
  padding: 13px 17px 13px 0;
  font-size: 17px;
  box-shadow: -3px 0 0 0 #732eeb;
  color: #757575;
  width: auto;
}
.blank-slate-container .label-details b {
  color: #732EEB;
  font-weight: inherit;
}
