html[dir="rtl"] .main-container .logo-container .logo {
  transform: translate(50%, -50%);
  -webkit-transform: translate(50%, -50%);
  -ms-transform: translate(50%, -50%);
}
html[dir="rtl"] .main-container .thanks-message-container .thanks {
  transform: translate(50%, -50%);
  -webkit-transform: translate(50%, -50%);
  -ms-transform: translate(50%, -50%);
}
html[dir="rtl"] .main-container .container:only-of-type {
  transform: translate(50%, -50%);
  -webkit-transform: translate(50%, -50%);
  -ms-transform: translate(50%, -50%);
}
.schema-wrap .feedback-container ::-webkit-input-placeholder {
  opacity: 1;
}
.schema-wrap .feedback-container :-moz-placeholder {
  opacity: 1;
}
.schema-wrap .feedback-container ::-moz-placeholder {
  opacity: 1;
}
.schema-wrap .feedback-container :-ms-input-placeholder {
  opacity: 1;
}
.background {
  position: absolute;
  top: 168px;
  width: 100vw;
  height: 422px;
  z-index: -999;
}
@media (max-device-width: 750px) {
  .background {
    position: fixed;
    width: initial;
    height: 50vh;
    top: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
}
.main-container {
  width: 475px;
  margin-right: auto;
  margin-left: auto;
}
@media (max-device-width: 750px) {
  .main-container {
    width: 100vw;
  }
}
.main-container .container {
  position: relative;
  height: 50%;
}
@media (max-device-width: 750px) {
  .main-container .container {
    height: 25vh !important;
  }
}
.main-container .container:only-of-type {
  top: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.main-container .logo-container {
  height: 168px;
  display: flex;
  justify-content: center;
}
.main-container .logo-container .logo {
  position: relative;
  display: block;
  max-height: 100%;
  top: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.main-container .logo-image-container {
  align-self: center;
  height: 110px;
}
.main-container .content-container {
  height: 422px;
  overflow: hidden;
}
@media (max-device-width: 750px) {
  .main-container .content-container {
    height: 50vh;
  }
}
.main-container .thanks-message-container .thanks {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: #fff;
  font-size: 36px;
  text-align: center;
}
@media (max-device-width: 750px) {
  .main-container .thanks-message-container .thanks {
    font-size: 67px;
  }
}
@media (max-device-width: 750px) {
  .main-container .feedback-container {
    padding: 0px 14px 58px;
  }
}
.main-container .feedback-container .control-wrap {
  height: 102px;
  background-color: #fff;
  overflow: hidden;
}
@media (max-device-width: 750px) {
  .main-container .feedback-container .control-wrap {
    width: 100%;
    height: 250px;
  }
}
.main-container .feedback-container .control-wrap .cke_editable {
  margin: 12px;
}
.main-container .feedback-container .control-wrap .cke_chrome {
  border: none;
}
.main-container .feedback-container .post-button {
  background-color: #fff;
  margin-top: 36px;
  float: left;
}
@media (max-device-width: 750px) {
  .main-container .feedback-container .post-button {
    width: 240px;
    height: 60px;
    font-size: 32px;
  }
}
.main-container .feedback-container .post-button:hover {
  background-color: #3ab2fc;
  color: #fff;
}
