.change-password-save-button {
  margin-left: 9px;
}
.change-password-container {
  width: 100%;
  display: inline-block;
}
.main-buttons {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  padding-left: 15px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  overflow: hidden;
}
.leftPanelContainer {
  margin-bottom: 28px;
  float: right;
  width: 45%;
}
.password-caption {
  width: auto;
  float: right;
  margin-left: 3px;
}
.incorrect-password-container {
  margin-bottom: 20px;
}
.no-match-password-caption {
  float: left;
  color: red;
  width: 140px;
}
.match-password-caption {
  float: left;
  color: green;
  width: 140px;
}
