.email-settings-main-container {
  margin-top: 0;
  margin-right: 2.1428em;
  margin-bottom: 0.7142em;
  margin-left: 2.1428em;
}
.email-settings-main-container .emails-header-caption {
  font-size: 1.8em;
  width: 95%;
  color: #64b8df;
}
.email-settings-main-container .server-container-list {
  padding-top: 0.7142em;
  padding-right: 0;
  padding-bottom: 0.7142em;
  padding-left: 0;
}
.email-settings-main-container .server-container-list .server-list-item-label {
  padding-top: 0.3571em;
  padding-right: 0.5em;
  padding-bottom: 0.2142em;
  padding-left: 0;
  width: 99%;
  font-size: 1.4em;
  color: #444;
  font-family: Segoe UI;
}
.email-settings-main-container .server-container-list .mail-server-button {
  display: inline-block;
}
.email-settings-main-container .server-container-list .mail-server-icon {
  width: 2.2857em;
  height: 2.2857em;
  background-size: contain;
  background-repeat: no-repeat;
}
.email-settings-main-container .server-container-list .server-list-item-container {
  display: inline-block;
  width: 80%;
  border: 1px solid #fff;
  margin-top: 0.3571em;
}
.email-settings-main-container .server-container-list .server-list-item-container:hover {
  border: 1px solid #4e7bd8;
}
.email-settings-main-container .cancel-button {
  float: right;
}
.email-settings-main-container .add-new-server-button {
  cursor: pointer;
  color: #4e7bd8;
}
.email-credentials-first-container,
.email-credentials-main-container {
  width: 38em;
  margin-top: 0.7142em;
  margin-right: 2.1428em;
  margin-bottom: 0;
  margin-left: 2.1428em;
}
.email-credentials-first-container .cancel-button,
.email-credentials-main-container .cancel-button {
  float: left;
}
.email-credentials-first-container .control-no-label .base-edit:not(.base-edit-focus),
.email-credentials-main-container .control-no-label .base-edit:not(.base-edit-focus) {
  border: 1px solid #ccc;
}
.email-credentials-first-container .control-no-label,
.email-credentials-main-container .control-no-label {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0.7142em;
  padding-left: 0;
}
.email-credentials-first-container .login-button,
.email-credentials-main-container .login-button {
  float: right;
  margin-top: 1.2142em;
  margin-right: 0;
  margin-bottom: 1.2142em;
  margin-left: 0;
}
.email-credentials-first-container .autorization-label,
.email-credentials-main-container .autorization-label {
  text-overflow: ellipsis;
  width: 90%;
  white-space: nowrap;
}
.email-credentials-first-container .label-credentials,
.email-credentials-main-container .label-credentials {
  font-size: 3em;
  color: #64b8df;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0.5em;
  padding-left: 0;
}
.email-credentials-first-container .back-to-list-button,
.email-credentials-main-container .back-to-list-button {
  margin-top: 1.2142em;
  margin-right: 0;
  margin-bottom: 1.2142em;
  margin-left: 0;
}
.email-credentials-first-container .credentials-error,
.email-credentials-main-container .credentials-error {
  background-color: #ffede9;
  border: 1px solid #DF1F26;
  width: 100%;
  padding: 5px;
  font-size: 13px;
  color: #181818;
  display: grid;
  grid-template-columns: 21px 346px;
}
.email-credentials-first-container span.back-to-list-button {
  float: right;
  margin-right: 1.5em;
}
.cancel-button-top {
  display: inline;
  float: right;
  margin-top: -0.8571em;
}
.credantials-modal-box {
  min-width: 38em;
}
