.dcm-schema-stage-properties-page {
  display: block;
}
.dcm-schema-stage-properties-page .base-edit-input[readonly="readonly"],
.dcm-schema-stage-properties-page .base-edit-readonly {
  background-color: white;
  color: #444444;
}
.dcm-schema-stage-properties-page .t-title-label-stage {
  color: #8ecb60;
  font-size: 15px;
  padding-top: 20px;
}
.dcm-schema-stage-properties-page .color-button-label {
  font-size: 14px;
  color: #444444;
  padding-top: 4px;
}
.dcm-schema-stage-properties-page .group-information-btn {
  margin-top: 10px;
}
