.blank-slate-wrap .blank-slate-wrap-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.blank-slate-wrap .blank-slate-icon {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 30em;
  margin-right: auto;
  margin-left: auto;
  padding-top: 3em;
  padding-bottom: 3em;
}
.blank-slate-wrap .blank-slate-description {
  border-right: 3px solid #ff7a64;
  padding: 1em 1em 1em 1em;
  color: #999;
  font-size: 18px;
  max-width: 620px;
  display: inline-block;
  direction: inherit;
}
#EmailTemplateLookupGallerySchemaContainer .mat-tab-header {
  display: none !important;
}
#EmailTemplateLookupGallerySchemaContainer .mat-radio-group {
  flex-direction: row !important;
}
