.isActive-filter-container-wrapClass {
  float: left;
}
.isActive-filter-container-wrapClass .label-wrap {
  float: right;
  min-width: 0;
  width: auto;
  margin: 0.2em 1em;
}
.isActive-filter-container-wrapClass .label-wrap .t-label {
  color: #333;
}
