.active-row-removed [class*='grid-cols-'] {
  display: none;
}
.active-row-removed .base-edit-input {
  font-size: inherit;
  text-align: right !important;
}
.grid-layout {
  padding-bottom: 3px;
}
[class*='grid-cols-'] span {
  text-align: right !important;
}
