.widget-designer-container {
  padding-right: 32px;
}
.widget-designer-container > .grid-layout-row:first-child {
  display: none;
}
.widget-designer-container .crt-indicator-widget-wrapper {
  position: fixed;
  width: 264px;
  height: 210px;
  right: calc(71% - 132px);
}
.widget-designer-container .crt-chart-widget-wrapper,
.widget-designer-container .crt-funnel-widget-wrapper,
.widget-designer-container .crt-full-pipeline-widget-wrapper {
  position: fixed;
  width: 50%;
  height: 80%;
}
.widget-designer-container .crt-gauge-widget-wrapper {
  position: fixed;
  width: 45%;
  height: 70%;
}
ts-mask .mask-wrap {
  background-color: unset !important;
}
.cdk-overlay-dark-backdrop {
  background: rgba(115, 124, 161, 0.3) !important;
}
.controlsContainerLookupPage .main-buttons[data-tag="add"] {
  display: none;
}
.menu .menu-item[data-tag="delete"],
.menu .menu-item[data-tag="edit"],
.menu .menu-item[data-tag="copy"],
.menu .menu-item[data-tag="open-grid-settings-page"] {
  display: none;
}
.gauge-scale-container {
  width: 100%;
  display: inline-block;
  margin-right: 4px;
  float: right;
}
.gauge-scale-container .control-no-label {
  display: inline-block;
  width: 33%;
}
#HomePageGaugeDesignerMinContainer {
  width: 22%;
}
#HomePageGaugeDesignerMiddleFromContainer {
  width: 12%;
}
.color-select-enum {
  width: 33%;
  display: inline-block;
}
.wide-color-preview-icon {
  float: right;
  width: 50%;
  height: 5px;
  padding: 0;
  cursor: auto;
}
.color-preview-icon {
  float: right;
  width: 33%;
  height: 5px;
  padding: 0;
  cursor: auto;
}
[class$="color-preview-icon"] [class*="t-btn-image"] {
  width: 100%;
}
