.t-btn-wrapper.join-btn-wrapper {
  margin-left: 0.6em;
}
.t-btn-image.join-button-icon {
  width: 1.4em;
  height: 1.3em;
  background-size: cover;
}
.t-btn-text.join-button-text {
  margin-right: 0.4em;
}
.header-mini-wrap .t-btn-image.join-minicard-button-icon {
  width: 20px;
  margin-right: 0.2em;
}
