.found-similar-case-container {
  position: absolute;
  width: 140px;
  right: 1px;
  top: 5px;
  font-size: 1.4em;
}
.found-similar-case-container .found-similar-cases-label {
  position: absolute;
  cursor: pointer;
  color: #4E7BD8;
  font-size: 13px;
}
.found-similar-case-container .found-similar-cases-label:hover {
  text-decoration: underline;
}
.found-similar-case-container .found-similar-cases-icon {
  margin-right: 7px;
  padding-top: 2px;
  position: absolute;
  right: 100%;
  cursor: pointer;
}
