#mobileDesignerLabel {
  font-family: 'Segoe UI Light';
  font-size: 38px;
  margin-bottom: 17px;
  color: #444167;
  margin-top: 12px;
  margin-right: 30px;
  width: 600px;
}
#MobileSectionDesignerModuleContainer .grid.grid-listed .grid-row-actions {
  padding-right: 0;
}
