#ChatCommPanelContainer:not([data-item-marker="DisabledState"]) .communication-panel-menu-images-class {
  border-radius: 50%;
  width: 34px;
  height: 34px;
  border: 2px solid white;
}
div[data-item-marker="Active"]#ChatCommPanelContainer:not([data-item-marker="DisabledState"]) .communication-panel-menu-images-class {
  box-shadow: 0 0 0 2px #22AC14;
}
div[data-item-marker="Inactive"]#ChatCommPanelContainer:not([data-item-marker="DisabledState"]) .communication-panel-menu-images-class {
  box-shadow: 0 0 0 2px #DF1F26;
}
#ChatCommPanelContainer:not([data-item-marker="DisabledState"]) span[data-item-marker="OmniChat"] {
  padding-left: 2px;
}
