.ts-metrics-container {
  align-items: flex-start;
  color: #999999;
  display: flex;
  overflow: hidden;
  padding-bottom: 16px !important;
}
.ts-metrics-container .ts-metric-item {
  flex: 1;
  text-align: center;
}
.ts-metrics-container .ts-round-progress-bar-wrap {
  display: inline-block;
}
.ts-metric-item {
  cursor: default;
}
.ts-metric-item label {
  display: block;
  font-size: 13px;
  margin-top: 4px;
}
.ts-metric-item .ts-round-progress-bar-wrap {
  clear: both;
  float: none;
}
.ts-metric-item .ts-round-progress-bar-wrap .overlay {
  font-size: 33px;
}
.ts-metric-item .ts-round-progress-bar-wrap .caption-suffix {
  font-size: 16px;
  position: absolute;
  top: -4px;
}
