.historyMessageWrap.historyPortalMessageWrap .messageContent {
  background-color: #f0f6fd;
}
.historyMessageWrap.historyPortalMessageWrap .messageContent .messageHeader {
  min-height: 20px;
}
.historyMessageWrap.historyPortalMessageWrap .messageContent .portalMessageVisibilityContainer .portalMessageVisibilityLabel {
  font-size: 12px;
  color: #4e7bd8;
  cursor: pointer;
}
.historyMessageWrap.historyPortalMessageWrap .messageContent .portalMessageVisibilityContainer .portalMessageVisibilityLabel:hover {
  text-decoration: underline;
}
.historyMessageWrap.historyPortalMessageWrap .messageContent.speech-bubble::after {
  border-color: transparent #f0f6fd;
}
.historyPortalMessageWrap[data-item-marker="IncomingPortalHistoryMessageWrapContainer"] .createdByImage {
  float: right;
}
.historyPortalMessageWrap[data-item-marker="IncomingPortalHistoryMessageWrapContainer"] .messageContent {
  margin: 0 54px 0 85px;
}
.historyPortalMessageWrap[data-item-marker="IncomingPortalHistoryMessageWrapContainer"] .messageContent::after {
  left: auto;
  right: -16px;
  border-width: 0 0 16px 16px;
}
.historyV2-message-footer-container .portalMessage-visibility-container {
  margin-left: 0;
  margin-right: auto;
  width: max-content;
  padding-top: 10px;
  float: left;
  display: inline-block;
}
.historyV2-message-footer-container .portalMessage-visibility-container .visibilityIcon {
  width: 16px;
  height: 16px;
  margin-left: 8px;
  vertical-align: bottom;
  display: inline-block;
}
.historyV2-message-footer-container .portalMessage-visibility-container .visibilityIcon img {
  width: 16px;
  height: 16px;
  margin: 0;
}
.historyV2-message-footer-container .portalMessage-visibility-container .portalMessageVisibilityLabel {
  font-size: 12px;
  color: #4e7bd8;
  cursor: pointer;
}
.historyV2-message-footer-container .portalMessage-visibility-container .portalMessageVisibilityLabel:hover {
  text-decoration: underline;
}
