body[OldUI=false] .schema-wrap.one-el {
  min-width: 0;
}
body[OldUI=false] .schema-wrap.one-el .card-content-container.designer {
  margin-top: 0px;
}
.label-caption .tip-label-wrap,
.is-value-cloneable .tip-label-wrap {
  text-align: start !important;
}
.label-caption .label-wrap,
.is-value-cloneable .label-wrap {
  justify-content: flex-start !important;
}
.modal-box-schema-module-content.schema-wrap {
  max-height: 430px !important;
}
