.leadgen-settings-panel .base-edit {
  padding-right: 0px;
  padding-left: 0px;
}
.leadgen-settings-panel .base-edit-focus {
  border-right: none;
  border-left: none;
  border-top: none;
}
.leadgen-settings-panel .grid-layout-row {
  min-height: 0px !important;
}
.leadgen-settings-panel .grid-layout-row .grid-layout-column {
  min-height: 0px !important;
}
.leadgen-settings-panel .header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.leadgen-settings-panel .header-container .header-container-icon {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 0.3em 0 0 0;
  width: 1.6em;
  height: 1.6em;
}
.leadgen-settings-panel .header-container .header-container-label {
  color: #006CE0;
  font-size: 1.5em;
  margin-inline-start: 0.3em;
  margin-inline-end: 0.3em;
  white-space: nowrap;
}
.leadgen-settings-panel .header-container .header-container-toggle {
  margin-top: 2px;
}
.leadgen-settings-panel .leadgen-settings-section-panel .section-panel-label {
  direction: inherit;
  padding-top: 12px;
  padding-bottom: 12px;
}
.leadgen-settings-panel .leadgen-settings-section-panel .field-wrapper {
  padding-bottom: 8px;
}
.leadgen-settings-panel .leadgen-settings-section-panel .field-wrapper .field-label {
  direction: inherit;
  color: #999999;
}
.leadgen-settings-panel .leadgen-settings-section-panel .action-buttons-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.leadgen-settings-panel .leadgen-settings-section-panel .action-buttons-wrapper.reverse {
  flex-direction: row-reverse;
}
.leadgen-settings-panel .leadgen-settings-section-panel .button-wrapper {
  padding: 0.7em 0 0 0 !important;
  display: flex;
  flex-direction: row;
}
.leadgen-settings-panel .leadgen-settings-section-panel .button-image {
  position: relative !important;
  right: 0;
  top: 0.1em;
}
.leadgen-settings-panel .leadgen-settings-section-panel .button-text {
  font-size: 1em;
  padding: 0.2em;
  color: #8aa0cf;
}
