.sync-settings-errors {
  width: 350px;
}
.sync-settings-errors .schema-wrap.one-el {
  min-width: 350px;
}
.sync-settings-errors .sync-error {
  background-color: #ffede9;
}
.sync-settings-errors .sync-warning {
  background-color: #FFFAE6;
}
.sync-settings-errors .sync-error,
.sync-settings-errors .sync-warning {
  width: 338px;
  min-width: 338px;
  box-sizing: border-box;
  margin-top: 2px;
  margin-left: 0;
  margin-bottom: 0;
  margin-right: 0;
  padding-top: 1px;
  padding-left: 5px;
  padding-bottom: 1px;
  padding-right: 5px;
}
.sync-settings-errors .sync-error .t-label,
.sync-settings-errors .sync-warning .t-label {
  display: inline-block;
  padding-top: 5px;
  padding-left: 5px;
  padding-bottom: 1px;
  padding-right: 5px;
}
.sync-settings-errors .sync-error .change-sync-settings-button,
.sync-settings-errors .sync-warning .change-sync-settings-button,
.sync-settings-errors .sync-error .oauth-authenticate-button,
.sync-settings-errors .sync-warning .oauth-authenticate-button,
.sync-settings-errors .sync-error .link-to-exchange-listener-service-academy-button,
.sync-settings-errors .sync-warning .link-to-exchange-listener-service-academy-button {
  color: #006CE0;
  padding-top: 0;
  padding-left: 0;
  padding-bottom: 5px;
  padding-right: 5px;
  width: auto;
}
.sync-settings-errors.calendar-sync-errors,
.sync-settings-errors.email-publisher-sync-errors {
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
}
.sync-settings-errors.calendar-sync-errors .sync-error,
.sync-settings-errors.email-publisher-sync-errors .sync-error {
  border: 1px solid #DF1F26;
}
.sync-settings-errors.calendar-sync-errors .sync-warning,
.sync-settings-errors.email-publisher-sync-errors .sync-warning {
  border: 1px solid #F6C70A;
}
.sync-settings-errors.calendar-sync-errors .sync-error,
.sync-settings-errors.email-publisher-sync-errors .sync-error,
.sync-settings-errors.calendar-sync-errors .sync-warning,
.sync-settings-errors.email-publisher-sync-errors .sync-warning {
  width: 100%;
  border-radius: 3px;
  display: table;
  padding: 10px 0 10px 10px;
  margin-bottom: 8px;
}
.sync-settings-errors.calendar-sync-errors .sync-error > :first-child,
.sync-settings-errors.email-publisher-sync-errors .sync-error > :first-child,
.sync-settings-errors.calendar-sync-errors .sync-warning > :first-child,
.sync-settings-errors.email-publisher-sync-errors .sync-warning > :first-child {
  display: table-cell;
  width: 45px;
  padding: 2px 16px 0 0;
}
.sync-settings-errors.calendar-sync-errors .sync-error > :nth-child(2),
.sync-settings-errors.email-publisher-sync-errors .sync-error > :nth-child(2),
.sync-settings-errors.calendar-sync-errors .sync-warning > :nth-child(2),
.sync-settings-errors.email-publisher-sync-errors .sync-warning > :nth-child(2) {
  display: inline;
  padding-right: 0;
}
.sync-settings-errors.calendar-sync-errors .sync-error > :nth-child(n+3),
.sync-settings-errors.email-publisher-sync-errors .sync-error > :nth-child(n+3),
.sync-settings-errors.calendar-sync-errors .sync-warning > :nth-child(n+3),
.sync-settings-errors.email-publisher-sync-errors .sync-warning > :nth-child(n+3) {
  display: inline;
  text-align: right;
}
.sync-settings-errors.calendar-sync-errors .sync-error span.t-btn-text.change-sync-settings-button,
.sync-settings-errors.email-publisher-sync-errors .sync-error span.t-btn-text.change-sync-settings-button,
.sync-settings-errors.calendar-sync-errors .sync-warning span.t-btn-text.change-sync-settings-button,
.sync-settings-errors.email-publisher-sync-errors .sync-warning span.t-btn-text.change-sync-settings-button,
.sync-settings-errors.calendar-sync-errors .sync-error span.t-btn-text.oauth-authenticate-button,
.sync-settings-errors.email-publisher-sync-errors .sync-error span.t-btn-text.oauth-authenticate-button,
.sync-settings-errors.calendar-sync-errors .sync-warning span.t-btn-text.oauth-authenticate-button,
.sync-settings-errors.email-publisher-sync-errors .sync-warning span.t-btn-text.oauth-authenticate-button {
  line-height: 1.4em;
}
.sync-settings-errors.calendar-sync-errors .sync-error .t-label,
.sync-settings-errors.email-publisher-sync-errors .sync-error .t-label,
.sync-settings-errors.calendar-sync-errors .sync-warning .t-label,
.sync-settings-errors.email-publisher-sync-errors .sync-warning .t-label {
  width: auto;
}
.sync-settings-errors.sync-settings-errors-tip .selectable,
.sync-settings-errors.sync-settings-errors-panel .selectable {
  margin-bottom: 8px;
}
.sync-settings-errors.sync-settings-errors-tip .selectable:last-of-type,
.sync-settings-errors.sync-settings-errors-panel .selectable:last-of-type {
  margin-bottom: 0;
}
.sync-settings-errors.sync-settings-errors-tip .sync-error,
.sync-settings-errors.sync-settings-errors-panel .sync-error {
  border: 1px solid #DF1F26;
}
.sync-settings-errors.sync-settings-errors-tip .sync-warning,
.sync-settings-errors.sync-settings-errors-panel .sync-warning {
  border: 1px solid #F6C70A;
}
.sync-settings-errors.sync-settings-errors-tip .sync-error,
.sync-settings-errors.sync-settings-errors-panel .sync-error,
.sync-settings-errors.sync-settings-errors-tip .sync-warning,
.sync-settings-errors.sync-settings-errors-panel .sync-warning {
  display: grid;
  grid-template-columns: 10% 85%;
  border-radius: 2px;
}
.sync-settings-errors.sync-settings-errors-tip .sync-error > :first-child,
.sync-settings-errors.sync-settings-errors-panel .sync-error > :first-child,
.sync-settings-errors.sync-settings-errors-tip .sync-warning > :first-child,
.sync-settings-errors.sync-settings-errors-panel .sync-warning > :first-child {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column: 1;
  padding-top: 8px;
}
.sync-settings-errors.sync-settings-errors-tip .sync-error > :nth-child(2),
.sync-settings-errors.sync-settings-errors-panel .sync-error > :nth-child(2),
.sync-settings-errors.sync-settings-errors-tip .sync-warning > :nth-child(2),
.sync-settings-errors.sync-settings-errors-panel .sync-warning > :nth-child(2) {
  grid-column: 2;
  grid-row: 1;
}
.sync-settings-errors.sync-settings-errors-tip .sync-error > :nth-child(n+3),
.sync-settings-errors.sync-settings-errors-panel .sync-error > :nth-child(n+3),
.sync-settings-errors.sync-settings-errors-tip .sync-warning > :nth-child(n+3),
.sync-settings-errors.sync-settings-errors-panel .sync-warning > :nth-child(n+3) {
  grid-column: 2;
  text-align: right;
  margin-top: 10px;
}
.sync-settings-errors.sync-settings-errors-panel .sync-error,
.sync-settings-errors.sync-settings-errors-panel .sync-warning {
  padding: 10px;
  margin-bottom: 8px;
}
body[OldUI=false] .center-main-container > div.email-publisher-sync-errors {
  width: 100%;
  padding-top: 0;
  padding-left: 1px;
  padding-bottom: 0;
  padding-right: 0;
  box-sizing: border-box;
  border: none;
  border-radius: 0;
  margin-bottom: 0;
  background: none;
}
.data-views-container-wrapClass .sync-settings-errors.calendar-sync-errors {
  height: auto;
}
.tip-red.align-left[data-item-marker="SyncErrorsTip"] .tip-anchor {
  top: 33px;
}
[dir=rtl] .sync-settings-errors.calendar-sync-errors .sync-error > :nth-child(n+3),
[dir=rtl] .sync-settings-errors.email-publisher-sync-errors .sync-error > :nth-child(n+3),
[dir=rtl] .sync-settings-errors.sync-settings-errors-tip .sync-error > :nth-child(n+3),
[dir=rtl] .sync-settings-errors.sync-settings-errors-panel .sync-error > :nth-child(n+3),
[dir=rtl] .sync-settings-errors.calendar-sync-errors .sync-warning > :nth-child(n+3),
[dir=rtl] .sync-settings-errors.email-publisher-sync-errors .sync-warning > :nth-child(n+3),
[dir=rtl] .sync-settings-errors.sync-settings-errors-tip .sync-warning > :nth-child(n+3),
[dir=rtl] .sync-settings-errors.sync-settings-errors-panel .sync-warning > :nth-child(n+3) {
  text-align: inherit;
}
[dir=rtl] .sync-settings-errors.calendar-sync-errors .sync-error span.t-btn-text.change-sync-settings-button,
[dir=rtl] .sync-settings-errors.email-publisher-sync-errors .sync-error span.t-btn-text.change-sync-settings-button,
[dir=rtl] .sync-settings-errors.calendar-sync-errors .sync-error span.t-btn-text.oauth-authenticate-button,
[dir=rtl] .sync-settings-errors.email-publisher-sync-errors .sync-error span.t-btn-text.oauth-authenticate-button {
  line-height: 1.7em;
}
