.select-single-page-modal-box .warning-message-container {
  position: relative;
  padding: 1em 30px 1em 0px;
}
.select-single-page-modal-box .warning-message-container .t-btn-wrapper {
  padding: 0px;
  position: absolute;
  top: 0.75em;
  right: 0px;
}
.select-single-page-modal-box .warning-message-container .t-btn-wrapper .t-btn-image {
  width: 20px;
  height: 20px;
}
.select-single-page-modal-box .warning-message-container .label-wrap {
  width: 60%;
  max-width: 21em;
}
.select-single-page-modal-box .warning-message-container .control-wrap {
  margin-right: -22em;
  padding-right: 22em;
  width: 100%;
}
.select-single-page-modal-box .button-container .t-btn-wrapper {
  margin-left: 1em;
  margin-top: 1.5em;
}
#SysModuleEntitySelectSinglePageModalBoxContainer {
  height: auto;
  overflow-y: auto;
}
