.base-edit-voice-to-text {
	width: 16px;
	height: 15px;
	cursor: pointer;
}

.base-edit .base-edit-voice-to-text-wrapper {
	display: none;
}

.base-edit .base-edit-voice-to-text {
	position: absolute;
	top: 5px;
	right: 0;
}

.base-edit:hover .base-edit-voice-to-text-wrapper {
	display: block;
}

.base-edit.base-edit-focus .base-edit-voice-to-text-wrapper {
	display: block;
}

.base-edit.base-edit-with-right-icon .base-edit-voice-to-text {
	right: 22px;
}

.base-edit.base-edit-with-right-icon.base-edit-with-clear-icon .base-edit-voice-to-text {
	right: 44px;
}

.base-edit.base-edit-with-right-icon.base-edit-with-clear-icon.clear-icon-not-visible .base-edit-voice-to-text {
	right: 22px;
}
