.schema-designer .using-container > * > .ts-controlgroup-marker-wrap {
	display: inline-block;
}

.schema-designer .using-container .t-btn-disabled {
	opacity: 0.2 !important;
}

.schema-designer-left-panel-collapsed {
	min-width: 71px;
	width: 71px;
}

.schema-designer-left-panel-collapsed .manager-items {
	min-width: 71px;
	width: 71px;
}
