.t-label-tip {
	position: absolute;
	width: 0;
	height: 0;
	border-style: solid double double double;
	border-top-width: 0.7em;
	border-right-width: 0.7em;
	border-bottom-width: 0;
	border-left-width: 0;
	border-color: #94DE35 transparent transparent transparent;
}

.tip-label-wrap > .t-label-tip-wrap,
.tip-label-wrap > label.t-label {
	display: inline;
}

.tip-label-wrap {
	text-align: right;
}
.t-label-tip-wrap {
	padding-right: 0.6em;
}

.tip-label-wrap > label.t-label {
	width: auto;
	float: none;
	white-space: normal;
}