.djs-context-pad.open {
    box-shadow: 0 3px 6px 0 rgba(0,0,0,.16);
    background: #fff;
}

.load-storage-panel, .message-panel {
    margin: 0 0 0 70px!important;
}

.formula-modal-box {

	.modal-page-fixed-container .mapping-tab .grid-listed-icon-16x16 {
		box-sizing: content-box;
	}

	.title {
		font: inherit;
	}
}

.diagram .material-icons {
	font-family: 'bpmonline designer icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	line-height: 1;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	font-feature-settings: "liga" 1;
}
