.toggle-wrap {
	position: relative;
	display: block;
	vertical-align: top;
	width: 32px;
	height: 16px;
	padding: 3px;
	border-radius: 18px;
	cursor: pointer;
}

.toggle-input {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
}

.toggle-label {
	position: relative;
	display: block;
	height: inherit;
	font-size: 10px;
	background: #d7d7d7;
	border-radius: inherit;
}

.t-checkboxedit-disabled .toggle-input {
	background-color: #f9f9f9;
}

.toggle-label:before, .toggle-label:after {
	position: absolute;
	top: 50%;
	margin-top: -.5em;
	line-height: 1;
	-webkit-transition: inherit;
	-moz-transition: inherit;
	-o-transition: inherit;
	transition: inherit;
}

.toggle-label:before {
	right: 11px;
	color: #aaaaaa;
	text-shadow: 0 1px rgba(255, 255, 255, 0.5);
}

.toggle-label:after {
	left: 11px;
	color: #ffffff;
	opacity: 0;
}

.t-checkboxedit-checked .toggle-label {
	background: #006CE0;
}

.t-checkboxedit-disabled .toggle-label {
	background-color: #d7d7d7;
}

.t-checkboxedit-checked .toggle-label:before {
	opacity: 0;
}

.t-checkboxedit-checked .toggle-label:after {
	opacity: 1;
}

.toggle-handle {
	position: absolute;
	top: 5px;
	left: 5px;
	width: 12px;
	height: 12px;
	border-radius: 100%;
	background: #ffffff;
}

.toggle-handle:before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -6px 0 0 -6px;
	width: 12px;
	height: 12px;
	border-radius: 6px;
}

.t-checkboxedit-checked .toggle-handle {
	left: 20px;
	background: #ffffff;
}

.toggle-label, .toggle-handle {
	transition: All 0.3s ease;
	-webkit-transition: All 0.3s ease;
	-moz-transition: All 0.3s ease;
	-o-transition: All 0.3s ease;
}

.t-checkboxedit-disabled .toggle-handle {
	background: #d7d7d7;
	width: 8px;
	height: 8px;
	border: 2px solid white;
}

.toggle-wrap.t-checkboxedit-focus .toggle-label {
	background: #b2b2b2;
}

.toggle-wrap.t-checkboxedit-focus.t-checkboxedit-checked .toggle-label {
	background: #0258b5;
}