.content-container-wrap {
	margin: 20px;
	width: 600px;
}

.package-url-text-edit {
	width: 282px;
	margin: 10px;
	margin-right: 0;
}

.package-url-label {
	width: 90px;
	margin: 12px;
	margin-right: 0;
}

.content-container-wrap span {
	margin: 10px;
}