.grid, .grid * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.grid:focus {
	outline-style: none;
}

.cell img {
	float: left;
}

.grid:before, .grid:after, .row:before, .row:after {
	content: "";
	display: table;
	clear: both;
}

[class*='cols-'] {
	float: left;
	overflow: hidden;
}

.row-outside {
	padding-top: 30px;
}

.row-inside {
	padding-bottom: 25px;
}

.line-top {
	border-top: 1px solid #e4e4e4;
}

.cols-1  { width: 8.33%; }
.cols-2  { width: 16.6666667%; }
.cols-3  { width: 25%; }
.cols-4  { width: 33.3333333%; }
.cols-5  { width: 41.6666667%; }
.cols-6  { width: 50%; }
.cols-7  { width: 58.3333333%; }
.cols-8  { width: 66.6666667%; }
.cols-9  { width: 75%; }
.cols-10 { width: 83.3333333%; }
.cols-11 { width: 91.6666667%; }
.cols-12 { width: 100%; }

.before-1  { margin-left: 8.33%; }
.before-2  { margin-left: 16.6666667%; }
.before-3  { margin-left: 25%; }
.before-4  { margin-left: 33.3333333%; }
.before-5  { margin-left: 41.6666667%; }
.before-6  { margin-left: 50%; }
.before-7  { margin-left: 58.3333333%; }
.before-8  { margin-left: 66.6666667%; }
.before-9  { margin-left: 75%; }
.before-10 { margin-left: 83.3333333%; }
.before-11 { margin-left: 91.6666667%; }

.push-1  { padding-left: 8.33%; }
.push-2  { padding-left: 16.6666667%; }
.push-3  { padding-left: 25%; }
.push-4  { padding-left: 33.3333333%; }
.push-5  { padding-left: 41.6666667%; }
.push-6  { padding-left: 50%; }
.push-7  { padding-left: 58.3333333%; }
.push-8  { padding-left: 66.6666667%; }
.push-9  { padding-left: 75%; }
.push-10 { padding-left: 83.3333333%; }
.push-11 { padding-left: 91.6666667%; }

.after-1  { margin-right: 8.33%; }
.after-2  { margin-right: 16.6666667%; }
.after-3  { margin-right: 25%; }
.after-4  { margin-right: 33.3333333%; }
.after-5  { margin-right: 41.6666667%; }
.after-6  { margin-right: 50%; }
.after-7  { margin-right: 58.3333333%; }
.after-8  { margin-right: 66.6666667%; }
.after-9  { margin-right: 75%; }
.after-10 { margin-right: 83.3333333%; }
.after-11 { margin-right: 91.6666667%; }

.pull-1  { padding-right: 8.33%; }
.pull-2  { padding-right: 16.6666667%; }
.pull-3  { padding-right: 25%; }
.pull-4  { padding-right: 33.3333333%; }
.pull-5  { padding-right: 41.6666667%; }
.pull-6  { padding-right: 50%; }
.pull-7  { padding-right: 58.3333333%; }
.pull-8  { padding-right: 66.6666667%; }
.pull-9  { padding-right: 75%; }
.pull-10 { padding-right: 83.3333333%; }
.pull-11 { padding-right: 91.6666667%; }