:root {
	--crt-loading-page-logo-image-width: 197px;
	--crt-loading-page-logo-image-height: 57.805px;
	--crt-loading-page-background-123: transparent
		linear-gradient(123deg, #000631 0%, #070022 31%, #14022c 54%, #140027 75%, #030c39 100%) 0 0 no-repeat
		padding-box;
}

@keyframes hide-opacity-animation {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

#loading-animation {
	position: fixed;
	height: 100vh;
	width: 100vw;
	z-index: 2500;
	background: var(--crt-loading-page-background-123);
}

.mountains-image {
	position: fixed;
	bottom: 0;
	width: 100%;
	will-change: translate;
}

#logo-image-container {
	position: fixed;
	left: 50%;
	bottom: 50%;
	transform: translate(-50%, 0%);
	overflow: hidden;
	height: 58px;
	z-index: -1;
}

@keyframes verticalLogoSlider {
	14.28% {
		transform: translate(0, -57.805px);
	}
	28.56% {
		transform: translate(0, -115.61px);
	}
	42.84% {
		transform: translate(0, -173.415px);
	}
	57.12% {
		transform: translate(0, -231.22px);
	}
	71.4% {
		transform: translate(0, -289.025px);
	}
	85.68% {
		transform: translate(0, -346.83px);
	}
}

#logo-image {
	width: var(--crt-loading-page-logo-image-width);
	height: var(--crt-loading-page-logo-image-height);
}

@keyframes verticalOpacitySlider {
	0% {
		transform: translate(-225px, 0);
	}
	75% {
		transform: translate(-5px, 0);
	}
}

#progress-animation {
	animation: verticalOpacitySlider 4s steps(30, end) infinite;
	will-change: translate;
	width: 460px;
	height: 62px;
	display: flex;
	-webkit-filter: blur(5px);
	filter: blur(5px);
}

#progress-animation-container {
	width: var(--crt-loading-page-logo-image-width);
	height: var(--crt-loading-page-logo-image-height);
	left: 50%;
	bottom: 50%;
	position: fixed;
	transform: translate(-50%, 0);
	overflow: hidden;
}

.trolley-background {
	background: var(--crt-loading-page-background-123);
}

#trolley1 {
	width: 45%;
	height: 100%;
	opacity: 0.5;
}

#trolley2-transparent {
	width: 10%;
	height: 100%;
	opacity: 0;
}

#trolley3 {
	opacity: 0.5;
	width: 45%;
	height: 100%;
}

#loading-animation.alm-color,
.trolley-background.alm-color {
	background: #fff;
}
