<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="terrasoft" type="Terrasoft.Core.AppConfigurationSectionGroup, Terrasoft.Core">
			<sectionGroup name="resources" type="Terrasoft.Common.ResourceConfigurationSectionGroup, Terrasoft.Common">
				<section name="cultures" type="Terrasoft.Common.ResourceCulturesSection, Terrasoft.Common" requirePermission="false" />
				<section name="generalSettings" type="Terrasoft.Common.ResourceGeneralSettingsSection, Terrasoft.Common" requirePermission="false" />
			</sectionGroup>
			<section name="managers" type="Terrasoft.Core.ManagerProviderConfigurationSection, Terrasoft.Core" requirePermission="false" />
			<section name="schemaManagers" type="Terrasoft.Core.SchemaManagerProviderConfigurationSection, Terrasoft.Core" requirePermission="false" />
			<sectionGroup name="db" type="Terrasoft.Core.DB.DBConfigurationSectionGroup, Terrasoft.Core">
				<section name="general" type="Terrasoft.Core.DB.DBConfigurationSection, Terrasoft.Core" requirePermission="false" />
				<section name="mssql" type="Terrasoft.DB.MSSql.MSSqlConfigurationSection, Terrasoft.DB.MSSql" requirePermission="false" />
				<section name="oracle" type="Terrasoft.DB.Oracle.OracleConfigurationSection, Terrasoft.DB.Oracle" requirePermission="false" />
			</sectionGroup>
		</sectionGroup>
	</configSections>
	<terrasoft>
		<resources>
			<cultures>
				<culture name="ru-Ru" />
				<culture name="en-US" />
			</cultures>
			<generalSettings resourceDirectory=".\Resources" />
		</resources>
		<managers>
			<manager scope="app" name="DataValueTypeManager" type="Terrasoft.Core.DataValueTypeManager, Terrasoft.Core" />
			<manager scope="app" name="SystemValueManager" type="Terrasoft.Core.SystemValueManager, Terrasoft.Core" />
			<manager scope="user" name="ProfileManager" type="Terrasoft.Core.Profiles.ProfileManager, Terrasoft.Core" />
			<manager scope="app" name="DesignModeValuesProviderManager" type="Terrasoft.Core.DesignModeValuesProviderManager, Terrasoft.Core" />
			<manager scope="app" name="PageSchemaControlTypeManager" type="Terrasoft.UI.WebControls.PageSchemaControlTypeManager, Terrasoft.UI.WebControls" />
			<manager scope="user" name="ProcessSchemaElementManager" type="Terrasoft.Core.Process.ProcessSchemaElementManager, Terrasoft.Core" />
			<manager scope="user" name="ProfileManager" type="Terrasoft.Core.Profiles.ProfileManager, Terrasoft.Core" />
			<manager scope="user" name="DBMetaActionManager" type="Terrasoft.Core.DB.DBMetaActionManager, Terrasoft.Core" />
		</managers>
		<schemaManagers>
			<manager name="EntitySchemaManager" type="Terrasoft.Core.Entities.EntitySchemaManager, Terrasoft.Core" />
			<manager name="ProcessUserTaskSchemaManager" type="Terrasoft.Core.Process.ProcessUserTaskSchemaManager, Terrasoft.Core" />
			<manager name="ProcessSchemaManager" type="Terrasoft.Core.Process.ProcessSchemaManager, Terrasoft.Core" />
			<manager name="DcmSchemaManager" type="Terrasoft.Core.DcmProcess.DcmSchemaManager, Terrasoft.Core" />
			<manager name="PageSchemaManager" type="Terrasoft.UI.WebControls.PageSchemaManager, Terrasoft.UI.WebControls" />
			<manager name="ImageListSchemaManager" type="Terrasoft.Core.ImageListSchemaManager, Terrasoft.Core" />
			<manager name="ReportSchemaManager" type="Terrasoft.Reports.ReportSchemaManager, Terrasoft.Reports" />
			<manager name="SourceCodeSchemaManager" type="Terrasoft.Core.SourceCodeSchemaManager, Terrasoft.Core" />
			<manager name="ValueListSchemaManager" type="Terrasoft.Core.ValueListSchemaManager, Terrasoft.Core" />
			<manager name="ClientUnitSchemaManager" type="Terrasoft.Core.ClientUnitSchemaManager, Terrasoft.Core" />
			<manager name="AddonSchemaManager" type="Terrasoft.Core.Addons.AddonSchemaManager, Terrasoft.Core" />
		</schemaManagers>
		<db>
			<general connectionStringName="mssqlUnitTest" currentSchemaName="dbo" securityEngineType="Terrasoft.DB.MSSql.MSSqlSecurityEngine, Terrasoft.DB.MSSql" executorType="Terrasoft.DB.MSSql.MSSqlExecutor, Terrasoft.DB.MSSql" engineType="Terrasoft.DB.MSSql.MSSqlEngine, Terrasoft.DB.MSSql" metaEngineType="Terrasoft.DB.MSSql.MSSqlMetaEngine, Terrasoft.DB.MSSql" metaScriptType="Terrasoft.DB.MSSql.MSSqlMetaScript, Terrasoft.DB.MSSql" typeConverterType="Terrasoft.DB.MSSql.MSSqlTypeConverter, Terrasoft.DB.MSSql" binaryPackageSize="1048576" />
			<!--<general securityEngineType="Terrasoft.DB.Oracle.OracleSecurityEngine, Terrasoft.DB.Oracle"
					executorType="Terrasoft.DB.Oracle.OracleManagedExecutor, Terrasoft.DB.Oracle"
					engineType="Terrasoft.DB.Oracle.OracleEngine, Terrasoft.DB.Oracle"
					metaEngineType="Terrasoft.DB.Oracle.OracleMetaEngine, Terrasoft.DB.Oracle"
					metaScriptType="Terrasoft.DB.Oracle.OracleMetaScript, Terrasoft.DB.Oracle"
					typeConverterType="Terrasoft.DB.Oracle.OracleTypeConverter, Terrasoft.DB.Oracle"
					connectionStringName="oracleUnitTest" binaryPackageSize="1048576"
					currentSchemaName="BPMONLINE500UNITTEST">
			</general>-->
		</db>
	</terrasoft>
	<connectionStrings>
		<add name="xtraReports" connectionString="XpoProvider=MSSqlServer;Data Source=tscore-ms-01\MSSQL2008;Initial Catalog=BPMonlineSolution;User ID=Supervisor;Password=masterkey" />
		<add name="mssqlSolution" connectionString="Data Source=tscore-ms-01\MSSQL2008; Initial Catalog=BPMonlineSolution; Persist Security Info=True; MultipleActiveResultSets=True; Integrated Security = true" />
		<add name="mssqlCore" connectionString="Data Source=tscore-ms-01\mssql2008; Initial Catalog=BPMonlineCore; Persist Security Info=True; MultipleActiveResultSets=True; Integrated Security = true" />
		<add name="mssqlUnitTest" connectionString="Data Source=tscore-ms-01\mssql2008; Initial Catalog=BPMonlineUnitTest; Persist Security Info=True; MultipleActiveResultSets=True; Integrated Security = true" />
		<add name="oracleUnitTest" connectionString="Data Source=(DESCRIPTION = (ADDRESS_LIST = (ADDRESS = (PROTOCOL = TCP)(HOST = TSCoreOra10.tscrm.com)(PORT = 1521))) (CONNECT_DATA = (SERVICE_NAME = TSOra10) (SERVER = DEDICATED)));User Id=BPMonlineUNITTEST;Password=BPMonlineUNITTEST;" />
	</connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.4.1.0" newVersion="3.4.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.4.1.0" newVersion="3.4.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
