<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">
	<targets>
		<target name="file" xsi:type="File"
				layout="[${date:format=HH\:mm\:ss}] ${message} ${exception:format=toString,Data}"
				fileName="${gdc:item=logPath}/log_${gdc:item=operation}_${processinfo:property=StartTime:format=yyyy_MM_dd_HH_mm_ss}.txt"
				keepFileOpen="true"
				encoding="utf-8" />
		<target name="console" xsi:type="FilteringWrapper"
				condition="level >= LogLevel.Info">
			<target name="consoleAll" xsi:type="ColoredConsole"
					layout="${message}">
				<highlight-row condition="level == LogLevel.Info" foregroundColor="Green" />
				<highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
				<highlight-row condition="level >= LogLevel.Error" foregroundColor="Red" />
			</target>
		</target>
	</targets>
	<rules>
		<logger name="*" writeTo="file" minlevel="Warn" />
		<logger name="Build" writeTo="file" minlevel="Info" />
		<logger name="Operation" writeTo="console,file" />
		<logger name="Terrasoft.Core.Packages.PackageDBResourcesStorage" writeTo="file" minlevel="Info" />
		<logger name="Terrasoft.Core.Packages.PackageResourcesStorage" writeTo="file" minlevel="Info" />
		<logger name="DbFeatureStateChanger" writeTo="console,file" minlevel="Info" />
		<logger name="DebugInstallData" writeTo="file" enabled="false" />
		<logger name="ProcessDesignLog" writeTo="console,file" />
		<logger name="InstallZipPackage" writeTo="console,file" minlevel="Info" />
		<logger name="AppInfoSynchronization" writeTo="console,file" minlevel="Info" />
		<logger name="ConfigurationBuild" writeTo="console,file" minlevel="Info" />
		<logger name="Packages" writeTo="console,file" minlevel="Info" />
		<logger name="Terrasoft.Tools.WorkspaceConsole.Operations.RegenerateAdditionalSourcesOperation" writeTo="console,file" />
		<logger name="ExecuteScript" writeTo="console,file" minlevel="Info" final="true"/>
	</rules>
</nlog>