@import "base-fonts-rules";

body.x-body {
	overflow-x: hidden;
}

body.x-body .ts-messagebox-caption {
	.fonts-default-light;
}

.openid-login-label-logo .ts-image-edit-inner-container img {
	position: fixed;
	width: 310px;
}